.collage {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 5%;
    margin-bottom: 5em;

    img {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.515));
        width: 100% !important;
        max-width: unset !important;
        max-height: 35em !important;
        margin-bottom: 0;

        &::before {
            content: attr(data-title);
        }

        + span {
            margin-top: 0;
        }
    }

    &.one {
        grid-template-columns: 1fr;
        gap : 0;

        img{
            object-fit : contain;
        }
    }

    &.one-two {
        grid-template-columns: 50% 50%;

        &.reverse {
            grid-template-columns: 40% 59%;
        }
    }

    &.three {
        grid-template-columns: repeat(3, auto);
    }

    &.four {
        grid-template-columns: repeat(4, auto);
    }

    &.five {
        grid-template-columns: repeat(5, auto);
    }



    @media (max-width: 698px) {
        &.one-sm {
            grid-template-columns: 1fr;
        }

        &.two-sm {
            grid-template-columns: repeat(2, auto);
        }

        &.three-sm {
            grid-template-columns: repeat(3, auto);
        }

        &.four-sm {
            grid-template-columns: repeat(4, auto);
        }

        &.five-sm {
            grid-template-columns: repeat(5, auto);
        }
    }
}
