@mixin title {
  color: var(--h);
  --borderlength: 1.5rem;
  font-weight: bold;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(
    to right,
    transparent 0% calc(100% - var(--borderlength)),
    var(--h_compliment) calc(100% - var(--borderlength)) 100%
  );
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  font-size: 1.45rem;
  margin-bottom: 1rem;

  span {
    color: var(--h_compliment);
  }

  &.center {
    text-align: center;
    border: none;
    position: relative;
    margin-bottom: 2em !important;

    &::after {
      content: "";
      display: block;
      height: 1em;
      width: 0.1em;
      background-color: var(--h_compliment);
      position: absolute;
      top: calc(100% + 0.2em);
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

@mixin subtitle {
    color: var(--h);
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
    --h_compliment: #87c8ff;

    &.center {
        text-align: center;
        border: none;
        position: relative;
        margin-bottom: 2em !important;

        &::after {
            content: "";
            display: block;
            height: 1em;
            width: 0.1em;
            background-color: var(--h_compliment);
            position: absolute;
            top: calc(100% + 0.2em);
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.themeTitle, .themeSubtitle {
    @include title;
}
.themeSubtitle {
    @include subtitle;
}