@charset "UTF-8";
/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
@media only screen and (max-width: 1200px) {
  .Qcomment .contain header::before {
    width: 4em;
  }
  .Qcomment .contain header::after {
    left: 0.5em;
  }
  .Qcomment .replyModal .content {
    width: 93%;
  }
}
/* Large devices (laptops/desktops, 992px till 769 and down) */
@media only screen and (max-width: 992px) {
  .Qcomment .contain header::after {
    width: 2.5em;
  }
  .Qcomment .contain header::before {
    width: 2.7em;
    height: 4.5em;
  }
  .Qcomment .replyModal .content {
    padding-bottom: 1.5em;
  }
  .Qcomment .replyModal .content .reply {
    display: block;
    width: 100%;
  }
  .Qcomment .replyModal .content button {
    display: block;
    float: none;
    margin: 1em auto;
    margin-bottom: 0;
  }
}
/* Medium devices (landscape tablets, 768px till 601 and down) */
@media only screen and (max-width: 768px) {
  .Qcomment .contain header {
    padding: 1em;
    text-align: left;
    font-size: 4.5em;
  }
  .Qcomment .contain header::after {
    display: none;
  }
  .Qcomment .contain header::before {
    height: 3.5em;
  }
  .Qcomment .contain .forms .formTab {
    margin-right: 2em;
  }
  .Qcomment .contain .forms .send {
    padding: 1em 6em;
    padding-right: 6em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .Qcomment .contain .question > span, .Qcomment .contain .answer > span {
    max-width: unset;
  }
  .Qcomment .replyModal .content {
    padding-right: 2em;
    padding-left: 2em;
    width: 96%;
    height: max-content;
  }
  .Qcomment .replyModal .content .reply {
    width: 100%;
  }
  .Qcomment .replyModal .question > span, .Qcomment .replyModal .Qcomment .answer > span {
    max-width: calc(100% - 9.2em);
  }
}
/* Small devices (portrait tablets and large phones, 600px till 481 and down) */
@media only screen and (max-width: 600px) {
  .Qcomment .contain header {
    display: flex;
    justify-content: fs;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-direction: column;
  }
  .Qcomment .contain header::before {
    position: static;
  }
  .Qcomment .contain .forms {
    width: 98%;
  }
  .Qcomment .contain div section {
    width: 89%;
    margin-top: 0;
  }
  .Qcomment .contain div section .question, .Qcomment .contain div section .answer {
    padding-top: 4em;
    font-size: 0.75em;
  }
  .Qcomment .contain div section .question::before, .Qcomment .contain div section .answer::before {
    top: 2em;
  }
  .Qcomment .contain div section .question + .question.combine, .Qcomment .contain div section .answer + .answer.combine {
    padding-top: 0;
  }
  .Qcomment .replyModal .question span, .Qcomment .replyModal .answer span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
/* Extra small devices (phones, 480px till 320 and down) */
@media screen and (max-width: 480px) {
  .Qcomment .contain header {
    font-size: 3em;
  }
  .Qcomment .contain .forms .logIn {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
  }
  .Qcomment .contain .forms .formTab.alone {
    gap: 0;
  }
  .Qcomment .contain .forms .formTab.alone span {
    font-size: 1.3em;
    height: max-content;
  }
  .Qcomment .contain .forms .send {
    padding: 0 0.5em;
    padding-bottom: 0px;
    padding-bottom: 1em;
  }
  .Qcomment .contain .forms .send button {
    font-size: 1em;
    width: 94%;
    height: 4em;
  }
  .Qcomment .contain .forms .send p.success.show {
    padding-top: 1em;
  }
  .Qcomment .contain > div > section .question + .question.combine {
    margin-right: 6em;
  }
  .Qcomment .contain > div > section .answer + .answer.combine {
    margin-left: 6em;
  }
  .Qcomment .contain > div > section .question > span i::before {
    left: -18px;
    font-size: 1.5em;
  }
  .Qcomment .contain > div > section .answer > span i::before {
    right: -18px;
    font-size: 1.5em;
  }
  .Qcomment .contain > div > section .question, .Qcomment .contain > div > section .answer {
    gap: 0.7em;
  }
  .Qcomment .contain > div > section .question .icon, .Qcomment .contain > div > section .answer .icon {
    font-size: 0.9em;
  }
  .Qcomment .contain > div > section .question .icon::after, .Qcomment .contain > div > section .answer .icon::after {
    bottom: -2.6em;
  }
  .Qcomment .contain .buttons {
    gap: 0;
  }
  .Qcomment .contain .buttons.twoButtons .more {
    right: -8em;
  }
  .Qcomment .contain .buttons.twoButtons .close {
    left: -14.5em;
  }
  .Qcomment .contain .buttons button {
    padding: 0.7em 1.6em;
    border-radius: 0 0 25px 25px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px till 993 and down) */
@media only screen and (max-width: 1200px) {
  .courseCalendar .header > span {
    height: 45px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Large devices (laptops/desktops, 992px till 767 and down) */
@media only screen and (max-width: 992px) {
  .calendarContainer .calendarTitle {
    width: 318px;
    height: 136px;
    font-size: 19px;
    margin: auto;
  }
  .courseCalendar {
    background: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 5px;
  }
  .courseCalendar .header {
    display: none;
  }
  .courseCalendar .course {
    flex-direction: column;
    border-radius: 80px 0 80px 0px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    width: 285px;
    background-color: white !important;
    height: auto;
    padding: 1em;
    gap: 7px;
    padding: 0;
    z-index: 0;
  }
  .courseCalendar .course > span {
    padding: 0;
    font-weight: 500;
  }
  .courseCalendar .course > span:nth-child(7) {
    color: orange;
  }
  .courseCalendar .course > span:nth-child(7)::before {
    content: "پیشنیاز ";
  }
  .courseCalendar .course .signup > .btn-log.btn {
    width: 130px;
    background-color: #be1623;
  }
  .courseCalendar .course .courseHoldType {
    top: 4px;
    right: -37px;
    transform: rotate(36deg);
  }
  .courseCalendar .course .courseName {
    border-radius: 5px;
    width: 100%;
    padding: 15px 30px;
    margin-top: 8px;
  }
  .courseCalendar .course .courseName span {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 23px;
    display: inline;
    color: #be1623;
  }
  .courseCalendar .course .courseButton {
    margin: 19px 0;
    font-weight: 600;
    padding: 12px 0;
    width: 126px;
    border-radius: 30px;
  }
  .courseCalendar .course::before {
    content: "";
    background-color: #fea702;
    height: 110%;
    z-index: -7;
    position: absolute;
    width: 91%;
  }
  .courseCalendar .course::after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    border-radius: 80px 0 80px 0;
    border: 1px solid #a2a2a2;
  }
}
/* Extra small devices (phones, 480px till 320 and down) */
@media screen and (max-width: 480px) {
  .courseCalendar {
    flex-direction: column;
    align-content: center;
  }
}
/* Extra small devices (962-697)*/
@media only screen and (max-width: 962px) {
  .whiteArea .courseGrid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
  }
  .whiteArea .courseGrid aside {
    display: none;
  }
  .whiteArea .courseGrid main {
    border: none;
    box-shadow: none;
    width: 100%;
  }
  .whiteArea .courseGrid.fullSc main {
    left: 0;
  }
}
@media (max-width: 590px) {
  #frmcatesearch .filter-bar {
    display: block;
  }
  #frmcatesearch .filter-bar .filter-bar-item.btn-search .ask-me-question {
    margin: 10px !important;
  }
  #frmcatesearch .filter-bar > div {
    display: block;
  }
  #frmcatesearch .filter-bar > div .filter-bar-item select,
  #frmcatesearch .filter-bar > div .filter-bar-item input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .whiteArea .courseGrid .tv-section {
    padding-inline: 1em;
  }
}
