@use "sass:list";
@use '../source/_Variables.scss';

/* Extra large devices (large laptops and desktops, 1200px till 993 and down) */
@media only screen and (max-width: 1550px) {
    #homeProjects {
        .projects {
            > .right {
                > a {
                    &:nth-of-type(3), &:nth-of-type(4) {
                        display: none;
                    }

                    &:nth-of-type(2) {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1650px) {
    #instagramSection {
        --scale: .85;
    }
}

@media only screen and (max-width: 1530px) {
    #learnPrograming {
        &.learnPrograming {

            .left {
                flex-basis: 61em;
            }
        }
    }
}

@media only screen and (max-width: 1430px) {

    #AcademyBooks {

        > .title {
            font-size: .9em;
        }
    }

    #instagramSection {
        --scale: .7;
    }
}

@media only screen and (max-width: 1430px) {
    #AcademyBooks {
        display: flex;
        flex-direction: column;

        > .title, .readMore {
            position: static;
            text-align: center;
        }

        > .books {
            width: 69%;
            margin: auto;

            > a {
                max-width: unset;
                height: 34vh;
                flex-basis: 50%;

                &:nth-of-type(5) {
                    display: none;
                }

                &:nth-of-type(2) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1390px) {
    #homeProjects {
        > .projectSliderContainer {
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    #otherBooks {
        .Courses-card-grid {
            grid-template-columns: repeat(3,minmax(23em,30em));
            column-gap: unset;
            justify-content: space-between;

            > div {
                &:nth-of-type(4) {
                    display: none;
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    body {
        overflow: auto;
    }

    .mainPageSection {
        &.blog-boxes- {
            height: auto;
        }
    }

    #otherBooks {
        .Courses-card-grid {
            grid-template-columns: repeat(2,minmax(23em,30em));
            column-gap: 5em;
            justify-content: center;

            > div {
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }

    #StatisticsRendered {
    }

    .outlet .mainPageSection.homeVideo .main .orangeBar {
        --distance: 23%;
    }

    .footer {
        .rightTop {
            .layer {
                .text {
                    margin: 0;
                }
            }

            .inputwrapper {
                .icon {
                    top: 3.15px;
                }

                .emailInput {
                    width: 205px;
                    padding: 7px 16px;
                }
            }
        }

        .rightBottom {
            .eNamad {
                width: 110px;
                position: relative;
                left: 20px;
            }
        }

        .centerBottom {
            .wholeNav {
                .nav1 {
                    gap: 12px;
                    justify-content: space-between;

                    > .item {
                    }
                }
            }
        }

        .leftBottom {
            justify-content: center;
        }

        .rightBottom {
            justify-content: center;
        }
    }


    #AcademyBooks {
        > .books {
            width: 90%;
            justify-content: center;
        }
    }

    #instagramSection {
        --scale: .6;
    }


    #learnPrograming {
        &.learnPrograming {
            flex-direction: column-reverse;
            height: auto;
            padding-top: 3em;


            .left {
                flex-basis: unset;
                overflow: unset;

                > .showMoreBtn {
                    display: block;
                    width: fit-content;
                    margin: auto;
                    color: var(--mainBlue);
                    font-size: 1.2em;
                    font-weight: 600;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        display: inline-block;
                        content: "";
                        --wid: 0.4em;
                        width: var(--wid);
                        height: var(--wid);
                        border-width: 0 2px 2px 0;
                        border-style: solid;
                        border-color: var(--mainBlue);
                        transform: rotate(45deg);
                        position: absolute;
                        right: calc(100% + 0.5em);
                        top: 30%;
                    }

                    &.active {

                        &::after {
                            transform: rotate(225deg);
                            top: 44%;
                        }
                    }
                }

                > #learnProgramingTxt {
                    display: none;
                }

                > #learnProgramingTxtRes {
                    height: 34em;
                    transition: all 2s;
                    overflow: hidden;
                    display: block;
                    padding: 2em;

                    p {
                        padding: 0;
                    }

                    &.showMore {
                        height: var(--height);
                    }
                }
            }

            > .right {
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    width: 67% !important;
                    height: auto !important;

                    &:nth-child(1) {
                        top: 0;
                        right: 50%;
                        transform: translateX(50%);
                    }

                    &:nth-child(2) {
                        top: 0;
                        right: 0;
                        position: relative;
                    }
                }
            }
        }
    }


    #homeComments {
        height: auto;
        background-position: -29em -22em;

        > img {
            width: 48%;
        }

        #homeCommentsSlider {
            .owl-nav {
                button {
                    --offset: 1em;
                }
            }
        }
    }

    #homeFirstSection {
        height: auto;
    }
}

@media only screen and (max-width: 1100px) {
    #abouteAcademy {
        height: auto;
        padding-inline: 2em;
        padding-block: 1em 1.5em;

        > div {
            flex-direction: column;
            gap: 3em;

            > .left {
                p {
                }
            }

            > .right {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: unset;

                > img {

                    &:nth-child(1) {
                        top: 0;
                        right: 50%;
                        transform: translateX(50%);
                        width: 77%;
                        height: auto;
                        max-width: 28em;
                    }

                    &:nth-child(2) {
                        top: 0;
                        right: 0;
                        position: relative;
                        animation-name: rotateRes;
                        width: 72%;
                        height: auto;
                        max-width: 26em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #StatisticsRendered {
        font-size: 12px;

        .right {

            div {
                column-gap: 1em;
            }
        }
    }
}
/* Large devices (laptops/desktops, 992px till 769 and down) */
@media only screen and (max-width: 992px) {

    .aboutUs {
        .line {
            background: linear-gradient(to left, white, #ff1d25, white);
        }

        .flex > div .bar::before {
            display: none;
        }
    }

    .outlet {
        .mainPageSection {
            .flex {
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 60px;
            }

            &.homeVideo {
                display: none;
            }
        }
    }

    .footer {
        .leftBottom {
            .telegraph {
                font-size: 15px;
            }
        }

        .rightTop {
            .layer {
                position: relative;

                .img {
                    position: absolute;
                    top: -60px;
                }
            }

            .inputwrapper {
                .emailInput {
                    width: 170px;
                }
            }
        }

        .centerBottom {
            .wholeNav .nav1 .item {
                line-height: 21px;
            }
        }
    }

    #instagramSection {
        height: auto;

        > .instagramBody {
            height: 87vw;
            align-items: start;

            > .text {
                gap: 5.7vw;
                right: 4vw;
                top: 3.3vw;
                transform: unset;
                font-size: 1.6vw;

                > a {
                    padding: 2vw 9vw;
                    position: absolute;
                    top: 9vw;
                    left: -32vw;
                    border-radius: 9px;
                }
            }

            > img {
                height: 53vw;
                bottom: 3vw;
                left: -29vw;
                transform: unset;
            }

            > a {
                transform: unset !important;

                &:nth-of-type(1) {
                    bottom: 16vw;
                    height: 33vw;
                    width: 34vw;
                    left: 13vw;

                    &::before {
                        width: 13vw;
                        height: 9.9vw;
                    }

                    &:after {
                        width: 13vw;
                        height: 10.2vw;
                    }
                }

                &:nth-of-type(2) {
                    bottom: 20vw;
                    height: 25vw;
                    width: 25vw;
                    left: 70vw;
                }

                &:nth-of-type(3) {
                    bottom: 2vw;
                    height: 25vw;
                    width: 25vw;
                    left: 53vw;
                }
            }
        }
    }
}
/* Medium devices (landscape tablets, 768px till 601 and down) */
@media only screen and (max-width: 768px) {
    #otherBooks {
        height: auto;
        padding-block: 0 3em;
        background-image: url('/Content/images/img/homePage/HomeOtherBooksBg.png');
        background-size: 90em 38vh;
        background-position: 100% 95%;

        .title {
            transform: translateY(-26%)
        }

        .Courses-card-grid {
            grid-template-columns: 1fr;

            > div {
                display: block !important;
            }

            .bookCard {
                > .bookLowerPanel {
                    > .bookButton {
                        width: 100%;
                    }
                }
            }
        }

        .readMore {
            width: 90%;
        }
    }

    #homeNewCourse {
        height: auto;

        .title {
        }
    }

    .attentionBanner {
        font-size: 1.9em;
        flex-direction: column;
        height: auto;
        padding: 0;

        .DesBg {
            display: none;
        }

        .ResBg {
            display: block;
        }
    }

    .atnaHost {
    }

    #counterSlider {
        display: none;
    }

    .footer {
        height: auto;
        grid-template-columns: 25% 25% 25% 25%;

        .centerTop {
            grid-column: 1 / 5;
            grid-row: 1/2;
        }

        .centerCenter {
            grid-column: 1/5;
            grid-row: 2/3;
        }

        .centerBottom {
            grid-column: 1/5;
            grid-row: 3/4;
            margin: 35px 0;

            .wholeNav {
                width: 100%;

                .nav1 {
                    margin: auto;
                    height: auto;
                }

                .line {
                    margin-top: 17px;
                    margin-bottom: 13px;
                }
            }
        }

        .rightTop {
            grid-column: 1 / 3;
            grid-row: 4/5;

            .layer .img {
                position: static;
            }
        }

        .leftTop {
            grid-column: 3 / 5;
            grid-row: 4/5;
        }

        .rightCenter {
            grid-column: 1 / 3;
            grid-row: 5/6;
        }

        .leftCenter {
            grid-column: 3 / 5;
            grid-row: 5/6;
        }

        .rightBottom {
            grid-column: 1/5;
            grid-row: 6/7;
            margin-top: 45px;

            .eNamad {
                width: 110px;
                border-width: 5px;
            }
        }

        .leftBottom {
            display: none;
        }
    }

    #learnPrograming {
        flex-direction: column-reverse;
        height: auto;
        gap: 3em;
        padding-inline: 0;
        padding-bottom: 3em;

        > .left {
            p {
                padding-inline: 1em;
                font-size: 1.3em;
            }
        }

        > .right {
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
                width: 67% !important;
                height: auto !important;

                &:nth-child(1) {
                    top: 0;
                    right: 50%;
                    transform: translateX(50%);
                }

                &:nth-child(2) {
                    top: 0;
                    right: 0;
                    position: relative;
                }
            }
        }
    }

    #AcademyBooks {
        height: auto;
        background-size: 49em 50vh;
        background-position: -21em 7em;

        > .books {
            width: 100%;
        }

        > .title {
            font-size: .4em;
        }
    }

    #customerSection {
        padding-block: 3em 5em;

        .title {
            margin-bottom: 1em;
        }

        #customers {
            padding: 1em 2em;
        }
    }

    #homeComments {
        .title {
            padding-bottom: 0;
        }

        #homeCommentsSlider {
            .item {
                .content {
                    width: 68%;
                }
            }
        }
    }
}

@media only screen and (max-width: 698px) {
    #StatisticsRendered {
        padding-block: 2em 2em;
        gap: 1em;

        .left {
            font-size: 16px;
        }

        .right {

            div {
                column-gap: 0.3em;

                > .circle {
                    --wid: 83px;
                    border: 0.45em solid #b7e3fe;

                    > span {
                        &.title {
                            font-size: 7.5px;
                            line-height: 1em;

                            &::before {
                                width: 2.2em;
                                height: 2.2em;
                            }
                        }

                        &.num {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px till 481 and down) */
@media only screen and (max-width: 600px) {

    #StatisticsRendered {
    }



    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 7px;

        $footerOrder: centerTop, centerCenter, rightTop, rightCenter, leftTop, leftCenter, rightBottom;

        @for $i from 1 through list.length($footerOrder) {
            $item: list.nth($footerOrder, $i);

            .#{$item} {
                order: $i;
            }
        }

        > * {
            margin-bottom: 40px;
        }

        .leftTop,
        .rightTop,
        .centerTop,
        .rightBottom {
            margin-bottom: 0;
        }

        .leftBottom {
            display: none;
        }

        .centerBottom {
            display: none;
        }

        .rightTop {
            .layer {
                align-self: auto;
            }
        }

        .centerCenter {
            .layer2 {
                gap: 20px;
            }

            .hr {
                width: 100%;
            }
        }

        .rightBottom {
            .eNamad {
                position: static;
            }
        }
    }

    #AcademyBooks {
        padding-inline: 0;

        > .books {
            justify-content: space-between;

            > a {
                height: 17em;
            }
        }

        > .readMore {
            width: 90%;
        }
    }
}
/* Extra small devices (phones, 480px till 320 and down) */

@media screen and (max-width: 500px) {
    #homeProjects {
        .atnaHost {
            height: 8em;

            > a {
                font-size: 1em;
            }
        }

        > .projectSliderContainer {
            padding-inline: 0;

            .title {
                > h2 {
                    font-size: 1.1em;
                    padding-right: 1.5em;
                }
            }

            .courseSwiper {
                .projectBoxLink {
                    width: 67vw;

                    .projectBox {
                        > div {
                            > div {
                                h3 {
                                    font-size: 1em;
                                }
                            }

                            > h3 {
                                font-size: .95em;
                                height: 4.1em;
                            }
                        }
                    }

                    > .projectBoxBack {
                        display: none;
                    }
                }

                .swiper-container {
                    padding-block: 0.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #homeNewCourse {
        padding-block: 1.4em 1.5em;

        .newswiper-card-Container {
            .newswiper-title {
                font-size: 1em;
            }

            > div {
                &:nth-of-type(2) {
                    span {
                        font-size: .9em;
                    }
                }
            }
        }

        .title {
            margin-bottom: 0;

            > h2 {
                font-size: 1.1em;
            }

            >a{
                font-size : .8em;
            }
        }
    }

    #abouteAcademy {
        padding-inline: 1.2em;

        > div {
            > .left {
                > .title {
                    > h2 {
                        font-size: 1.125em;
                    }
                }

                p {
                    font-size: .875em;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    transition: all .3s;
                    overflow: hidden;
                    max-height: 9.5em;

                    &.more {
                        -webkit-line-clamp: unset;
                        max-height: var(--scrollHeight);
                    }
                }

                #AbouteAcademyTextMoreBtn {
                    position: relative;
                    color: #848484;
                    font-size: .75em;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    &::after {
                        content: "";
                        border: 1px solid #848484;
                        color: #848484;
                        border-left-color: transparent;
                        border-top-color: transparent;
                        transform: rotate(45deg);
                        border-radius: 0;
                        width: 0.3em;
                        height: 0.3em;
                        transition: all .3s;
                        margin-top: -.4em;
                    }

                    &.active {
                        &::after {
                            transform: rotate(225deg);
                            margin-top: .3em;
                        }
                    }
                }
            }
        }
    }

    #resItemBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        padding: 0 20px;

        > a {
            padding: 5px;
            border: 2px solid #f9c21f;
            width: 30%;
            color: #ec0e00;
            border-radius: 12px;
            height: 70px;
            text-align: center;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
        }
    }

    .outlet {
        padding: 0px 0;

        .mainPageSection {
            a.readMore {
                width: 100%;
            }

            &.homeVideo {
                display: none;
            }

            .title {


                .pic {
                    position: relative;
                }
            }

            .flex {
                .boxWrapper {
                    background: none;
                    box-shadow: none;
                    width: 100%;

                    .box {
                        padding: 0;
                        background: none;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: auto;

                        .coloredWrapper {
                            position: static;
                            order: 1;
                        }

                        .text {
                            position: static;
                            order: 2;
                            font-size: 24px;
                            padding-top: 10px;
                        }

                        .hover {
                            opacity: 100%;
                            order: 3;
                            font-size: 15px;
                            padding: 30px 15px;
                            position: static;
                            width: 100%;
                            padding: 30px 10px;
                            color: #898989;
                            line-height: 27px;
                            font-size: 18px;
                            transform: scale(1);
                        }

                        .image {
                            order: 2;
                            min-height: 60px;
                            margin-top: 25px;
                            opacity: 100% !important;
                        }
                    }
                }
            }
        }

        .instaWrapper {
            margin: 0;
            padding: 0;
        }

        #VideoRendered {
            margin: 0;
        }
    }

    .footer {
        .centerTop .layer1 p.address {
            font-size: 9pt;
        }

        .centerCenter .layer2 .item > a {
            font-size: 8pt;
        }
    }

    #homeComments {

        #homeCommentsSlider {
            .item {
                .content {
                    font-size: 1.3em;
                    width: 76%;

                    > .buttons {
                        flex-direction: column;

                        > .replyBtn {
                            width: 100%;
                            justify-content: center;
                            gap: 0.3em;
                        }
                    }
                }
            }

            .owl-nav {
                button {
                    --offset: 1%;
                    font-size: 1.5em;
                }
            }
        }
    }
}
