$sec-blue: #1d3bbb;
$fontcolor: #42515a;
$fontcolor-light: #fbfbfb;
$main-blue: #02cde7;
$main-darkblue: #326ba4;
$sec-blue: #1d3bbb;
$bg-color: #fff;
$gray: #b1b1b1;
$red: #f3502b;
$green: #4ce579;
$blue: #85c9f6;
$black: #000;
$yellow: #fdc220;
$redLight: #ff928b;
$grayBtween: #828282;

@use 'mediaPartials/_footer.scss';
@use 'mediaPartials/_qcomment.scss';
@use "../source/Variables";


/*     MAX     */
@media (max-width: 1450px) {
    nav .main-ul li {
        margin-left: 2em;
    }

    nav ul li a {
        padding: 0.5em 1em;
    }

   /* .logoHeader {
        width: 100%;
        height: auto;
    }*/
}
@media (max-width: 1400px) {
    .section-img-news-top .one-img-news {
        height: auto;
    }

    .section-img-news-top .two-img-news {
        height: auto;
    }

    .section-img-news-top .three-img-news {
        height: auto;
    }
}
@media (max-width: 1220px) {
    .navbar-web .listTab {
        padding: 0 1em;
    }

    .tab-calender ul li {
        margin: 5px 14px;
    }

    .Courses-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .grid-two-section-news {
        display: block;
        margin: 3em auto;
        margin-bottom: 1em;
    }
    .grid-two-section-news img {
        width: 100%;
        height: auto;
        }

}
@media (max-width: 1215px) {
    .navbar-web .listTab .themes_page .DivTab_themes {
        padding: 0 1em;
    }
}
@media (max-width: 1200px) {
    .mian-col-item {
        display: flex;
        flex-direction: column-reverse;

        &.hasDetials {
            .sideInfoBar {
                order: 2;
            }

            .sideBar {
                order: 1;
            }

            .content {
                order: 3;
            }
        }
    }
    .three-columns-boxe-grid {
        gap: 2em;
    }
}
@media (max-width: 1200px) {

    /*.inner-menu .login button, .inner-menu .web button {
        font-size: 10px;
    }*/

    .width {
        padding: 0 .5em;
    }

    .FlexUl {
        justify-content: flex-end;
        margin-left: 4.5em;
    }

    .search-section select {
        padding: 0 1em;
    }

    .inner-menu .navbar-web .exo-menu > li > a, .inner-menu .navbar-web li.drop-down ul > li > a {
        border-left: 2px solid #bfbfbf;
        padding: 0 15px;
    }

    .flex-ul-social-news {
        display: block;
    }

    .flex-ul-social-news .Details-news-comment {
        align-content: center;
        justify-content: center;
        border-bottom: unset;
    }
    .mian-col-item.reverse-768 {
        display: flex;
        flex-direction: column-reverse;

        &.forFilms, &.bookPart {
            .sideInfoBar {
                order:2;
            }
            .sideBar {
                order:1;
            }
            .content {
                order:3;
            }
        }
    }
    .mian-col-item {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 1200px) {
    .width {
        padding-left: 13%;
        padding-right: 23%;
    }

    .navbar-web .exo-menu > li > a {
        margin-left: 2em;
    }
}
@media (max-width: 1000px) {
    .login-page .pr-5, .login-page .px-5,
    .cooperation .pr-5, .cooperation .px-5,
    .contact-us .pr-5, .contact-us .px-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .text-login-center {
        margin-top: 1em;
    }

    .login-page .form-part.no-border {
        margin-bottom: 3em;
    }
}
@media (max-width: 980px) {
    .mian-col-item {
        display: flex;
        flex-direction: column-reverse;
    }

    #part04.section-id {
        padding: 0;
    }

    .grid-two-section-news .course-Details-more-title-news {
        padding: 0;
    }

   
    .course-Details-more-title .in-text {
        font-size: 2.5em;
    }

    .navbar-web .listTab .themes_page .Tab_themes {
        padding-right: 0 !important;
    }

    .navbar-web .listTab .themes_page .Tab_themes li p {
        display: none;
    }

/*    nav {
        width: 100%;
        background-color: $main-darkblue;
        position: relative;
        height: 50px;
        z-index: 88;
    }*/

    nav .main-ul {
        top: 51px;
        width: 100%;
        position: absolute;
        background-color: Variables.$main-darkblue;
        z-index: 88;
    }

    .search-section .close-search {
        top: 6em;
    }

    .header-site .position-re {
        padding-top: 10em;
    }

    .search-section .search-box {
        padding: 16em 1em;
    }

    .wrap-unset, .divLogo, .stepHeader, .FlexUl, .navbar-web {
        display: none !important;
    }

   /* .mian-col-item {
        grid-template-columns: 270px auto;
    }*/

  

    .pdi-top {
        margin-top: 5em;
    }

    .inner-menu {
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
    }

    .course-Details .container-me .row {
        margin: 0 auto;
    }

    .res-menu {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        width: 100%;
        direction: ltr;
        background: rgba(41, 41, 41, 0.91);
        z-index: 999;
        position: fixed;
    }

    .pdi-top {
        padding-top: 5em;
    }

    .wrap-unset {
        flex-wrap: unset;
    }

    .FlexUl {
        margin-top: 1em;
        margin-left: 0.1em;
        display: flex !important;
        position: relative;
        z-index: 99;
        width: 68%;
        float: left;
    }

    nav {
        background-color: transparent;
        right: 0;
        width: 95%;
        left: 0;
        margin: 0 auto;
    }


    nav .main-ul li {
        margin-left: 0;
        line-height: 34px;
    }

    .pdi-top {
        margin: 0 auto;
        margin-top: 1.5em;
        width: 90%;
    }

    .video-list .video-list-item {
        grid-template-columns: 45% 55%;
    }

    .pdi-top {
        display: none;
    }
       
    .about-teacher .grid-bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2%;
    }

    .new-table-grid .grid-table {
        background: transparent;
        grid-row-gap: 2rem;
        box-shadow: none;
    }

    .new-table-grid .grid-table-row {
        grid-template-columns: 3fr 3fr 3fr;
        background: rgba(250, 250, 250, 0.9);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
    }

    .new-table-grid2 .grid-table-row {
        grid-template-columns: 1fr;
    }

/*    .time-line-bar {
        position: sticky;
        top: 80px;
        background: $bg-color;
        z-index: 99;
        box-shadow: 0px 0 5px 0px #3c3c3c;
    }*/

    .grid-table-row:first-child {
        display: none;
    }

    .grid-table-cell {
        padding: 0 0 1rem 0;
        text-align: center;
    }

    .grid-table-cell:before {
        content: attr(data-title);
        content: attr(data-title);
        font-weight: 200;
        display: block;
        background: rgba(130, 130, 130,1);
        color: Variables.$bg-color;
        padding: 0.75rem;
        margin-bottom: 0.75rem;
        font-size: 1em;
    }

    .grid-table-cell:first-child {
        grid-column-start: 1;
        grid-column-end: 6;
        border-bottom: 1px solid #ddd;
    }

    .grid-table-cell:first-child:before {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .grid-table-cell:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-table-cell:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-table-cell:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .grid-table-cell:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-table-cell:nth-child(6) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-table-cell:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    .grid-table-cell:last-child {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .tab-calender .tbl-edu td:nth-child(2), .tbl-edu td:nth-child(2) {
        border-right: unset;
        border-left: unset;
    }

    .tab-calender ul li {
        font-size: 0.8em !important;
        margin-bottom: .7em;
    }

    .tab-calender ul {
        display: block;
        margin: 0 auto;
    }

    .tab-calender .tbl-edu td {
        border-left: unset;
    }

    .title-edu-step {
        margin: 25px 9px;
    }

    .tab-calender {
        margin-top: 0;
        padding-right: 0;
    }

   

    .tab-calender .select-tab {
        display: block;
        padding-bottom: 0.5em;
    }

    .grid-change-main {
        grid-template-columns: 100%;
        gap: 8px;
    }

    .grid-img-news-top-main {
        display: grid;
        grid-template-columns: 100%;
    }
    .related-article {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;

        .prevnext-article {
            width: 100%;
        }
    }

    .prevnext-article {
        width: 100%
    }
}
@media (max-width: 980px) {
    .grid-two-section-news {
        display: block;
        margin: 3em auto;
        margin-bottom: 1em;
    }

    .grid-two-section-news img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .box-more-news-adv {
        height: auto;
    }

    .news-page-inner .Courses-card-grid {
        grid-template-columns: unset;
    }
}
@media (max-width: 956px) {
    .navbar-web .listTab .themes_page .Tab_themes li p {
        display: block;
    }

    .navbar-web .listTab .themes_page .Tab_themes li {
        width: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% /5);
    }

}
@media (max-width: 845px) {
    .navbar-web .listTab .themes_page .Tab_themes li p {
        font-size: .85rem;
    }

    .navbar-web .listTab .themes_page .Tab_themes li {
        width: calc(100% /3);
    }
}
@media (max-width: 800px) {
    .navbar-web .listTab .themes_page .Tab_themes li {
        cursor: pointer;
        list-style: none;
    }

    .navbar-web .listTab .themes_page .DivTab_themes,
    .navbar-web .listTab .themes_page .contentTab_themes .active_themes {
        height: auto;
    }
     .three-columns-boxe-grid {
        grid-template-columns: repeat(2, 1fr);
       
    }
}
@media (max-width: 768px) {
    .box-more-news-adv {
        padding: 0 2em;
    }

    .box-more-news-adv a {
        left: 4em;
    }

    .navbar-web .exo-menu {
        min-height: 58px;
        background-color: #23364B;
        width: 100%;
    }

    .navbar-web .exo-menu > li > a {
        width: 100%;
        display: none;
    }

    .navbar-web .exo-menu > li {
        width: 100%;
    }

    .navbar-web .display.exo-menu > li > a {
        display: block;
        padding: 20px 22px;
    }

    .navbar-web .mega-menu,
    .navbar-web .Images,
    .navbar-web .Blog,
    .navbar-web .flyout-right > ul,
    .navbar-web .flyout-left > ul,
    .navbar-web li.drop-down > ul {
        position: relative;
    }

    .grid-container.list-view .Courses-card-grid.video-more .video-box video {
        width: auto;
        height: 120px;
    }

    .form-group.col-md-3, .search-input.col-md-7, .search-section .form-group.col-md-2 {
        padding: 0;
    }

   /* .mian-col-item {
        grid-template-columns: 100%;
    }*/

    .search-section .search-box {
        padding: 16em 2em;
        padding-bottom: 0;
        display: block;
    }


    .form-group.col-md-3, .search-input.col-md-7 {
        max-width: 100%;
    }

    .stepHeader {
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .title-main .title-main-txt {
        font-size: 1.3em;
    }

    #sweetlandia {
        display: none;
    }

    .divLogo {
        max-width: 120px;
        margin: 0 auto;
    }

    .stepBox::before {
        border-left: unset;
        margin: 0 auto;
    }



    #counter li {
        font-size: 1rem;
        margin-bottom: 2em;
    }

    #counter p {
        font-size: 1.5rem;
    }


    #counter li::before {
        content: unset;
    }

    .responsive-about, .position-re {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .about-tahlil {
        padding: 0 1em;
    }

    nav .main-ul {
        top: 5em;
    }

    nav {
        top: -4.5em;
    }

    .res-menu {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        width: 100%;
        direction: ltr;
    }

    .video-list .video-list-item {
        grid-template-columns: 50% 50%;
    }

    #counter h3 {
        font-size: .8rem;
    }



   

    .grid-container.list-view .Courses-card-grid.video-more .video-box video {
        height: 120px;
    }

    #sweetlandia {
        display: block;
        width: 50% !important;
        margin: 0 auto !important;
    }

    .img-tahlil {
        margin: 0 auto;
    }

    .about-tahlil h1 {
        font-size: 1.2rem;
    }

    .grid-container.list-view .Courses-card-grid.video-more .video-box video {
        height: 120px;
    }

    .filter-bar {
        grid-gap: 0px 0px;
    }

    .course-Details .video-part .video-box {
        margin: 2em 1em;
    }

    .video-box video {
        width: 100%;
        height: auto;
    }

   /* .mian-col-item.reverse-768 {
        display: flex;
        flex-direction: column-reverse;
    }*/

    .Courses-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
        justify-content: center;
        grid-auto-flow: dense;
    }

    .Article-card-Grid {
        justify-content: space-evenly;
       
    }

    .grid-img-news-top-main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 700px) {
    .listTab .fin_link li {
        width: calc(100% /3);
        display: inline-block;
        text-align: center;
    }
}
@media (max-width: 620px) {

    #counter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #counter li {
        flex: unset;
        list-style: none;
        display: inline-block;
        width: calc(100% /2);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .step-progress {
        padding: 8px 25px;
    }

    .step-progress .step span {
        font-size: 10px;
    }
}
@media (max-width: 600px) {


    .grid-container .Courses-card-grid.video-more .video-box {
        margin: 0px auto;
        grid-template-columns: 100%;
    }

    .star-rating h1 {
        font-size: 14px
    }

    .star-rating p {
        font-size: 12px
    }

    .tbl-edu {
        border: 0;
    }

    .tbl-edu caption {
        font-size: 1.3em;
    }

    .tbl-edu thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .tbl-edu tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .tbl-edu td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
    }

    .tbl-edu td::before {
        content: attr(data-label);
        float: right;
        text-transform: uppercase;
    }

    .tbl-edu td:last-child {
        border-bottom: 0;
    }

    .grid-img-news-top-main {
        display: grid;
        grid-template-columns: 100%;
    }
}
@media (max-width: 500px) {
    .listTab .fin_link li {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .listTab .fin_link li p {
        text-align: center;
        margin: 0 auto;
    }

    .listTab .fin_link span {
        margin: 0 auto;
        margin-bottom: .8em;
    }

    .listTab .section-img-news-top p {
        font-size: .8em;
    }


  
}

@media (max-width: 480px) {
    .dateContainerRegister {
        grid-template-columns: auto;
    }
    .fullScreenCourse {
        #collapsableBar {
            width: 80%;
            min-width: 320px;
            border-radius: 15px;
            padding: 0 15px;
            right:0;
            left:0;
            margin: auto;

            .collapsableCloseButtonOverlay {
                display: block;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 60px;
                background-color: white;
                z-index: 50;
                right: 0;
                border-top: 1px solid #bcbcbc;
            }

            .collapsableCloseButton {
                bottom: 11px;
                left: 0;
                right: 0;
                height: 38px;
                width: calc(100vw - 20px);
                border-radius: 15px;
                position: fixed;
                top: initial;
                z-index: 50;
                margin: 0px 10px;
            }

            .course-Details-dec-header {
                border-radius: 15px 15px 0 0;
            }
        }
    }
    .three-columns-boxe-grid {
        grid-template-columns: 1fr;
      
    }
  
}
@media (max-width: 480px) {
    .section-id p {
        font-size: 15px;
    }
    .Courses-card-grid.edu-detail {
  /*      grid-template-columns: auto !important;*/
        padding: 0 1em;
    }
    .step-progress {
        align-items: center;
        height: 8em;

        .step:nth-child(odd) span {
            top: 5px;
        }

        .step:nth-child(even) span {
            top: 60px;
        }
    }
    .infoBar {
        grid-template-columns: auto auto !important;
        .signup {
            grid-column: 1 /3 !important;
        }
    }
    .Comment-card .commnet-card-footer .footer-left .name-write {
        position: static;
        float: none;
    }
    #commentSection {
        padding: 0 !important;
    }
    .in-page-tab.video-part .tab__content {
        padding: 15px 0 !important;
    }
    .activateuser {
        width: 100%;
    }
    .filter-bar .filter-bar-item {
        margin-bottom: 10px;
    }
    .about-teacher .top {
        flex-direction: column;
    }
    .header-site {
        margin-top: -80px;
    }
    .p-3 {
        padding: 1rem 0 !important;
    }
    .td-content {

    }
    /*-------CAPTCHA-------*/
    #Captcha {
        display: grid;
        grid-template-columns: 0 auto 0 auto;

        #CaptchaInputText {
            grid-column: 1/5;
        }
        a {
            margin: 1em 0;
        }
    }

    .outlet .mainPageSection .bg-our-customer {
        margin: 0;
    }
    /*-------CAPTCHA-------*/
    #collapseButton {
        opacity: 50%;
        right: 0;
    }

    .res-menu .sideMenu .menu-open .menu-side {
        top: 0;
        -webkit-box-shadow: 0px 4px 30px 0px rgba(90, 90, 90, 1);
        -moz-box-shadow: 0px 4px 30px 0px rgba(90, 90, 90, 1);
        box-shadow: 0px 4px 30px 0px rgba(90, 90, 90, 1);
    }

    .ask-me-question {
        display: grid;
        /* grid-template-columns: auto 30%;*/
        margin-bottom: 2em;
        gap: 10px
    }

    .comment-container-title {
        input {
            width: 100%;
        }
    }

    .comment-container-title {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        button {
            margin-bottom: 15px;
        }
    }

   
    .stepBox img {
        width: 30px;
    }

    .new-table-grid .grid-table-row {
        grid-template-columns: 1fr 1fr;
    }

    .grid-table-cell:last-child {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .grid-table-cell:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-table-cell:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .grid-table-cell:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-table-cell:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .grid-table-cell:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-table-cell:nth-child(7) {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .related-article {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
    }

    .prevnext-article {
        width: 100%
    }
    .outlet .mainPageSection .title .pic .text {
        font-size: 17px;
    }
    .outlet .mainPageSection.instaSection .bg-insta.HaveAnimation {
        margin: 0 !important;
        padding: 3em 0 !important;
    }

    .instaSide {
        font-size: 16.5px;
    }
    .td-content {
        padding: 1em;
    }
    .articleTopSide {
        padding: 0 !important;
    }
    .ads-part {
        display: none;
    }
    .grid-container.list-view .books-part .Courses-card-more {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}
@media (max-width:400px) {
    /*    .step-progress .step span {
            font-size: 10px;
        }*/
    }

/*     MIN     */
@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }

    .modal-sm {
        max-width: 300px;
    }
}
@media (min-width: 860px) {
    .guiz-Online .game-left-col {
        width: 100%;
        float: left;
        margin-right: 3%;
    }



    .answer-Online .game-right-col {
        float: none;
    }
}
@media (min-width: 860px) {
    .guiz-Online .gauge-container {
        border-bottom: none;
    }
}
@media (min-width: 860px) {
    .guiz-Online #game-end {
        padding-top: 1rem;
    }

    .guiz-Online #game-end-times-up {
        padding-top: 2rem;
    }
}
@media (min-width:767px) {
    .navbar-web .exo-menu > li > a {
        display: block;
        margin-left: 3.5em;
        border-top: 2px solid Variables.$bg-color;
        line-height: 40px;
        font-size: .8rem;
    }

    .navbar-web .mega-menu, .flyout-mega-wrap, .Images,
    .navbar-web .Blog, .flyout-right > ul,
    .navbar-web .flyout-left > ul, li.drop-down > ul {
        position: absolute;
    }

    .navbar-web .flyout-right > ul {
        right: 100%;
    }

    .navbar-web .flyout-right > ul li {
        width: fit-content;
        min-width: 700px;
    }

    .navbar-web .flyout-left > ul {
        left: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {


    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
/*    .three-columns-boxe-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }*/
  
}
@media (min-width: 1470px) {
    .mrg-template-left {
        margin-top: -4em;
    }
}
@media (min-width: 1400px) {
    .grid-img-news-top .grid-item,
    .grid-img-news-top2 .grid-item,
    .grid-img-news-top12 .grid-item,
    .grid-img-news-top-main .grid-item {
        padding: 0 5px;
        margin-bottom: 2em;
    }
}
@media (min-width: 980px) {
    .res-menu {
        display: none;
    }
}
@media (min-width: 992px) {
    


    nav .ham-menu {
        display: none;
    }

    nav .yvana-game-logo-wrap {
        position: relative;
        top: 0;
    }

    nav ul {
        display: flex;
        position: relative;
    }

    nav .main-ul {
        top: 0;
        width: auto;
        position: relative;
    }

    nav .menu-two-ul a {
        border-bottom-color: Variables.$main-darkblue;
        height: 100%;
    }

    nav ul li {
        border-bottom: none;
    }

    nav ul li a, nav .menu-expand {
        border-bottom-color: Variables.$main-darkblue;
        text-decoration: none;
    }

    nav .main-ul li {
        border-top: 3px solid Variables.$bg-color;
        line-height: 46px;
        margin-left: 2em;
    }

    nav .main-ul li a {
        font-size: .9rem;
    }

    nav .main-ul ul li a, nav .main-ul ul li a:hover {
        color: Variables.$fontcolor;
    }

    nav .main-ul li a:hover {
        color: Variables.$bg-color;
    }

    header [type=button]:not(:disabled):focus,
    header [type=reset]:not(:disabled):focus,
    header [type=submit]:not(:disabled):focus,
    header button:not(:disabled):focus {
        outline: unset;
    }

    nav ul li a:hover, .menu-expand:hover {
        border-bottom-color: transparent;
        text-decoration: none;
    }

    nav .menu-two-ul, nav .menu-three-ul, nav .menu-four-ul {
        position: absolute;
        top: 51px;
        right: 0.5em;
        width: 92%;
        background-color: Variables.$bg-color;
        box-shadow: 1px 1px 1px 5px #eee;
    }


    nav .main-menu-item:nth-child(5) a {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/*@media (max-width:598px) and (min-width:480px) {
    .info--box ul {
        margin-top: 1em;
    }
}*/