@use '../source/_Variables.scss';

.courses-interview {
    --blue: #43BAFC;
    text-align: center;
    background-color: #E8E8E8;
    display: block;
    height: auto;
    padding: 5px 5px;


    > .text {
        background-color: #FCD66B;
        padding: 10px 5px;
        margin: 30px 0px;

        > p {
            font-size: 19px;
            color: #F90F11;
            font-weight: bold;
            padding: 0 5px;
        }
    }

    > video {
        background-color: rgb(177, 194, 214);
        height: auto;
        width: 96%;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 19px;
    }


    > main {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 37px;
        margin: 30px 0;

        > .banner {
            width: 227px;
            background-color: rgb(255, 255, 255);
            overflow: hidden;
            height: 330px;
            padding: 25px;
            position: relative;
            z-index: 9;
            transition: all .2s ease;
            outline: 1px solid var(--blue);
            cursor: pointer;
            // flex-grow: 1;

            &.active {
                outline: 1px solid red;

                > .title h4 {
                    font-weight: 500;
                }
            }

            &:hover, &.active { 
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }

            > .under {
                background-color: rgb(243, 243, 243);
                position: absolute;
                z-index: 4;
                right: 0;
                width: 70px;
                top: 62px;
                border-top: 15px solid var(--blue);
                border-bottom: 15px solid var(--blue);
                height: 43px;
            }

            > .image {
                &::before {
                    content: "";
                    z-index: -1;
                    top: 10px;
                    left: 9px;
                    width: 95px;
                    height: 150px;
                    position: absolute;
                    background-color: var(--blue);
                }

                height: 163px;
                width: 108px;

                > img {
                    width: 121px;
                    display: block;
                    position: absolute;
                    z-index: 10;
                    height: 109px;
                    margin: 6px 0px 11px 20px;
                    outline: 10px solid #fff;
                    background-color: rgb(228, 228, 228);
                    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
                }
            }

            > .left-line {
                background-color: transparent;
                position: absolute;
                top: 80px;
                left: 3px;
                border-bottom: 2px solid rgb(255 255 255);
                width: 32px;
                border-top: 2px solid rgb(255 255 255);
                height: 14px
            }

            > .title {
                > h4 {
                    margin-bottom: 10px;
                    font-weight: normal;
                    font-size: 17px;
                }
            }

            > p {
                font-size: 14px;
                margin-bottom: 11px;
            }
        }
    }

    @media screen and (min-width : 420px) and (max-width: 552px) {
        > main .banner {
            transform: scale(1.2);
            margin: 22px;
        }
    }
}
