@use '../source/Variables';


.newComp {
    gap: 2em;
    justify-content: space-between;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);

    .item-news {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        box-shadow: 1px 1px 9px 2px rgb(0 0 0 / 13%);
        overflow: hidden;
        padding-bottom: 0.5em;
        border-radius: 5px;
        background-color: var(--white);

        .top-sec-news {
            position: relative;
            height: 15em;

            img {
                background-color: #ccc;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }



            h3 {
                padding: 1.5em;
            }
        }

        .txt-item-news {
            display: flex;
            flex-shrink: 15;
            flex-direction: column;
            flex-basis: 100%;
            padding: 1.5em 1.3em 0.2em;

            p {
                -webkit-line-clamp: 3;
            }
        }




        a {
            transition: 0.3s;
        }

        a.category--item {
            position: absolute;
            left: 2em;
            top: 13em;
            box-shadow: 2px 2px 10px 2px #0000003d;
        }


        a.link-news {
            display: block;
            color: var(--redColor);
            margin: 1em 0;
            font-size: 1em;
            font-weight: 600;
            margin-top: auto;

            &:hover {
                color: #0072BB;
            }
        }
    }







    @include Variables.media(Variables.$screen) {
        grid-template-columns: repeat(3,1fr);
    }

    @include Variables.media(Variables.$tablet) {
        grid-template-columns: repeat(2,1fr);
    }

    @include Variables.media(Variables.$mobile) {
        grid-template-columns: repeat(1,1fr);

        .item-news {
            width: 100%;
        }
    }
}