@use "../source/Variables";

:root {
    --colorTitle: #1d71b9;
    --colorTheme: #1d71b9;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: Variables.$bg-color;
  /*background: #f6f6f6;*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: none;
  font-smoothing: antialiased;
  font-family: yekanBakh;
  font-size: 12px;
  line-height: 30px;
  color: Variables.$fontcolor;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;

  &.locked {
    position: fixed;
    inline-size: 100%;
    overflow-y: scroll;
  }

  * {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

#getUp {
    --offset: 1em;
    z-index: 1000;
    border-radius: 0.2em;
    width: 2em;
    height: 2em;
    background-color: var(--colorTheme);
    position: fixed;
    bottom: var(--offset);
    right: -2em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.9em;
    margin: 0 !important;

    &.active {
        right: var(--offset);
    }

    &::before {
        content: "" !important;
        position: absolute;
        display: inline-block;
        padding: 0.15em;
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        top: 50%;
        left: 50%;
        transform: translate(-45%,-21%) rotate(45deg);
    }

    @include Variables.media(Variables.$mobile) {
        font-size: 1.5em;
    }
}

a {
  color: Variables.$fontcolor;
  text-decoration: unset;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

button,
[data-onclick] {
  cursor: pointer;
  font-family: inherit;
  user-select: none;
}

input,
select {
  font-family: inherit;
}

.course-Details {
    background: var(--bodyBack);
    --colorCompliment: white;
    --radius: 1em;
    --shadow: 0px 0px 15px #00000014;
    --colorHeighlight: #308fcc;

    #aboutTeacher {
        width: 95%;
        margin: 50px auto;
    }

    .mainNav{
        z-index : 99!important;
    }
}

.container-me {
  width: 96%;
  margin: 0px auto;
  /*overflow: hidden;*/
}
//margins
.m-2 {
    margin: 0.5rem !important;
}
.m-3 {
    margin: 1rem !important;
}
.m-4 {
    margin: 1.5rem !important;
}
.m-5 {
    margin: 3rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}

.mx-2 {
    margin-inline: 0.5rem !important;
}
.mx-3 {
    margin-inline: 1rem !important;
}
.mx-4 {
    margin-inline: 1.5rem !important;
}
.mx-5 {
    margin-inline: 3rem !important;
}

.my-2 {
    margin-block: 0.5rem !important;
}
.my-3 {
    margin-block: 1rem !important;
}
.my-4 {
    margin-block: 1.5rem !important;
}
.my-5 {
    margin-block: 3rem !important;
}

//padding

.p-2 {
    padding: .5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}


.pt-2 {
    padding-top: 0.5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}

.px-2 {
    padding-inline: 0.5rem !important;
}
.px-3 {
    padding-inline: 1rem !important;
}
.px-4 {
    padding-inline: 1.5rem !important;
}
.px-5 {
    padding-inline: 3rem !important;
}

.py-2 {
    padding-block: 0.5rem !important;
}
.py-3 {
    padding-block: 1rem !important;
}
.py-4 {
    padding-block: 1.5rem !important;
}
.py-5 {
    padding-block: 3rem !important;
}




.px-5 {
  padding-right: 3rem !important;
}
.px-5 {
  padding-left: 3rem !important;
}

.bg-white {
  background: #fff;

  border-radius: 6px;
  padding-bottom: 1px;
}

.course-Details-more {
  padding-bottom: 15px;
}

.course-Details-more .course-Details-more-title {
  color: Variables.$sec-blue;
  font-weight: 700;
}

.course-Details-more-title .in-text {
  margin: 1em 10px;
  font-weight: 900;
  color: Variables.$sec-blue;
  text-align: center;
  font-size: 2em;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.6rem;
}

.Courses-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 25px 20px;
  overflow: hidden;
  grid-auto-flow: dense;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

/*------ADS------*/
.course-Details .ads-part {
  margin: 1em auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.course-Details .video-part {
  display: -webkit-box;
  flex-wrap: wrap;
  background: #fff;
  margin: 5px 0;
  border-radius: 6px;
  display: flex !important;
  justify-content : center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*   margin-right: -15px;
    margin-left: -15px;*/
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-id p {
  line-height: 22px;
  padding: 0;
  font-size: 11px;
  text-align: justify;
}

.btn,
.grid-container .books-part .stars-more > a {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comment-container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 5px;

  input {
    width: 90%;
  }

  .btnComment {
    background-color: white;
  }

  .input-box {
    display: flex;
    flex-direction: column;
  }
}

body {
  direction: rtl;
  font-family: yekanBakh;
  background-color: var(--bodyBack);
  color: var(--textColor);

  //  padding: 2em;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto !important;
  position: relative;
  top: 0.25em;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;

  &.acceptRules {
    color: var(--textSecondColor);
    border-bottom: 1px solid var(--textSecondColor);
    border-radius: 0;
    padding-bottom: 0.2em;
  }
}

hr {
  height: 1px;
  background: var(--hrColor);
  border: none;
  margin: 0.9em 0;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
video[poster] {
  height: 100%;
  width: 100%;
}
:root {
    --p: #383838;
    --white: #f5f5f5;
    --lightBlack: #4b4b4b;
    --white: #f5f5f5;
    --mainBlue: #1d71b9;
    --lightBlack: #4b4b4b;
    --white: #f5f5f5;
    --lightGray: #00000024;
    --lightBlue: #9cc5f0;
    --lightPink: #fed3dc;
    --circleBg: #9898984a;
    --size09: 0.9em;
    --white: #fff;
    --blue: #149bd9;
    --green: #63c588;
    --redColor: #ef4056;
    --darkRedColor: #9a0057;
    --grayColor: #f2f2f2;
    --boxGray: #ebebeb;
    --lightGreen: #eef3de;
    --pinkcolor: #feacae;
    --yellow: #f7c614;
    --green: #b7d333;
    --brown: #5a2a10;
    --bgGray: #f1f1f1;
    --bgLightGray: #f9f9f9;
    --boxshadow: 0 0 6px 1px #e0e0e0;
    --lightBrown: #784f3c;
    --orange: #fbb03b;
    --bgGray: #f1f1f1;
    --mainBg: #f6f6f6;
    //pooyan
    //* colors
    --tableHeadColor: #eaeaea;
    --bodyBack: #faf9ff;
    --buttonColor: #2086c8;
    --alertColor: #ee4155;
    --textColorFade: #989898;
    --textColor: #727272;
    --textColorStrong: #383838;
    --textSecondColor: #1f86c8;
    --hrColor: rgba(128, 128, 128, 0.1607843137);
    //* others
    --borderRadius: 10px;
    --borderRadiusBig: 15px;
}
.link-arrow {
  a {
    position: relative;
    text-align: left;
    display: block;
    font-size: 1em;
    margin-left: 1.5em;
    width: 9em;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0.2em 1em 0.2em 0.5em;

    &::after {
      position: absolute;
      content: "\f30a";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      transition: 0.5s;
      font-size: 0.9em;
    }
  }
}
.cont {
  width: 96%;
  margin: 1.5em auto;
}

.innerPage-add {
  background: var(---white);
  padding: 10px 0;
  padding-bottom: 0;
}

.mainContent-twoParts {
  display: grid;
  grid-template-columns: 22em auto;
  gap: 2em;
}

.bg-white {
  background: var(--white);
  margin: 5px 0;
  border-radius: 6px;
  padding-bottom: 1px;
}

.sidebarContent {
  padding: 1.5em 1.4em;
  background-color: var(--white);
  border-radius: var(--borderRadiusBig);
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.04);

  &:not(:first-child) {
    margin-top: 1em;
  }

  &.narrow {
    padding: 1em;
    border-radius: var(--borderRadius);
  }
}

.input-layer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input,
  button {
    height: 3em;
    line-height: 3em;
    border-radius: var(--borderRadius);
  }

  input {
    font-family: inherit;
    width: 100%;
    padding: 0.5em;
    background-color: var(--tableHeadColor);
    border: none;
    font-weight: 600;
    outline: none;
  }

  button {
    left: 0.5em;
    font-size: 0.9em;
    position: absolute;
    color: var(--white);
    background-color: var(--buttonColor);
    border: none;
    padding: 0 1.6em;
    font-weight: 400;
  }
}

.basket-items,
.grid--items .head-basket-items {
  border-radius: 8px;
}

.basket-items {
  color: #818181;
}

.ads-horizontal {
  width: 100%;
  height: 8em;
  background-color: #feef20;
  margin-top: 2em;
}

.ads-aside {
  width: 100%;
  height: 16em;
  background-color: #feef20;
  margin-bottom: 1em;
  border-radius: 8px;
}

.borderRadius-8px {
  border-radius: 8px;
}

p {
  text-align: right;
}
strong{
    font-weight : normal;
}

.p-limit {
  letter-spacing: 0.02em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2;
  max-height: 8em;
}

img {
  object-fit: cover;
  width: 100%;
}

.link-more {
  margin-right: auto;
  overflow: hidden;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
  text-align: center;
  position: relative;
  display: block;
  transition: 0.3em;
  z-index: 2;
  margin-top: 2em;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;

    top: 0;
    bottom: 0;
    color: #fff;
    transition: 0.5s;
    left: -70%;
    transform: skew(50deg);
    transform-origin: top left;

    z-index: -1;
  }

  &:hover::before {
    width: 170%;
  }
}

.link-more-blue {
  background-color: #0072bb;
  &::before {
    background-color: #0485d6;
  }
}
.link-more-green {
  background-color: var(--green);
  &::before {
    background-color: #7fdaa2;
  }
}
.link-more-red {
  background-color: var(--redColor);
  &::before {
    background-color: #f77687;
  }
}

.resItem--course {
  display: none;
}
// ---
.dFlex {
  display: flex;
  align-items: center;
}

// --start/media query
@media (min-width: 1200px) {
  .bg-white {
    margin: 0.5em 0;
  }
}
@include Variables.media(Variables.$screen) {
  .resItem--course {
    display: contents;
  }

  .grid--items ul.head-grid--items {
    display: none;
  }
}

@media (min-width: 992px) {
  .mainContent-twoParts {
    font-size: 0.9em;
  }
}

@media (max-width: 992px) and (min-width: 698px) {
  .mainContent-twoParts {
    grid-template-columns: auto auto;
    gap: 1em;
  }
}

@include Variables.media(Variables.$tablet) {
  .mainContent-twoParts {
    grid-template-columns: auto;

    aside {
      grid-row: 2/3;

      .sidebarContent.payment {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }
  }

  .MsoNormalTable {
    display: flex;
    overflow-x: auto;
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 598px) and (min-width: 480px) {
  .info--box ul {
    margin-top: 1em;
  }
}

@include Variables.media(Variables.$mobile) {
  .card-grid-item {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  }

  .mainContent-twoParts {
    padding: 0;
  }
}
// -------------
