.links-related {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    gap: 2em;
    background-color: #fff;
    padding: 2em 1em;
    border-radius: 8px;
   /* font-size: 1.2em;*/

    a {
        display: block;
        line-height: 1.8;
        font-weight: 600;
        margin-top: 1em;
    }

    h4 {
        margin-bottom: 0.9em;
        color: #c33124;
    }


 
}
