@mixin theme {
    &[data-theme='robatic'] {
        --mainTheme: #294F81;
        --themeCompliment: #fff;
        --button_image_1: url("/Content/images/img/robotic items/icon1.png");
        --button_image_3: url("/Content/images/img/robotic items/icon2.png");
        --themeHeader: url("/Content/images/img/robotic items/mainLogo.png");
        --weblogBack: #D6EDFF;
    }
}
