/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
.boxes-one {
  grid-template-columns: repeat(1, 1fr);
}

.boxes-two {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 480px) {
  .boxes-two {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-three {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .boxes-three {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-four {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 698px) {
  .boxes-four {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  padding: 1em;
}

.boxesAds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 595px) {
  .boxesAds {
    grid-column: 1/3;
  }
}
@media (max-width: 992px) {
  .boxesAds.boxes-two {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }
}

.articleCate {
  --color: rgb(65, 195, 65);
  box-shadow: 0 0 40px rgba(29, 58, 83, 0.15);
  border-radius: 0.3em;
  margin-bottom: 1em;
  background: inherit;
  clear: both;
  padding: 0;
  padding-bottom: 1em;
}
.articleCate button {
  cursor: pointer;
}
.articleCate h3 {
  position: relative;
  margin-right: 3.4em;
  padding: 0.9em 0;
}
.articleCate h3 span {
  font-family: "yekanBakh";
  font-size: 1.4em;
  line-height: 1.4em;
}
.articleCate .grid {
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, 54px);
  column-gap: 5em;
  padding: 0 2.4em;
  row-gap: 1.8em;
  margin: 0.1em 0;
}
.articleCate .grid > a {
  width: max-content;
  transition: 0.3s;
}
.articleCate .grid > a .img {
  --wid: 4.4em;
  width: var(--wid);
  height: var(--wid);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articleCate .grid > a .img img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  color: transparent;
  object-fit: contain;
  /*   &::before {
      display: block;
      background: #e3e3e3;
      width: 100%;
      height: 100%;
      color: transparent;
      border-radius: .2em;
  }*/
}
.articleCate .grid > a span {
  display: block;
  text-align: center;
  max-width: 7.7em;
  line-height: 1.3em;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0 0.2em;
}
.articleCate .grid > a:hover {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7294117647));
}
.articleCate .grid.multipleRows {
  justify-content: center;
}
.articleCate.half {
  width: 49.6%;
  float: right;
  margin-left: 0.8%;
  clear: unset;
  padding-bottom: 0;
  position: relative;
}
.articleCate.half:nth-of-type(2n+1) {
  margin-left: 0;
  float: left;
}
.articleCate.half .grid {
  height: 11em;
  margin-bottom: 0.5em;
}
.articleCate.half:not(.noOverflow) {
  position: relative;
}
.articleCate.half:not(.noOverflow) .grid {
  height: unset;
  /* max-height: 11em;*/
}
.articleCate.half:not(.noOverflow) button {
  position: absolute;
  top: 1.6em;
  left: 0;
}
@media (max-width: 1200px) {
  .articleCate.half {
    width: 100%;
    float: unset;
    margin-left: 0;
    clear: both;
    padding-bottom: 1.1em !important;
  }
  .articleCate.half .grid {
    height: unset;
    max-height: var(--closeHeight);
    margin-bottom: 1.4em !important;
  }
  .articleCate.half:not(.noOverflow) button {
    position: static;
  }
}

.filterBar {
  font-size: 1.04em;
  background: white;
  border-radius: 1em;
  padding: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.filterBar > div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24em);
  column-gap: 2em;
  row-gap: 1em;
}
.filterBar > div label {
  color: #42515a;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
}
.filterBar > div input, .filterBar > div .select {
  background: #ebebeb;
  border: 0.1em solid #cdcdcd;
  border-radius: 0.2em;
  margin-right: 0.2em;
  padding: 0.1em 0.8em;
  font-size: 1em;
  color: #858585;
  width: 16em;
}
.filterBar > div .select.active, .filterBar > div .select:hover {
  background: #dbdbdb;
  border-color: rgba(0, 0, 0, 0.1803921569);
}
.filterBar button {
  color: white;
  background: linear-gradient(90deg, #1c43c2 32%, #19cde8 71%);
  font-weight: bold;
  padding: 0.5em 1.8em;
  border-radius: 0.4em;
  font-size: 1.2em;
}
@media (max-width: 480px) {
  .filterBar {
    flex-direction: column;
    gap: 1em;
  }
  .filterBar > div {
    justify-content: center;
  }
  .filterBar button {
    width: 19em;
  }
}

.select {
  --height: 10px;
  display: inline-block;
  position: relative;
  direction: rtl;
  background-color: #E9E9ED;
  border: 0.1em solid #8F8F9D;
  border-radius: 0.25em;
  padding: 0.1em 0.2em;
  padding-left: 1.4em;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  font-size: 1em;
  height: 2.8em;
}
.select::after {
  content: "";
  --thick: 0.37em;
  display: inline-block;
  border: var(--thick) solid black;
  padding: 0.7em;
  border-top: var(--thick) solid transparent;
  border-left: var(--thick) solid transparent;
  transform: translate(0, -0.7em) rotate(45deg);
  font-size: 3px;
  border-radius: 0.5em;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 3em auto 2.3em;
  transition: inherit;
}
.select:hover {
  background-color: #D0D0D7;
}
.select .list {
  opacity: 0;
  visibility: hidden;
  background-color: #F9F9FB;
  border: 0.1em solid #A0A0A0;
  padding: 0;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1411764706);
  border-radius: 0.25em;
  z-index: 100;
  min-width: max-content;
  width: 100%;
  position: absolute;
  right: 0;
  top: 80%;
  max-height: 10px;
  overflow-y: auto;
  transition: opacity 0.2s;
}
.select .list span {
  display: block;
  text-align: right;
  padding: 0.15em 0.4em;
  cursor: pointer;
}
.select .list span.active, .select .list span:hover {
  background-color: #E0E0E6;
}
.select .list::-webkit-scrollbar {
  width: 0.4em;
}
.select .list::-webkit-scrollbar-track {
  background: #d2d2d2;
}
.select .list::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 0.6em;
}
.select > span {
  display: inline-block;
  white-space: nowrap;
  max-width: calc(100% - 0.5em);
  overflow: hidden;
  text-overflow: ellipsis;
}
.select select {
  display: none !important;
}
.select.active::after {
  transform: translate(0, 0.6em) rotate(45deg) scale(-1);
}
.select.active .list {
  opacity: 100;
  visibility: visible;
  max-height: var(--height);
}
.select.bottom .list {
  top: calc(100% + 0.2em);
}
.select.top .list {
  bottom: calc(100% + 0.2em);
  top: unset;
}
@media (max-width: 480px) {
  .select.select .list {
    position: fixed;
    top: 30vh;
    height: 80vh;
    max-height: unset;
    border: unset;
    font-size: 1.2em;
    transition: 0.2s top, 0.2s opacity, 0.2s visibility;
  }
  .select.select .list span {
    padding: 0.5em 0.9em;
    border-bottom: 0.1em solid rgba(128, 128, 128, 0.2588235294);
  }
  .select.select .list::before {
    content: "";
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5215686275);
    height: 20vh;
    width: 100%;
  }
  .select.select.active .list {
    top: 20vh;
  }
}

.loader {
  font-size: 0.8em;
  --mainColor: rgb(88, 160, 255);
  --backColor: rgb(224, 224, 224);
  --thick: .78em;
  --duration: 1.3s;
  height: 5em;
  width: 5em;
  border: var(--thick) solid var(--backColor);
  border-top: var(--thick) solid var(--mainColor);
  border-radius: 50%;
  animation: spin var(--duration) infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  margin: auto;
  margin-bottom: 1em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-areas: "logo logo logo" "links contact enamad" "links contact enamad" "text text text";
  color: var(--textColorStrong);
  background-color: white;
  padding: 4em 5em 2em;
  margin-top: 1em;
  gap: 1em;
}
footer p,
footer a {
  font-size: 1.2em;
}
footer .h5 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 600;
}
footer .logo-footer {
  grid-area: logo;
  justify-self: right;
}
footer .logo-footer img {
  height: auto;
}
footer .links-footer {
  display: grid;
  grid-area: links;
  grid-template-areas: "title title" "rightLinks leftLinks";
  grid-template-rows: 4em;
  gap: 0 2em;
}
footer .links-footer .h5 {
  grid-area: title;
}
footer .links-footer > div a {
  display: list-item;
  margin-right: 1em;
  list-style: disc;
}
footer .links-footer > div:first-child {
  grid-area: rightLinks;
}
footer .links-footer > div:last-child {
  grid-area: leftLinks;
}
footer .contact-footer {
  grid-area: contact;
}
footer .contact-footer #mobile > span {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer #mobile > span > span:nth-of-type(2) {
  flex-basis: auto;
}
footer .contact-footer p {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
}
footer .contact-footer p::before {
  content: "";
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-left: 0.5em;
  background-image: url("/Content/images/img/footerIcon1.png");
  background-repeat: no-repeat;
  background-size: 657%;
  flex-shrink: 0;
}
footer .contact-footer p:nth-of-type(1)::before {
  background-position: 0 0.1em;
}
footer .contact-footer p:nth-of-type(2)::before {
  background-position: -2.1em 0.1em;
  background-size: 533%;
}
footer .contact-footer p:nth-of-type(3)::before {
  background-position: -5.7em 0em;
}
footer .contact-footer p:nth-of-type(4)::before {
  background-position: -8.5em 0.1em;
}
footer .contact-footer p:nth-of-type(5)::before {
  background-position: -11.3em 0.1em;
}
footer .contact-footer .socialmedia-footer {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer .socialmedia-footer a {
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.5em;
  --wid: 3em;
  width: var(--wid);
  height: var(--wid);
  background-image: url("/Content/images/img/HeaderAndFooterIcons.webp");
  background-repeat: no-repeat;
  background-size: 514%;
  background-position: 0 0;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(1) {
  background-position: -181px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(2) {
  background-position: -134px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(3) {
  background-position: -89px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(4) {
  background-position: -43px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(5) {
  background-position: 2px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(6) {
  background-size: cover;
}
footer .enamad-footer {
  grid-area: enamad;
  width: 10em;
  justify-self: left;
  align-self: end;
  margin-top: 1em;
}
footer > p {
  background-color: var(--white);
  color: var(--blue);
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1em;
  grid-area: text;
  border-radius: var(--borderRadius);
  margin-top: 2em;
}
@media (max-width: 992px) {
  footer {
    grid-template-areas: "logo logo logo" "links links links" "contact contact contact" "enamad enamad enamad" "text text text";
  }
}
@media (max-width: 992px) and (min-width: 479px) {
  footer .links-footer {
    grid-template-areas: "title title" "rightLinks rightLinks" "leftLinks leftLinks";
    grid-gap: 0;
  }
  footer .links-footer > div {
    display: flex;
    flex-wrap: wrap;
  }
  footer .links-footer > div a {
    display: list-item;
    margin-right: 1em;
    list-style: disc;
    margin-left: 1.5em;
  }
  footer .links-footer > div:first-child, footer .links-footer > div:last-child {
    grid-column: 1/2;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 4em 2em 2em;
    grid-template-areas: "logo" "links" "contact" "enamad" "text ";
    grid-template-columns: 100%;
  }
  footer .enamad-footer {
    grid-column: 1/2;
    justify-self: right;
  }
}
@media (max-width: 330px) {
  footer .links-footer {
    display: block;
  }
}

.p-ddu {
  opacity: 100;
}
