@charset "UTF-8";
/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
video[poster] {
  object-fit: contain;
  background-color: #fff;
}

.banner--inner {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6em;
}
.banner--inner h1 {
  text-align: center;
  color: var(---white);
  font-weight: 400;
  font-size: 2.2em;
  width: 100%;
}

.owl-carousel {
  direction: ltr;
}

.section-txt {
  padding-inline: 3em;
}
.section-txt p {
  font-size: 1.1em;
}
.section-txt.last-section {
  padding-bottom: 2em;
  margin-bottom: 0;
  margin-top: 2em;
}
@media (max-width: 1400px) {
  .section-txt {
    margin-bottom: 2em;
  }
}

.innerPage-container {
  font-size: 1.4em;
  padding: 0 !important;
}
.innerPage-container .owl-carousel .owl-dots {
  display: none;
}
.innerPage-container .owl-carousel .owl-nav {
  display: block;
  width: 100%;
}
.innerPage-container .owl-carousel .owl-nav button.owl-next.owl-prev::after,
.innerPage-container .owl-carousel .owl-nav button.owl-prev.owl-prev::after {
  font-weight: 600;
  content: "\f060";
}
.innerPage-container .owl-carousel .owl-nav button.owl-next.owl-prev::after, .innerPage-container .owl-carousel .owl-nav button.owl-next.owl-next::after,
.innerPage-container .owl-carousel .owl-nav button.owl-prev.owl-prev::after,
.innerPage-container .owl-carousel .owl-nav button.owl-prev.owl-next::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
}
.innerPage-container .owl-carousel .owl-nav button.owl-next.owl-next::after,
.innerPage-container .owl-carousel .owl-nav button.owl-prev.owl-next::after {
  font-size: 1.1;
  font-weight: 600;
  position: absolute;
  content: "\f061";
}
.innerPage-container .owl-carousel .owl-nav button.owl-next span,
.innerPage-container .owl-carousel .owl-nav button.owl-prev span {
  opacity: 0;
  position: relative;
  display: none;
}

.teens.innerPage-container .td-content {
  padding-inline: 2em;
}

a {
  padding: 0.2em 1em;
  border-radius: 10px;
}

.strong-title {
  color: var(--yellow);
}

.title-style-o {
  position: relative;
  width: max-content;
  font-size: 1.5em;
  margin: auto;
}
.title-style-o::after {
  position: absolute;
  content: "|";
  bottom: -1.5em;
  left: 50%;
}

.link-arrow a {
  position: relative;
  text-align: left;
  display: block;
  font-size: 1em;
  margin-left: 1.5em;
  width: 9em;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 0.2em 1em 0.2em 0.5em;
}
.link-arrow a::after {
  position: absolute;
  content: "\f30a";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  transition: 0.5s;
  font-size: 0.9em;
}

.link-more-k {
  color: var(--textColorStrong);
  display: inline-block;
  margin: 0 auto;
  background-color: var(--yellow);
  height: fit-content;
  line-height: 2em;
  margin-block: 1.5em;
}

.grid-rows--two {
  grid-template-rows: 8em auto;
}

.overlay-video-interview {
  display: grid;
}
.overlay-video-interview.hide {
  display: none;
}

.title-style-article {
  position: relative;
  padding-bottom: 0.3em;
  font-size: 1.2em;
}
.title-style-article span {
  color: var(--yellow);
}
.title-style-article::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1.5em;
  height: 2px;
  background-color: var(--yellow);
}

.show-more--btn {
  display: none;
  position: relative;
  font-weight: 600;
  margin-top: 2em;
  cursor: pointer;
  font-size: 0.9em;
  min-width: 8em;
}
.show-more--btn.active {
  display: inline-block;
}
.show-more--btn.active::before {
  content: "ادامه مطلب...";
}
.show-more--btn.active.close::before {
  content: "بستن";
}
.show-more--btn::before {
  z-index: -1;
}

.title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-icon img {
  width: 2.5em;
  margin-right: 0.5em;
}

.logo-header-footer {
  display: grid !important;
  grid-template-columns: 7em auto;
  gap: 0 0.5em;
  grid-column: 1/4;
}
.logo-header-footer img {
  grid-row: 1/3;
}
.logo-header-footer p,
.logo-header-footer h2, .logo-header-footer h1 {
  color: var(--blue);
}
.logo-header-footer h2, .logo-header-footer h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: 900;
  font-size: 1em;
  align-self: end;
}
.logo-header-footer h1 {
  font-size: 1.3em;
}
.logo-header-footer p {
  grid-column: 2/3;
  font-size: 0.8em;
}

.show-video {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  grid-column: 2/3;
}
.show-video .overlay-video-interview {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.show-video .overlay-video-interview i,
.show-video .overlay-video-interview p {
  position: absolute;
  color: var(--white);
}
.show-video .overlay-video-interview i {
  transform: translate(-50%, -40%);
  font-size: 2.2em;
  left: 50%;
  top: 50%;
}
.show-video .overlay-video-interview p {
  left: 0%;
  top: 35%;
  transform: translate(0, -39%);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  right: 0;
}
.show-video .overlay-video-interview.hide {
  display: none;
}

.img-smallDevice {
  display: none;
  width: 27%;
}

/*---operator*/
.operator {
  background-color: #fdcd46;
  position: fixed;
  z-index: 6;
  width: auto;
  bottom: 5em;
  left: 5em;
  border-radius: var(--borderRadiusBig);
  color: #000;
  padding: 1em 1.5em 0.5em;
  opacity: 100;
  visibility: visible;
  transition: 0.15s;
  font-size: 0.8em;
}
.operator.screen-operator.close, .operator.initialHide {
  opacity: 0;
  visibility: hidden;
}
.operator > div {
  display: flex;
}
.operator i {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
}
.operator img {
  width: 3.5em;
  margin: 0 auto 1em;
}
.operator p {
  font-size: 1.2em;
  text-align: center;
}
.operator .text {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.operator .operator-modal {
  display: none;
}

@media (max-width: 992px) {
  .article-index article {
    --heightOpen: 0;
    margin-top: 0;
    max-height: 16em;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .article-index article.show {
    max-height: var(--heightOpen);
  }
}
@media (max-width: 700px) {
  /*---*/
  .operator {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    bottom: 2em;
    left: 2em;
  }
  .operator > div > img {
    width: 2.7em;
  }
  .operator > div {
    align-items: center;
    justify-content: center;
  }
  .operator p, .operator i {
    display: none;
  }
  .operator-modal.show {
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    background-color: #fdcd46;
    border-radius: var(--borderRadiusBig);
    left: 50%;
    bottom: 50%;
    z-index: 100;
    padding: 1em;
    transform: translate(-50%, 50%);
    color: #000;
  }
  .operator-modal.close {
    display: none;
  }
  .operator-modal p, .operator-modal a {
    text-align: center;
  }
  .operator-modal .text {
    font-weight: 600;
  }
  .operator-modal p:not(.text) {
    display: flex;
  }
  .operator-modal a {
    display: block;
  }
}
@media (max-width: 480px) {
  .innerPage-container {
    font-size: 1.2em !important;
  }
  .section-txt {
    padding-inline: 1em;
  }
  .link-arrow a {
    padding: 0.2em 0.5em;
  }
  .title-style-o {
    font-size: 1.2em;
  }
}
.consultation {
  --topHeight: 12.4vw;
  --bottomHeight: 22.2vw;
  background-image: url("/Content/images/img/consultationBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-bottom: 4em;
  grid-template-columns: 60% 40%;
}

.owl-carousel {
  direction: ltr;
}

.section-txt {
  padding-inline: 3em;
}
.section-txt p {
  font-size: 1.1em;
}

.kids {
  font-size: 1.25em;
  padding: 0 !important;
  background-color: var(--white);
  color: var(--textColorStrong);
}
.kids strong {
  font-weight: inherit;
}
.kids .owl-carousel .owl-dots {
  display: none;
}
.kids .owl-carousel .owl-nav {
  display: block;
  width: 100%;
}
.kids .owl-carousel .owl-nav button.owl-next.owl-prev::after,
.kids .owl-carousel .owl-nav button.owl-prev.owl-prev::after {
  font-weight: 600;
  content: "\f060";
}
.kids .owl-carousel .owl-nav button.owl-next.owl-prev::after, .kids .owl-carousel .owl-nav button.owl-next.owl-next::after,
.kids .owl-carousel .owl-nav button.owl-prev.owl-prev::after,
.kids .owl-carousel .owl-nav button.owl-prev.owl-next::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
}
.kids .owl-carousel .owl-nav button.owl-next.owl-next::after,
.kids .owl-carousel .owl-nav button.owl-prev.owl-next::after {
  font-size: 1.1em;
  font-weight: 600;
  position: absolute;
  content: "\f061";
}
.kids .owl-carousel .owl-nav button.owl-next span,
.kids .owl-carousel .owl-nav button.owl-prev span {
  opacity: 0;
  position: relative;
  display: none;
}
.kids .td-content {
  padding-inline: 3em;
  margin-block: 3em;
}
@media (max-width: 480px) {
  .kids {
    font-size: 1.17em;
  }
}

a {
  padding: 0.2em 1em;
  border-radius: 10px;
}

.strong-title {
  color: var(--yellow);
}

.title-style-o {
  position: relative;
  width: fit-content;
  font-size: 2em;
  margin: auto;
}
.title-style-o::after {
  position: absolute;
  content: "|";
  bottom: -1.5em;
  left: 50%;
}

.link-arrow a {
  position: relative;
  text-align: left;
  display: block;
  font-size: 1em;
  margin-left: 1.5em;
}
.link-arrow a::after {
  position: absolute;
  content: "\f30a";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  transition: 0.5s;
  font-size: 0.9em;
}
.link-more-k {
  color: var(--textColorStrong);
  display: inline-block;
  margin: 0 auto;
  background-color: var(--yellow);
  height: fit-content;
  line-height: 2em;
  margin-block: 1.5em;
}

.grid-rows--two {
  grid-template-rows: 8em auto;
}

.overlay-video-interview {
  display: grid;
}
.overlay-video-interview.hide {
  display: none;
}

.title-style-article {
  position: relative;
  padding-bottom: 0.5em;
  font-size: 1.8em;
}
.title-style-article span {
  color: var(--yellow);
}
.title-style-article::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1.5em;
  height: 2px;
  background-color: var(--yellow);
}

.show-more--btn {
  display: none;
  font-weight: 600;
  margin-top: 3em;
  cursor: pointer;
  display: none;
}
.show-more--btn.active {
  display: block;
}

.title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-icon img {
  width: 2.5em;
  margin-right: 0.5em;
}

.logo-header-footer {
  display: grid !important;
  grid-template-columns: 7em auto;
  gap: 0 0.5em;
  grid-column: 1/4;
}
.logo-header-footer img {
  grid-row: 1/3;
}
.logo-header-footer p,
.logo-header-footer h2 {
  color: var(--blue);
}
.logo-header-footer h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: 900;
  font-size: 1em;
  align-self: end;
}
.logo-header-footer p {
  grid-column: 2/3;
  font-size: 0.8em;
}

@media (max-width: 698px) {
  .consultation {
    background-image: url("/Content/images/img/consultationBg-res.png");
  }
  .title-style-article {
    text-align: center;
  }
  .title-style-article::after {
    right: 50%;
    transform: translateX(50%) translateY(0.7em);
    width: 0.2em;
    height: 0.8em;
  }
}
@media (max-width: 480px) {
  .title-style-article {
    font-size: 1.6em;
  }
  .title-style-o {
    font-size: 1.6em !important;
  }
  .section-txt {
    padding-inline: 1em;
  }
}
.kids .banner--inner {
  background-image: url(/Content/images/img/banner.png);
  background-size: 100% 100%;
  margin-bottom: 0 !important;
}
@media (max-width: 992px) {
  .kids .banner--inner {
    font-size: 0.9em;
  }
  .kids .banner--inner::before {
    transform: translate(-21%, 33%) scale(0.6);
    height: 22em;
  }
  .kids .banner--inner::after {
    height: 17em;
    width: 19em;
    transform: scale(0.6) rotate(214deg) translate(-50%);
  }
}
@media (max-width: 698px) {
  .kids .banner--inner::before {
    transform: translate(-38%, 37%) scale(0.4);
  }
  .kids .banner--inner::after {
    transform: scale(0.5) rotate(214deg) translate(-100%);
  }
}
@media (max-width: 480px) {
  .kids .banner--inner {
    background-size: 196% 97%;
    min-height: 28em;
  }
  .kids .banner--inner::after, .kids .banner--inner::before {
    display: none;
  }
}

.teens .banner--inner {
  background-image: url(/Content/images/img/banner-teens.png);
  min-height: 55em;
  position: unset;
  padding: 5em 4em 0 3em;
  margin-bottom: 4em;
}
.teens .banner--inner h1 {
  position: unset;
  text-align: right;
  font-size: 2.3em;
  transform: unset;
  width: 100%;
}
.teens .banner--inner h1 span {
  color: #61AAEE;
  display: block;
  font-weight: 900;
  font-size: 2.2em;
  margin-block: 0.8em;
  opacity: 1;
}
.teens .banner--inner ul {
  width: 100%;
  color: var(-\-white);
  font-size: 1.7em;
  line-height: 3em;
}
.teens .banner--inner ul > li {
  position: relative;
  padding-right: 2em;
}
.teens .banner--inner ul > li::before {
  position: absolute;
  content: "";
  width: 1.6em;
  height: 1.6em;
  background-image: url(/Content/images/img/robatFinger.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0.5em;
  right: 0;
}
.teens .banner--inner ul > li h2 {
  display: inline-block;
}
.teens .banner--inner ul > li strong {
  font-size: 0.7em;
  font-weight: 400;
}
@media (max-width: 992px) {
  .teens .banner--inner {
    min-height: 30em;
    padding: 2em 3em 0;
  }
  .teens .banner--inner ul {
    font-size: 1.5em;
  }
  .teens .banner--inner h1 {
    font-size: 2em;
  }
}
@media (max-width: 698px) {
  .teens .banner--inner {
    min-height: 24em;
    padding: 2em 2em 0 2em;
  }
  .teens .banner--inner ul {
    font-size: 1em;
    font-weight: 700;
  }
  .teens .banner--inner ul li strong {
    font-weight: 700;
  }
  .teens .banner--inner h1 {
    font-size: 1.8em;
  }
}
@media (max-width: 480px) {
  .teens .banner--inner {
    background-size: cover;
    min-height: 21em;
    margin-bottom: 2em;
    display: grid;
    padding: 0em 1em 0;
  }
  .teens .banner--inner h1 {
    font-size: 2.1em;
    font-weight: 600;
    align-self: center;
  }
  .teens .banner--inner h1 span {
    font-size: 1.5em;
    margin-block: 0.3em;
  }
  .teens .banner--inner p {
    display: none;
  }
}

.kids .aboutUs--k img {
  width: 121%;
  transform: scale(1.1);
  max-width: 25em;
  top: 31%;
}

.aboutUs--k {
  display: grid;
  grid-template-areas: "bg threeSection threeSection" "fourSection fourSection  fourSection ";
  grid-template-columns: 20% 40% 40%;
  position: relative;
}
.aboutUs--k img {
  grid-area: bg;
  position: absolute;
  z-index: 2;
  right: 15%;
}
.aboutUs--k section.three-box-aboutUs {
  grid-area: threeSection;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  gap: 1.5em;
  width: 88%;
  margin: 5em auto 0 2em;
  z-index: 1;
}
.aboutUs--k section.three-box-aboutUs div {
  position: relative;
  border-radius: 15px;
  padding: 0 2em 2em 2em;
  margin-top: 3em;
  z-index: 1;
}
.aboutUs--k section.three-box-aboutUs div:first-child {
  background-color: #E5EEC2;
}
.aboutUs--k section.three-box-aboutUs div:first-child:after {
  background-color: #E5EEC2;
}
.aboutUs--k section.three-box-aboutUs div:nth-child(2) {
  background-color: #FEF0C7;
}
.aboutUs--k section.three-box-aboutUs div:nth-child(2):after {
  background-color: #FEF0C7;
}
.aboutUs--k section.three-box-aboutUs div:nth-child(3) {
  background-color: #FBF3B3;
}
.aboutUs--k section.three-box-aboutUs div:nth-child(3):after {
  background-color: #FBF3B3;
}
.aboutUs--k section.three-box-aboutUs div:after {
  position: absolute;
  content: "";
  top: -3em;
  left: 0;
  right: 0;
  height: 6em;
  width: 100%;
  transform: translateY(10%);
  border-radius: 50% 50% 0.1em 0.1em;
  z-index: -1;
}
.aboutUs--k section.three-box-aboutUs div h4 {
  color: #383838;
  text-align: center;
  border-bottom: 2px solid #fff;
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 1.1em;
  white-space: nowrap;
}
.aboutUs--k section.three-box-aboutUs div p {
  color: #1c1919;
  line-height: 1.8;
  padding-inline: 0.5em;
}
.aboutUs--k section {
  grid-area: fourSection;
}
.aboutUs--k section .boxes-counter-s {
  background-image: url(/Content/images/img/bg-brown-small.png);
  display: grid;
  align-items: center;
  background-position: revert-layer;
  padding: 1em 0;
  background-repeat: no-repeat;
  grid-template-rows: 14em auto;
}
.aboutUs--k section .boxes-counter-s h4 {
  font-size: 1.5em;
  color: var(--white);
  text-align: center;
  font-weight: 400;
  padding-inline: 1em;
}
.aboutUs--k section .boxes-counter-s > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  margin: 0 8em;
  place-items: center;
}
.aboutUs--k section .boxes-counter-s > div div {
  background-color: var(--white);
  border-radius: 15px;
  padding: 0.5em 1.5em;
  text-align: center;
  color: var(---lightBlack);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1490196078);
  margin-block: 3.2vw 0;
  width: 70%;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutUs--k section .boxes-counter-s > div div p {
  border-bottom: 1px solid rgba(152, 152, 152, 0.1098039216);
  padding-block: 1em;
  text-align: center;
}
.aboutUs--k section .boxes-counter-s > div div span {
  padding-top: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  display: inline-block;
}

.teens .boxes-counter-s > div {
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
}
.teens .aboutUs--k {
  row-gap: 2.5em;
}
.teens .aboutUs--k img {
  width: 135%;
  top: 21%;
  right: -3%;
}
.teens .aboutUs--k section.three-box-aboutUs {
  gap: 1em;
  margin: 0em auto 0 4em;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
}
.teens .aboutUs--k section.three-box-aboutUs > div {
  margin-bottom: 0;
  border-radius: 15px;
}
.teens .aboutUs--k section.three-box-aboutUs > div > h4 {
  margin-block: 1em;
}
.teens .aboutUs--k section.three-box-aboutUs > div::after {
  display: none;
}
.teens .aboutUs--k section.three-box-aboutUs > div:first-child {
  background-color: #D9DEFF;
}
.teens .aboutUs--k section.three-box-aboutUs > div:first-child:after {
  background-color: #D9DEFF;
}
.teens .aboutUs--k section.three-box-aboutUs > div:nth-child(2) {
  background-color: #D9E6FF;
}
.teens .aboutUs--k section.three-box-aboutUs > div:nth-child(2):after {
  background-color: #D9E6FF;
}
.teens .aboutUs--k section.three-box-aboutUs > div:nth-child(3) {
  background-color: #D9EDFF;
}
.teens .aboutUs--k section.three-box-aboutUs > div:nth-child(3):after {
  background-color: #D9EDFF;
}

@media (max-width: 1410px) {
  .teens .aboutUs--k {
    display: block;
  }
  .teens .aboutUs--k img {
    left: 50%;
    margin: auto;
    top: 0;
    bottom: auto;
    right: auto;
    transform: translateX(-50%);
    width: 14em;
  }
  .teens .aboutUs--k section.three-box-aboutUs {
    display: grid;
    grid-template-columns: fit-content;
    gap: 1em;
    padding: 14em 0 0 0;
    width: auto;
    margin: 5em auto 0;
    z-index: 1;
    padding-inline: 1.5em;
  }
}
@media (max-width: 1400px) {
  .kids .aboutUs--k img {
    top: 46%;
  }
  .teens .boxes-counter-s > div {
    margin-inline: auto 1.5em;
  }
}
@media (max-width: 698px) {
  .kids .aboutUs--k img {
    top: 1%;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .kids .aboutUs--k img {
    bottom: -7em;
  }
}
@media (max-width: 1200px) {
  .kids .aboutUs--k {
    grid-template-columns: 15% 40% 45%;
  }
  .kids .aboutUs--k img {
    transform: translateX(-50%) scale(1);
    bottom: unset;
  }
  .aboutUs--k {
    display: block;
  }
  .aboutUs--k img {
    left: 50%;
    margin: auto;
    top: 0;
    bottom: auto;
    right: auto;
    transform: translateX(-50%);
  }
  .aboutUs--k section.three-box-aboutUs {
    display: grid;
    grid-template-columns: fit-content;
    gap: 1em;
    padding: 14em 0 0 0;
    width: auto;
    margin: 0 1em;
    z-index: 1;
  }
  .kids .aboutUs--k img {
    width: 14em;
  }
}
@media (max-width: 992px) {
  .teens .aboutUs--k section.three-box-aboutUs {
    grid-template-columns: 31em;
    justify-content: center;
  }
  .teens .boxes-counter-s > div {
    padding-inline: 1em;
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width: 481px) {
  .teens .aboutUs--k img {
    width: 13em;
  }
}
@media (max-width: 698px) {
  .teens .aboutUs--k section.three-box-aboutUs {
    grid-template-columns: 1fr;
  }
  .teens .boxes-counter-s > div {
    padding-inline: 1em;
    width: 100%;
  }
  .aboutUs--k {
    margin-bottom: 1em;
  }
  .aboutUs--k section.three-box-aboutUs div {
    /*  margin-block: 1em;*/
  }
  .aboutUs--k section.three-box-aboutUs div:first-child {
    /*   margin-top: 2em;*/
  }
}
@media (max-width: 480px) {
  .aboutUs--k img {
    transform: translateX(-50%) scale(0.8);
  }
}
/*start/about us(counter)*/
* {
  -moz-margin: 0px;
  -webkit-margin: 0px;
}

.kids .boxes-counter-s {
  margin-top: 2.5em;
}

.boxes-counter-s {
  background-size: cover;
  display: grid;
  align-items: center;
  background-position: top;
  padding-top: 1em;
  background-repeat: no-repeat;
  grid-template-rows: 8em auto;
}
.boxes-counter-s h4 {
  font-size: 2.4em;
  color: var(--white);
  text-align: center;
  font-weight: 400;
  padding-inline: 1em;
  line-height: 1.9em;
  padding-top: 1.6vw;
}
.boxes-counter-s > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  margin: 0 8em;
  place-items: center;
  z-index: 1;
}
.boxes-counter-s > div div {
  background-color: var(--white);
  border-radius: 15px;
  padding: 0.5em 1em;
  text-align: center;
  color: var(---lightBlack);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1490196078);
  margin-block: 3.2vw 0;
  width: 70%;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxes-counter-s > div div p {
  border-bottom: 1px solid rgba(152, 152, 152, 0.32);
  padding-block: 1em;
  text-align: center;
  font-size: 1.2vw;
}
.boxes-counter-s > div div span {
  padding-top: 0.5em;
  font-size: 1.6vw;
  font-weight: 600;
  display: inline-block;
}
@media (max-width: 698px) {
  .boxes-counter-s > div > div > p {
    font-size: 1em;
  }
  .boxes-counter-s > div > div > span {
    font-size: 1.5em;
  }
}

.kids .boxes-counter-s {
  background-image: url(/Content/images/img/bg-brown-small.png);
  height: 19vw;
  background-size: cover;
}
.kids .boxes-counter-s::after {
  position: absolute;
  content: "";
  background-image: url(/Content/images/img/line.png);
  background-repeat: no-repeat;
  min-width: 0;
  width: 100%;
  height: 48vw;
  background-position: -4vw -1vw;
  background-size: 107vw 50vw;
  z-index: 0;
}

.teens .boxes-counter-s {
  background-repeat: no-repeat;
  background-image: url(/Content/images/img/Rectangle.png);
  min-height: 24em;
  background-size: 100%;
}
.teens .boxes-counter-s > div {
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  margin: 0 4em;
  z-index: 1;
  width: 60%;
  margin-right: auto;
  gap: 0 1em;
}
.teens .boxes-counter-s > div div {
  width: 100%;
}

@media (max-width: 1410px) {
  .teens .boxes-counter-s {
    background-size: 100% 100%;
  }
  .teens .boxes-counter-s > div {
    width: 83%;
    margin: auto;
  }
  .teens .boxes-counter-s > div > div {
    height: 13vw;
  }
  .teens .boxes-counter-s > div > div > p {
    font-size: 1.7vw;
  }
  .teens .boxes-counter-s > div > div > span {
    font-size: 2vw;
  }
}
@media (max-width: 1400px) {
  .kids .boxes-counter-s::after {
    background-position: -7vw -3.7vw;
    background-size: 110vw 59vw;
  }
}
@media (max-width: 1280px) {
  .kids .boxes-counter-s::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .boxes-counter-s {
    background-size: auto;
  }
  .boxes-counter-s > div {
    margin: 0;
  }
  .teens .boxes-counter-s {
    grid-template-rows: 100%;
  }
  .teens .boxes-counter-s > div {
    grid-template-columns: 1fr 1fr;
  }
  .teens .boxes-counter-s > div > div {
    height: 21vw;
  }
  .teens .boxes-counter-s > div > div > p {
    font-size: 2.5vw;
  }
  .teens .boxes-counter-s > div > div > span {
    font-size: 3vw;
  }
  .teens .boxes-counter-s {
    margin-bottom: 2em;
    grid-template-rows: 100%;
  }
}
@media (max-width: 698px) {
  .boxes-counter-s {
    height: 56vw !important;
    background-size: 100% 100% !important;
    margin-bottom: 5em;
  }
  .boxes-counter-s h4 {
    font-size: 1.5em;
  }
  .boxes-counter-s > div div {
    height: 23vw;
  }
}
@media (max-width: 480px) {
  .teens .boxes-counter-s > div {
    width: 100%;
  }
  .teens .boxes-counter-s > div > div {
    height: 30vw;
  }
  .teens .boxes-counter-s > div > div > p {
    font-size: 4vw;
  }
  .teens .boxes-counter-s > div > div > span {
    font-size: 4.1vw;
  }
  .boxes-counter-s {
    height: 96vw !important;
    background-size: 100% 100% !important;
    margin-bottom: 1em;
  }
  .boxes-counter-s > div {
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  }
  .boxes-counter-s > div div {
    width: 90%;
    height: 31vw;
  }
  .boxes-counter-s h4 {
    margin-top: 2em;
    font-size: 1.2em;
  }
}
/*start/learning path*/
.learningPath {
  position: relative;
  display: grid;
  margin-block: 8em 3em;
}
.learningPath::after {
  position: absolute;
  content: "";
  background-image: url("/Content/images/img/footprintBig.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 22em;
  height: 22em;
  top: -3em;
  right: 13vw;
  opacity: 0.5;
}
.learningPath h4 {
  margin-bottom: 3em;
}
.learningPath > div {
  display: grid;
  gap: 1em;
  width: 100%;
  margin: auto;
  align-items: center;
  grid-template-rows: 17em;
  grid-template-columns: 60% auto;
  margin-bottom: 5em;
  z-index: 1;
}
.learningPath > div:nth-child(2) {
  position: relative;
}
.learningPath > div:nth-child(2)::after {
  position: absolute;
  content: "";
  background-image: url(/Content/images/img/tree-dog00.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 19vw;
  height: 24vw;
  left: 8%;
  top: -16.3vw;
  z-index: 0;
  transform: scale(1.2);
}
.learningPath > div > div:not(:first-child) {
  grid-row: 1/3;
}
.learningPath > div .show-video-l {
  margin-inline: 5em;
  grid-row: 1/3;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  grid-column: 2/3;
  z-index: 1;
  max-height: 17em;
}
.learningPath > div .show-video-l .overlay-video-interview {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.learningPath > div .show-video-l .overlay-video-interview i,
.learningPath > div .show-video-l .overlay-video-interview p {
  position: absolute;
  color: var(--white);
}
.learningPath > div .show-video-l .overlay-video-interview i {
  transform: translate(-50%, -50%);
  font-size: 2.2em;
  left: 50%;
  top: 50%;
}
.learningPath > div .show-video-l .overlay-video-interview p {
  left: 0%;
  top: 35%;
  transform: translate(0, -39%);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  right: 0;
  padding-inline: 1em;
}
.learningPath > div .show-video-l .overlay-video-interview.hide {
  display: none;
}
.learningPath > div:first-child {
  grid-template-columns: 100%;
  grid-template-rows: 6em;
  margin-top: 7em;
}
.learningPath > div:first-child .show-video-l {
  grid-row: 2/4;
}
.learningPath > div:first-child h4 {
  grid-row: 1/2;
}
.learningPath > div:first-child .txt-path {
  grid-row: 2/4;
}
.learningPath > div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.learningPath > div > img {
  height: 24em;
}
.learningPath > div .txt-path {
  border-radius: 100px 10px 10px 100px;
  grid-template-areas: "image title" "image text" "image link";
  grid-template-columns: 10% auto;
  gap: 0 0.5em;
  margin-right: 5em;
  padding: 1em 2em;
  display: grid;
  position: relative;
  color: var(---lightBlack);
  height: 14em;
}
.learningPath > div .txt-path::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 12em;
  background-position: center;
  left: 4em;
  top: -9%;
  bottom: 0;
  transform: translateY(0%) scale(2.5);
  z-index: -1;
  height: 116%;
}
.learningPath > div .txt-path img {
  grid-area: image;
  height: 100%;
  width: 11em;
  right: -5em;
  position: absolute;
}
.learningPath > div .txt-path p {
  grid-area: text;
  line-height: 1.6em;
  margin-block: 0.3em 0.4em;
  -webkit-line-clamp: 3;
  font-size: 1.2em;
  height: 4.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.learningPath > div .txt-path h5 {
  grid-area: title;
  color: var(--textColorStrong);
  font-size: 1.5em;
  padding-top: 0.6em;
}
.learningPath > div .txt-path .link-arrow {
  grid-area: link;
}
.learningPath > div .txt-path .link-arrow a {
  background-color: var(--white);
  width: 9em;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 0.2em 1em 0.2em 0.5em;
}
.learningPath > div .txt-path .link-arrow a::after {
  left: 1.2em;
}
.learningPath > div .txt-path .link-arrow a:hover::after {
  left: 1em;
}
.learningPath > div .txt-path .link-arrow a i {
  transform: translateX(0);
  transition: 0.5s;
}
.learningPath > div .txt-path .link-arrow a:hover i {
  transform: translateX(-0.3em);
}
.learningPath > div:nth-child(odd) h4 {
  text-align: left;
  margin-left: inherit;
  margin-right: auto;
  font-size: 2em;
}
.learningPath > div:nth-child(odd) .txt-path {
  background-color: var(--yellow);
}
.learningPath > div:nth-child(odd) .txt-path::after {
  background-image: url(/Content/images/img/f-yellow.png);
}
.learningPath > div:nth-child(even) .txt-path {
  background-color: var(--green);
}
.learningPath > div:nth-child(even) .txt-path::after {
  background-image: url(/Content/images/img/f-green02.png);
}
.learningPath .link-arrow a::after {
  left: 1.5em;
}
.learningPath .link-arrow a:hover::after {
  left: 1em;
}

@media (max-width: 1400px) {
  .learningPath > div .show-video-l {
    margin-inline: 2em;
  }
  .learningPath > div .txt-path {
    margin-right: 3em;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .learningPath > div .txt-path {
    margin-inline: 5em 2em;
  }
  .learningPath > div .txt-path img {
    width: 9em;
    right: -3em;
  }
  .learningPath > div .txt-path p, .learningPath > div .txt-path h5, .learningPath > div .txt-path > div {
    margin-right: 6em;
  }
}
@media (max-width: 1200px) {
  .learningPath::after {
    display: none;
  }
  .learningPath > div .txt-path {
    margin-inline: 2em;
    grid-template-columns: 1fr;
    padding: 1em;
  }
}
@media (max-width: 992px) {
  .learningPath {
    gap: 2em;
    margin-block: 0 3em;
  }
  .learningPath > div {
    margin-bottom: 0;
  }
  .learningPath > div img {
    display: none;
  }
  .learningPath > div .show-video-l {
    margin-inline: 1em;
  }
  .learningPath > div:nth-child(odd) h4 {
    margin-inline: auto;
  }
}
@media (max-width: 698px) {
  .learningPath > div:nth-child(2)::after {
    width: 14em;
    left: 16%;
    top: -59%;
  }
  .learningPath > div {
    grid-template-columns: 1fr;
  }
  .learningPath > div:nth-child(2)::after {
    background-image: url(/Content/images/img/tree-dog-res.png);
    width: 60vw;
    height: 51vw;
    left: 21%;
    top: -58.3vw;
  }
  .learningPath > div:first-child .txt-path {
    margin-bottom: 2em;
  }
  .learningPath > div .txt-path {
    margin-bottom: 1em;
  }
  .learningPath > div .txt-path:not(:first-child) {
    grid-row: 1/2;
  }
  .learningPath > div .txt-path:after {
    display: none;
  }
  .learningPath > div:first-child {
    grid-template-rows: auto 10em auto;
    margin-top: 3em;
    margin-bottom: 33vw !important;
    gap: 0;
  }
  .learningPath > div:first-child > div:first-child {
    margin-bottom: 4em;
  }
  .learningPath > div:first-child > img {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .learningPath > div:first-child .txt-path {
    grid-row: 3/4;
  }
  .learningPath > div:first-child .show-video-l {
    grid-row: 4/5;
  }
  .learningPath > div .txt-path,
  .learningPath > div .show-video-l {
    grid-column: 1/2;
  }
  .learningPath > div .show-video-l {
    grid-row: 2/3;
    width: 60%;
    margin: auto;
  }
  .learningPath > div:first-child > img {
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  .learningPath h4 {
    margin-bottom: 0;
  }
  .learningPath > div {
    width: 90%;
    margin-bottom: 0 !important;
    width: 100%;
  }
  .learningPath > div:nth-child(2)::after {
    background-image: url(/Content/images/img/tree-dog-res.png);
    width: 60vw;
    height: 51vw;
    left: 21%;
    top: -58.3vw;
  }
  .learningPath > div .txt-path {
    margin-inline: 1em;
    padding: 1em 0 1em 1em;
  }
  .learningPath > div .txt-path p {
    font-size: 1em;
  }
  .learningPath > div .txt-path h5 {
    font-size: 1.1em;
  }
  .learningPath > div .txt-path::after {
    display: none;
  }
  .learningPath > div .txt-path .link-arrow {
    font-size: 0.8em;
  }
  .learningPath > div:first-child > img {
    height: 100%;
    margin-right: auto;
  }
  .learningPath > div .show-video-l {
    width: 90%;
  }
}
/*start/interview*/
.interview--k {
  position: relative;
  margin-top: 2em;
}
.interview--k::before {
  position: absolute;
  content: "";
  background-image: url(/public/Content/images/img/line2.png);
  height: 100%;
  left: 0;
  bottom: 0;
  background-position: center;
  transform: scale(1.04);
}
.interview--k h4 {
  margin-bottom: 3em;
}
.interview--k > div {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 1.5em;
  padding: 0 2em 2em;
}
.interview--k > div ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 1em;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.interview--k > div ul li.section-video-i {
  width: 95%;
  margin: auto;
}
.interview--k > div ul li.section-video-i > div {
  position: relative;
  height: 8em;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.interview--k > div ul li.section-video-i > div:hover .overlay-video-interview {
  visibility: visible;
  opacity: 1;
}
.interview--k > div ul li.section-video-i > div:hover .overlay-video-interview > div {
  transform: translateY(0);
}
.interview--k > div ul li.section-video-i > div:after {
  position: absolute;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5em;
  color: #fff;
  font-weight: 900;
  z-index: 3;
}
.interview--k > div ul li.section-video-i > div img {
  width: 100%;
  height: 100%;
}
.interview--k > div ul li.section-video-i p {
  margin-top: 0.5em;
}
.interview--k > div ul li.section-video-i p, .interview--k > div ul li.section-video-i span {
  padding-inline: 0.5em;
  text-align: right;
}
.interview--k > div ul li.section-video-i span {
  font-size: 0.9em;
  color: var(---lightBlack);
  display: block;
}
.interview--k > div .show-video-i {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 21em;
}
.interview--k > div .show-video-i:hover .overlay-video-interview {
  visibility: visible;
  opacity: 1;
}
.interview--k > div .show-video-i:hover .overlay-video-interview > div {
  transform: translateY(0);
}
.interview--k > div .description-person {
  display: none;
}
.interview--k > div video {
  width: 100%;
  height: 100%;
}
.interview--k .show-video-i {
  position: relative;
}
.interview--k .show-video-i.hide::after {
  display: none;
}
.interview--k .show-video-i::after {
  position: absolute;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5em;
  color: #fff;
  font-weight: 900;
  z-index: 3;
  cursor: pointer;
}
.interview--k .show-video-i .overlay-video-interview {
  background-image: url(/public/Content/images/img/kid.jpg);
  visibility: visible;
  opacity: 1;
}
.interview--k .show-video-i .overlay-video-interview::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.26);
  visibility: hidden;
  opacity: 0;
}
.interview--k .show-video-i .overlay-video-interview:hover::after {
  visibility: visible;
  opacity: 1;
}
.interview--k .overlay-video-interview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.26);
  color: #fff;
  z-index: 3;
  display: grid;
  opacity: 0;
  visibility: hidden;
  align-items: end;
  transition: 0.3s;
  cursor: pointer;
  background-size: cover;
}
.interview--k .overlay-video-interview.hide {
  position: relative;
}
.interview--k .overlay-video-interview > div {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.59);
  transform: translateY(100%);
  transition: 0.5s;
  width: 100%;
}
.interview--k .overlay-video-interview p {
  line-height: 2;
  font-size: 0.9em;
}
.interview--k .overlay-video-interview p:last-child {
  font-size: 0.8em;
}
.interview--k .overlay-video-interview span {
  margin-block: 0.5em;
}
.interview--k .owl-item {
  margin-right: 0 !important;
  margin-left: 10px !important;
}
.interview--k .owl-carousel .owl-nav.disabled {
  display: none;
}

.teens .title-style-o .img-smallDevice {
  position: absolute;
  top: -1em;
  right: -2.5em;
}
.teens .interview--k.circle-bg::after {
  border-style: dashed;
  right: -1em;
  bottom: 6em;
}
.teens .interview--k h4 {
  margin-bottom: 0;
}
.teens .interview--k > div {
  grid-template-columns: 25% 1fr 35%;
}
.teens .interview--k > div .age-person {
  display: none;
}
.teens .interview--k > div ul,
.teens .interview--k > div > div {
  margin-top: 5em;
}
.teens .interview--k > div img {
  width: 95%;
}
.teens .interview--k > div ul {
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
}
.teens .interview--k > div ul li.section-video-i p {
  text-align: right;
}
.teens .interview--k > div .show-video-i {
  height: 22em;
}

@media (max-width: 992px) {
  .interview--k > div {
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    padding: 0;
  }
  .interview--k > div ul {
    grid-row: 2/3;
    padding: 0;
  }
  .interview--k > div ul .item {
    width: 300px;
  }
  .interview--k > div ul li.section-video-i {
    width: 100%;
  }
  .interview--k > div .show-video-i {
    width: 50%;
    margin: auto;
  }
  .teens .img-bigDevice {
    display: none;
  }
  .teens .interview--k > div > div, .teens .interview--k > div ul {
    margin-top: 0;
  }
  .teens .interview--k h4 {
    margin-bottom: 3em;
  }
  .teens .interview--k h4 .img-smallDevice {
    display: block;
  }
}
@media (max-width: 991px) and (min-width: 699px) {
  .teens .interview--k > div {
    grid-template-columns: 50% 1fr;
    padding-inline: 1em;
  }
  .teens .interview--k > div .show-video-i {
    width: 100%;
  }
  .teens .interview--k > div ul {
    grid-row: 1/2;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  }
}
@media (max-width: 800px) {
  .interview--k > div .show-video-i {
    width: 55%;
  }
}
@media (max-width: 698px) {
  .teens .interview--k h4 {
    margin-bottom: 2em;
  }
  .teens .interview--k h4 .img-smallDevice {
    display: block;
  }
  .teens .interview--k > div {
    grid-template-columns: 100%;
  }
  .teens .interview--k > div .show-video-i {
    grid-row: 2/3;
  }
  .teens .interview--k > div ul {
    grid-row: 3/4;
  }
}
@media (max-width: 600px) {
  .interview--k > div .show-video-i {
    width: 65%;
  }
}
@media (max-width: 480px) {
  .interview--k .overlay-video-interview {
    visibility: visible;
    opacity: 1;
  }
  .interview--k .overlay-video-interview > div {
    transform: translateY(0);
  }
  .interview--k > div .show-video-i {
    width: 85%;
    height: 15em;
  }
}
.game-section {
  background-color: #EEF3DE;
  display: grid;
  grid-template-areas: "title title" "guideGame game" "guideGame game";
  grid-template-columns: 51% 45%;
  gap: 3em;
  padding: 2em 3em;
  direction: ltr;
  margin-bottom: 3em;
}
.game-section .title-game {
  grid-area: title;
  line-height: 1.8;
}
.game-section .title-game h4 {
  text-align: center;
  color: var(--brown);
  font-size: 1.7em;
  direction: rtl;
}
.game-section .guide-game {
  direction: rtl;
  padding-top: 3em;
}
.game-section .guide-game .description-game {
  overflow: hidden;
  max-height: 10em;
}
.game-section .guide-game > div {
  display: flex;
  justify-content: left;
  direction: ltr;
  gap: 3em;
  flex-wrap: wrap;
  margin-block: 2em 3em;
}
.game-section .guide-game > div ul {
  margin-left: 1em;
}
.game-section .guide-game > div ul li:not(:first-child) {
  list-style: disc;
}
.game-section .guide-game a {
  padding: 0.2em 1em;
  margin-top: 2em;
  margin-right: auto;
}
.game-section .game {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.game-section .game a {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}
.game-section .game img {
  border-radius: 10px;
  background-color: var(--textColorFade);
  height: 100%;
}
.game-section a {
  display: block;
  width: fit-content;
  background-color: var(--yellow);
  color: var(--textColorStrong);
  border-radius: 10px;
}

.teens .game-section {
  background-color: var(--boxGray);
}
.teens .game-section a {
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 992px) {
  .game-section {
    display: block;
  }
  .game-section .title-game {
    margin-bottom: 1.5em;
    font-size: 0.8em;
  }
  .game-section .guide-game {
    margin-bottom: 2em;
  }
  .game-section .guide-game a {
    display: none;
  }
  .game-section .game a {
    display: block;
  }
}
@media (max-width: 480px) {
  .game-section {
    padding: 2em 1em;
  }
  .game-section .title-game h4 {
    font-size: 1.5em;
  }
  .game-section .title-icon img {
    width: 2em;
  }
  .game-section .guide-game {
    padding-top: 1em;
  }
  .game-section .guide-game p:first-child {
    font-weight: 900;
  }
  .game-section .guide-game > div {
    display: none;
  }
  .game-section .game a {
    top: 40%;
  }
}
/*start/peojects students*/
.projects-students {
  transform: scale(0.95);
  text-align: right;
  margin-top: 5em;
}
.projects-students .item {
  width: 95%;
  margin: auto;
}
.projects-students .item a.category {
  color: var(--green);
  margin-top: 1em;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0;
}
.projects-students .item p {
  line-height: 2em;
  margin-block: 1em;
  color: var(--textColor);
  text-align: right;
}
.projects-students .item img {
  object-fit: cover;
}
.projects-students .item img.img-project {
  height: 15em;
  border-radius: 15px;
}
.projects-students .item .user-info-k {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5em;
}
.projects-students .item .user-info-k .img-user {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ccc;
}
.projects-students .item span {
  font-size: 0.9em;
  display: block;
}
.projects-students .item span:last-child {
  color: var(--textColorFade);
}
.projects-students .owl-carousel {
  padding-inline: 2em;
  margin-block: 4em 2em;
}
.projects-students .owl-carousel .owl-nav.disabled {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.projects-students .owl-carousel .owl-nav button {
  margin: 2em;
  font-size: 1.5em !important;
}
.projects-students .owl-carousel .owl-nav button.owl-next span, .projects-students .owl-carousel .owl-nav button.owl-prev span {
  opacity: 0;
}

.teens .projects-students.circle-bg::after {
  right: -4em;
  bottom: 0;
}
.teens .projects-students > div {
  display: grid;
  grid-template-columns: 30% 70%;
}

@media (max-width: 992px) {
  .projects-students .owl-carousel {
    padding-inline: 0;
  }
  .projects-students .tab .content-tab .owl-carousel .owl-nav button.owl-next.owl-next::after {
    right: 40%;
  }
  .projects-students .tab .content-tab .owl-carousel .owl-nav button.owl-prev.owl-prev::after {
    left: 40%;
  }
  .teens .projects-students.circle-bg::after {
    right: 50%;
    top: 0;
    transform: translateX(50%);
  }
  .teens .projects-students > div {
    grid-template-columns: 100%;
  }
  .teens .projects-students .img-smallDevice {
    display: block;
    margin: auto;
  }
}
/*start/cosultation*/
.consultation {
  padding-top: 14em;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: baseline;
  align-self: center;
  position: relative;
  z-index: 1;
  /*    &.show {
      min-height: 230vh;
  }*/
}
.consultation > div {
  height: fit-content;
  padding: 0em 4em 2em 0em;
}
.consultation > div article .p-limit {
  -webkit-line-clamp: 6;
}
.consultation > div article h4 {
  color: var(--white);
  margin-bottom: 1em;
}
.consultation > div article p {
  color: var(---white);
}
.consultation > div .show-more--btn {
  color: var(---white);
}
.consultation .call {
  color: var(--yellow);
  margin-top: 1em;
  font-weight: 600;
  font-size: 1.7em;
  width: fit-content;
  grid-row: 3/4;
  padding: 0 0 1em 2em;
  margin: 0em 2.6em 4em 0;
}
.consultation .call span {
  color: var(--white);
  display: block;
  font-weight: 400;
  font-size: 0.9em;
  text-align: right;
}
.consultation .call span:not(:last-child) {
  margin-top: 1em;
}
.consultation .call span:last-child {
  text-align: left;
  margin-top: 0.5em;
}
.consultation > img {
  width: 39vw;
  position: absolute;
  left: 0;
  top: -5vw;
}

.teens .consultation {
  margin-bottom: 2em;
  background-color: var(--boxGray);
  min-height: auto;
  grid-template-columns: 70% 1fr;
  padding: 2em;
}
.teens .consultation .show-more--btn {
  color: var(--textColor);
}
.teens .consultation.circle-bg::after {
  left: 0;
  bottom: -9em;
}
.teens .consultation > div {
  padding: 2em;
}
.teens .consultation.show {
  min-height: auto;
}
.teens .consultation img {
  top: 2em;
  height: 101%;
  width: auto;
}
.teens .consultation > div article p {
  color: var(--textColor);
}
.teens .consultation .call {
  padding-bottom: 0;
  color: var(--blue);
}
.teens .consultation .call span {
  color: var(--textColor);
}

@media (max-width: 992px) {
  .consultation {
    grid-template-rows: 8em max-content;
    grid-template-columns: 100%;
    margin-top: 47vw;
  }
  .consultation > img {
    grid-row: 1/2;
    width: 85vw;
    top: -77vw;
  }
  .consultation > div {
    grid-row: 2/3;
    padding: 2em;
  }
  .consultation > div article {
    margin-top: 0;
  }
  .consultation .call {
    padding: 1em;
    margin-inline: 1em;
  }
  .teens .consultation {
    grid-template-rows: 0 max-content;
    grid-template-columns: 1fr;
    margin-top: 6em;
  }
  .teens .consultation img {
    top: -5em;
  }
}
@media (max-width: 991px) and (min-width: 697px) {
  .teens .consultation img {
    width: 15%;
  }
}
@media (max-width: 698px) {
  .teens .consultation > div {
    padding-inline: 0;
  }
  .teens .consultation img {
    width: 20%;
  }
}
@media (max-width: 480px) {
  .consultation > div {
    padding: 1em;
  }
  .consultation .call {
    margin-inline: 0;
  }
  .consultation .call span:last-child {
    width: max-content;
  }
  .teens .consultation {
    padding: 1em;
  }
  .teens .consultation h4::after {
    display: none;
  }
  .teens .consultation img {
    width: 25%;
  }
}
.blog--k {
  background-image: url(/public/Content/images/img/bg-green.png);
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
}
.blog--k article {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 127vh;
  padding: 0 2em 0;
  text-align: center;
}
.blog--k article > img {
  width: 15%;
  position: absolute;
  right: 5%;
  top: -3em;
}
.blog--k article .title-style-o::after {
  color: var(--white);
}
.blog--k article > div {
  padding-top: 10em;
}
.blog--k article > div > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
  margin-top: 4em;
}
.blog--k article > div > div .card-blog--k {
  position: relative;
  margin-top: 3em;
  padding: 0.5em;
}
.blog--k article > div > div .card-blog--k img {
  width: 85%;
  height: 10em;
  position: absolute;
  top: -4em;
  margin: auto;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.blog--k article > div > div .card-blog--k img,
.blog--k article > div > div .card-blog--k .txt-card-blog--k {
  border-radius: 10px;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k {
  background-color: var(--white);
  padding: 7em 1.5em 1em;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k h5 {
  font-size: 1em;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k p {
  margin-block: 0.5em;
  line-height: 1.8;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k p.p-limit {
  -webkit-line-clamp: 2;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k a {
  color: var(--green);
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k .link-arrow {
  display: flex;
  justify-content: left;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k .link-arrow a {
  margin-left: 0.5em;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k .link-arrow a::after {
  left: 0;
  font-size: 0.9em;
}
.blog--k article > div > div .card-blog--k .txt-card-blog--k .link-arrow a:hover::after {
  left: -0.5em;
}
@media (max-width: 1400px) {
  .blog--k {
    min-height: 99vh;
  }
}
@media (max-width: 1200px) {
  .blog--k article {
    padding-bottom: 3em;
  }
}
@media (max-width: 698px) {
  .blog--k article {
    padding: 0 1em;
  }
  .blog--k article > img {
    width: 25%;
    top: 0;
  }
  .blog--k article > div > div .card-blog--k .txt-card-blog--k {
    padding: 6.5em 1em 1em;
  }
  .blog--k article > div > div .card-blog--k .txt-card-blog--k h5 {
    font-size: 0.9em;
  }
}
@media (max-width: 480px) {
  .blog--k article {
    padding: 0 0.5em;
  }
  .blog--k article > img {
    width: 40%;
  }
}

.teens .blog--k {
  background-color: var(--bgGray);
}
.teens .blog--k a.link-more {
  padding: 0.2em 1em;
}
@media (max-width: 480px) {
  .teens .blog--k article .title-style-o::after {
    color: var(--blue);
  }
  .teens .blog--k article > div {
    padding-top: 2em;
  }
  .teens .blog--k article > div > div {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    gap: 2em 0.5em;
  }
  .teens .blog--k article > div > div a {
    width: 5em;
  }
  .teens .blog--k article > div > div .txt-card-blog--k p {
    font-size: 0.9em;
  }
  .teens .blog--k article > div > div .txt-card-blog--k p.p-limit {
    -webkit-line-clamp: 4;
  }
  .teens .blog--k article > div > div .txt-card-blog--k a {
    color: var(--blue);
  }
  .teens .blog--k article > div > div .txt-card-blog--k a::after {
    color: var(--blue);
  }
}

.kids-course-info .kids-info-text {
  display: flex;
  flex-direction: column;
}
.kids-course-info .kids-info-text > h2 {
  color: #f7c614;
  font-size: 5.5em;
  text-align: right;
  padding-right: 3.6em;
  line-height: 1em;
  padding-top: 0.7em;
}
.kids-course-info .kids-info-text h3 {
  display: flex;
  flex-direction: column;
  font-size: 3.5em;
  line-height: 1.8em;
  color: #383838;
}
.kids-course-info .kids-info-text .kids-info-img-res {
  display: none;
}
.kids-course-info .kids-info-text ul {
  font-size: 1.3em;
  line-height: 2.1em;
  color: #383838;
}
.kids-course-info .kids-info-text ul li {
  padding-right: 2.4em;
  position: relative;
}
.kids-course-info .kids-info-text ul li::before {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  background-image: url("/Content/images/img/footprint2.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
}
@media (max-width: 1440px) {
  .kids-course-info > .kids-info-text > h2 {
    font-size: 4.6em;
  }
  .kids-course-info > .kids-info-text > h3 {
    font-size: 2.9em;
  }
}
@media (max-width: 1200px) {
  .kids-course-info {
    flex-direction: column;
  }
  .kids-course-info > .kids-info-img {
    display: none;
  }
  .kids-course-info > .kids-info-text > .kids-info-img-res {
    display: block;
    width: 70%;
    margin: auto;
  }
  .kids-course-info > .kids-info-text h2 {
    padding-left: 0.5em;
  }
}
@media (max-width: 698px) {
  .kids-course-info > .kids-info-text > h2 {
    font-size: 3.2em;
  }
  .kids-course-info > .kids-info-text > h3 {
    font-size: 2.1em;
  }
  .kids-course-info > .kids-info-text > ul {
    font-size: 1em;
  }
  .kids-course-info > .kids-info-text > .kids-info-img-res {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .kids-course-info > .kids-info-text > h2 {
    font-size: 2em;
  }
  .kids-course-info > .kids-info-text > h3 {
    font-size: 1.5em;
  }
}
