/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
.courseDetailTitr {
  display: flex;
  margin-bottom: 5em;
  font-size: 1vw;
  font-size: 0.87vw;
}
.courseDetailTitr + p {
  margin-bottom: 1em;
}
.courseDetailTitr > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  flex-basis: 26em;
}
.courseDetailTitr > div:nth-of-type(1) > h2 {
  font-size: 4.5em;
  line-height: 1.4em;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  color: var(--textColorStrong);
  padding: unset;
  border-image: unset;
}
.courseDetailTitr > div:nth-of-type(1) > h2 > span {
  color: var(--colorTheme);
  position: relative;
}
.courseDetailTitr > div:nth-of-type(1) > h2 > span::before {
  content: "";
  position: absolute;
  top: -1.5em;
  right: 2.3em;
  width: 3.8em;
  height: 3em;
  background-image: url("../Content/images/img/WDBook.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.courseDetailTitr > div:nth-of-type(1) > span {
  color: var(--textColor);
  font-size: 2.1em;
  font-weight: 500;
  line-height: 2em;
  text-align: left;
  align-self: flex-end;
}
.courseDetailTitr > div:nth-of-type(1) > span:nth-of-type(2) {
  font-size: 3.5em;
}
.courseDetailTitr > div:nth-of-type(2) {
  flex-basis: 43em;
  display: flex;
  justify-content: end;
  margin-right: auto;
}
.courseDetailTitr > div:nth-of-type(2) > .imgWrap {
  --wid: 36em;
  width: var(--wid);
  height: var(--wid);
  position: relative;
  border: 0.1em solid var(--colorTheme);
  border-radius: 50%;
}
.courseDetailTitr > div:nth-of-type(2) > .imgWrap img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.1em;
  left: -0.3em;
  box-shadow: unset;
  max-width: unset;
  max-height: unset;
  margin: unset;
  cursor: unset;
  object-fit: cover;
}
.courseDetailTitr > div:nth-of-type(2) > .imgWrap::after, .courseDetailTitr > div:nth-of-type(2) > .imgWrap::before {
  content: "";
  border: 0.1em solid var(--colorTheme);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 1.3em;
  left: -0.9em;
  transform: scale(1.05);
  z-index: 0;
  opacity: 0.8;
}
.courseDetailTitr > div:nth-of-type(2) > .imgWrap::before {
  top: 1.4em;
  left: 0em;
  transform: scale(1.05);
  opacity: 0.4;
}
@media (max-width: 1200px) {
  .courseDetailTitr {
    font-size: 1.4vw;
  }
  .courseDetailTitr > div:nth-of-type(2) {
    margin-left: 2em;
  }
}
@media (max-width: 698px) {
  .courseDetailTitr {
    flex-direction: column;
    margin-top: 4em;
    gap: 4em;
  }
  .courseDetailTitr > div:nth-of-type(1) {
    font-size: 1.9em;
  }
  .courseDetailTitr > div:nth-of-type(1) > span {
    align-self: flex-start;
  }
  .courseDetailTitr > div:nth-of-type(1) > span:nth-of-type(3) > br {
    display: none;
  }
  .courseDetailTitr > div:nth-of-type(2) {
    margin: auto;
    width: 98%;
  }
  .courseDetailTitr > div:nth-of-type(2) > .imgWrap {
    --wid: 64em;
    width: var(--wid);
    height: var(--wid);
  }
}
.courseDetailTitr > div:nth-of-type(1) {
  flex-basis: 34em;
}
@media (max-width: 1200px) {
  .courseDetailTitr {
    font-size: 0.78vw;
  }
}
@media (max-width: 962px) {
  .courseDetailTitr {
    font-size: 1vw;
  }
}
@media (max-width: 698px) {
  .courseDetailTitr {
    font-size: 1.2vw;
  }
}

.question {
  display: flex;
  gap: 2em;
  padding-inline: 2em;
  margin-bottom: 3em;
}
.question > div:nth-child(1) {
  flex-basis: 60%;
}
.question > div:nth-child(2) {
  flex-basis: 40%;
  align-self: center;
}
.question > div:nth-child(2) > img {
  box-shadow: unset;
  max-width: unset;
  max-height: unset;
  margin: unset;
  cursor: unset !important;
  box-shadow: unset !important;
}
.question > div:nth-child(2) > img:hover {
  box-shadow: unset !important;
}
@media (max-width: 992px) {
  .question {
    flex-direction: column;
  }
  .question > div:nth-child(2) > img {
    max-width: 100%;
    height: auto;
  }
}
.question > div:nth-child(2) > img {
  object-fit: contain;
}

.colorTheme {
  color: var(--colorTheme) !important;
}

.box li:last-child {
  margin-bottom: 0;
}
