/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
.input {
  border: 1px solid var(--hrColor);
  border-radius: 5px;
  height: 3em;
  margin-top: 0.5em;
  display: block;
}

button.link-more {
  padding: 0.7em 1em;
  width: fit-content;
}

.rememberme {
  font-weight: 600;
  font-size: 0.8em;
}

.validation-login {
  position: relative;
  color: var(--white);
  width: fit-content;
  margin: 0 auto 3em auto;
}
.validation-login > div {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1.5em;
}
.validation-login > div i {
  margin-left: 0.5em;
}
.validation-login .confirm-txt {
  background-color: var(---green);
}
.validation-login .error-txt {
  background-color: var(--orange);
}
.validation-login .error-txt, .validation-login .confirm-txt {
  display: none;
}
.validation-login .error-txt.active, .validation-login .confirm-txt.active {
  display: block;
}

.validationError {
  border-color: var(--redColor);
}

.validationMsg {
  color: var(--redColor);
  font-size: 0.9em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
}
.validationMsg.show {
  opacity: 100;
  max-height: 2em;
}

.container-login-register {
  padding: 2em;
}
.container-login-register > section {
  background-color: var(--white);
  border-radius: 15px;
  margin: 0 auto;
  padding: 3em 2em;
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-rows: min-content;
  position: relative;
  width: 70%;
  min-height: 90vh;
}
.container-login-register > section h1 {
  position: relative;
  display: inline-block;
  grid-row: 1/2;
  width: fit-content;
  font-size: 2em;
  padding-bottom: 0.5em;
  margin-block: 1em;
}
.container-login-register > section h1::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 2px;
  background-color: var(--textSecondColor);
}
.container-login-register > section form {
  font-size: 1.2em;
  grid-row: 2/3;
}
.container-login-register > section form label {
  display: flex;
  align-items: center;
  color: var(--textColor);
  margin-top: 1em;
  font-size: 0.9em;
}
.container-login-register > section form label.rememberme {
  font-weight: 600;
  margin-top: 1em;
}
.container-login-register > section form label.isCompany {
  font-weight: 600;
  margin-top: 1em;
}
.container-login-register > section form input:not(input[type=checkbox]) {
  width: 100%;
  padding-inline: 1em;
}
.container-login-register > section form input[type=checkbox] {
  margin-left: 1.5em;
  position: relative;
  opacity: 0;
}
.container-login-register > section form input.passwordInput {
  direction: ltr;
  text-align: right;
}
.container-login-register > section form .input-chekbox {
  transition: 0.5s;
  position: absolute;
  border-radius: 3px;
  display: flex;
  caret-color: transparent;
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid var(--hrColor);
  background-color: var(--white);
}
.container-login-register > section form .input-chekbox i {
  font-weight: 600;
  opacity: 0;
  color: var(--white);
  margin: auto;
  font-size: 0.8em;
}
.container-login-register > section form input[type=checkbox]:checked ~ .input-chekbox {
  border-color: var(--buttonColor);
  background-color: var(--buttonColor);
}
.container-login-register > section form input[type=checkbox]:checked ~ .input-chekbox i {
  opacity: 1;
}
.container-login-register > section form button:not(.refresh-btn) {
  margin-left: auto;
  margin-bottom: 1em;
  display: inline;
}
.container-login-register > section form .captcha {
  /*      display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.5em;
  flex-wrap: wrap;*/
}
.container-login-register > section form .captcha img {
  width: 15em;
  margin-left: 0.5em;
}
.container-login-register > section form .captcha img,
.container-login-register > section form .captcha .refresh-btn {
  margin-block: 0.5em;
}
.container-login-register > section form .captcha .refresh-btn {
  background-color: transparent;
  color: var(---lightBlack);
  font-size: 1.5em;
}
.container-login-register > section form .forgetPassword {
  display: block;
  margin-block: 1em 0.7em;
  width: fit-content;
}
.container-login-register > section form .forgetPassword,
.container-login-register > section form .form-link {
  color: var(--buttonColor);
}
.container-login-register > section form .form-link {
  margin-right: 0.5em;
}
.container-login-register > section form .Captcha-part {
  padding-inline: 0;
}
.container-login-register > section form .Captcha-part label {
  margin-bottom: 1em;
}
.container-login-register > section form .Captcha-part .input-group {
  display: grid;
  grid-template-columns: auto 30% !important;
  gap: 1em 0;
}
.container-login-register > section form .Captcha-part .input-group img {
  grid-row: 1/2;
  grid-column: 1/2;
}
.container-login-register > section form .Captcha-part .input-group a {
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  margin: 0 0 1.5em;
  padding: 0;
  text-align: center;
  border: none;
}
.container-login-register > section form .Captcha-part .input-group a::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  content: "\f01e";
  top: 0;
  left: 0;
  font-size: 1.5em;
  font-weight: 600;
}
.container-login-register > section form .Captcha-part .input-group input {
  grid-row: 2/3;
  grid-column: 1/3;
}
.container-login-register > section .img-login {
  grid-row: 1/3;
  min-height: 52em;
  height: 100%;
  position: absolute;
  left: -8em;
  overflow: hidden;
  width: 60%;
  border-radius: 15px;
  background-image: url(../Content/images/img/login.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-login-register > section .passwordContainer {
  position: relative;
}
.container-login-register > section .passwordContainer .showPass {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
  color: #5e5d5d;
  height: 100%;
  background-color: #cdd6e5;
  display: flex;
  align-items: center;
  padding-inline: 0.6em;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.container-login-register > section .passwordContainer .showPass i {
  display: none;
}
.container-login-register > section .passwordContainer .showPass i.active {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.modal.hide {
  display: none;
}
.modal button {
  margin: 1em auto 0;
}
.modal > div {
  background-color: var(--white);
  border-radius: 10px;
  width: 45%;
  margin: auto;
  top: 20%;
  position: fixed;
  left: 0;
  right: 0;
  padding: 2.5em 2em;
  text-align: center;
  transform: translate(-50%) scale(0);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.modal > div.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.modal > div p {
  text-align: center;
  font-size: 1.4em;
}
.modal > div a {
  display: inline-block !important;
  width: fit-content;
  margin-top: 1.8em;
  font-size: 1.2em;
}
.modal > div.VerificationCode-modal > div {
  margin-block: 1em;
}
.modal > div.VerificationCode-modal > div input {
  width: 3em;
  height: 3em;
  border-radius: 5px;
  border: 1px solid var(--hrColor);
  margin: 0.5em;
  padding: 0.2em;
  text-align: center;
}
.modal > div.VerificationCode-modal a {
  color: var(--buttonColor);
  font-size: 1.2em;
}
.modal > div.VerificationCode-modal button {
  display: block;
  background-color: transparent;
}
.modal > div.VerificationCode-modal button:first-child {
  margin-top: 0.5em;
  color: var(--buttonColor);
}
.modal > div.VerificationCode-modal button:nth-child(2) {
  color: var(--orange);
  border-top: 1px solid var(--hrColor);
  padding-top: 0.5em;
  margin-top: 1em;
}
.modal > div.VerificationCode-modal button:last-child {
  background-color: var(--buttonColor);
}
.modal > div.error-modal span {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid var(--hrColor);
  border-radius: 50%;
  text-align: center;
  margin: 1em auto;
  align-items: center;
  justify-content: center;
}
.modal > div.error-modal p {
  font-size: 1.1em;
}
.modal > div.error-modal button {
  margin-top: 2em;
}

.container-register p {
  display: inline;
}
.container-register button {
  margin-left: 1em;
}

.passwordRecovery-btn {
  margin-left: auto;
  display: inline;
}

@media (max-width: 992px) {
  .container-login-register > section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, repeat);
    background-color: transparent;
    min-height: auto;
    margin-block: 0;
    padding-inline: 0;
    padding: 3em 0;
  }
  .container-login-register > section .img-login {
    display: none;
  }
  .container-login-register > section form {
    background-color: transparent;
    z-index: 1;
  }
  .container-login-register > section h1 {
    margin-top: 0;
  }
}
@media (max-width: 992px) and (min-width: 699px) {
  .container-login-register > section {
    background-image: url("../Content/images/img/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container-login-register > section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
  }
}
@media (max-width: 698px) {
  .container-login-register {
    background-image: url("../Content/images/img/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container-login-register:not(.container-login, .container-signUp) {
    height: 100%;
  }
  .container-login-register::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 0;
    height: 100%;
  }
  .modal > div {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .container-login-register > section {
    width: 100%;
  }
  .container-login-register > section button.link-more {
    width: 100%;
  }
  .validation-login > div {
    font-size: 1.2em;
  }
}
@media (max-width: 315px) {
  .container-login-register {
    height: auto;
  }
  .container-login-register > section form .Captcha-part .input-group, .container-login-register #Captcha {
    grid-template-columns: 100% !important;
  }
  .container-login-register > section form .Captcha-part .input-group img, .container-login-register #Captcha img {
    grid-column: 1/2;
    width: 100%;
    grid-row: 1/2;
  }
  .container-login-register > section form .Captcha-part .input-group a, .container-login-register #Captcha a {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    text-align: right;
  }
  .container-login-register > section form .Captcha-part .input-group a::after, .container-login-register #Captcha a::after {
    right: 0;
  }
  .container-login-register > section form .Captcha-part .input-group input, .container-login-register #Captcha input {
    grid-row: 3/4;
  }
}
