/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
button {
  border-radius: 8px;
}

.addPost,
.grid-table {
  margin: 2em;
}

.addPost {
  color: var(--white);
  background-color: var(--textSecondColor);
  padding: 0.5em 1em;
}

.grid-table {
  display: grid;
  color: var(---lightBlack);
  text-align: center;
  border: 1px solid rgba(204, 204, 204, 0.3411764706);
  border-radius: 15px;
  overflow: hidden;
}
.grid-table > ul {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 25%) auto;
}
.grid-table > ul:not(:last-child) {
  border-bottom: 1px solid rgba(204, 204, 204, 0.3411764706);
}
.grid-table > ul:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.1);
}
.grid-table > ul:first-child {
  background-color: rgba(204, 204, 204, 0.32);
}
.grid-table > ul:first-child li {
  font-size: 1.3em;
  line-height: 3em;
  font-weight: 600;
}
.grid-table > ul:not(:first-child) li {
  padding: 1em;
  font-size: 1.1em;
}
.grid-table > ul li {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.grid-table > ul li:not(:last-child) {
  border-left: 1px solid rgba(204, 204, 204, 0.3411764706);
}
.grid-table > ul li h4,
.grid-table > ul li p {
  font-weight: 400;
  width: 100%;
  font-size: 1em;
  text-align: center;
  line-height: 1.8em;
}
.grid-table > ul img {
  width: 100;
  height: 100;
}
.grid-table > ul button {
  border: none;
}
.grid-table > ul button.delete {
  background-color: var(--redColor);
}
.grid-table > ul button.edit {
  background-color: var(--textSecondColor);
}
.grid-table > ul button,
.grid-table > ul .confirm,
.grid-table > ul .awaitingConfirmation {
  padding: 0.2em 1.5em;
  border-radius: 8px;
  color: var(--white);
  line-height: 2;
  display: inline-block;
  font-size: 1em;
}
.grid-table > ul .awaitingConfirmation {
  background-color: #ff8100;
}
.grid-table > ul .confirm {
  background-color: var(--green);
}
.grid-table > ul .confirm i {
  font-size: 0.9em;
  margin-left: 0.5em;
}
@media (max-width: 698px) {
  .grid-table > ul {
    grid-template-columns: auto;
  }
  .grid-table > ul:first-child {
    display: none;
  }
  .grid-table > ul:nth-child(even) {
    background-color: rgba(204, 204, 204, 0.1);
  }
  .grid-table > ul:nth-child(odd) {
    background-color: transparent;
  }
  .grid-table > ul li {
    font-size: 1.3em;
  }
  .grid-table > ul li h4 {
    font-weight: 600;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3411764706);
    padding-bottom: 1em;
  }
  .grid-table > ul li:nth-child(2) {
    padding-block: 0;
  }
}

.btn-hover {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.btn-hover::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  color: #fff;
  transition: 0.5s;
  left: -60%;
  transform: skew(50deg);
  transform-origin: top left;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-hover:hover::before {
  width: 160%;
}
