@charset "UTF-8";
/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
.boxes-one {
  grid-template-columns: repeat(1, 1fr);
}

.boxes-two {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 480px) {
  .boxes-two {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-three {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .boxes-three {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-four {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 698px) {
  .boxes-four {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  padding: 1em;
}

.boxesAds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 595px) {
  .boxesAds {
    grid-column: 1/3;
  }
}
@media (max-width: 992px) {
  .boxesAds.boxes-two {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }
}

.loader {
  font-size: 0.8em;
  --mainColor: rgb(88, 160, 255);
  --backColor: rgb(224, 224, 224);
  --thick: .78em;
  --duration: 1.3s;
  height: 5em;
  width: 5em;
  border: var(--thick) solid var(--backColor);
  border-top: var(--thick) solid var(--mainColor);
  border-radius: 50%;
  animation: spin var(--duration) infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  margin: auto;
  margin-bottom: 1em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-areas: "logo logo logo" "links contact enamad" "links contact enamad" "text text text";
  color: var(--textColorStrong);
  background-color: white;
  padding: 4em 5em 2em;
  margin-top: 1em;
  gap: 1em;
}
footer p,
footer a {
  font-size: 1.2em;
}
footer .h5 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 600;
}
footer .logo-footer {
  grid-area: logo;
  justify-self: right;
}
footer .logo-footer img {
  height: auto;
}
footer .links-footer {
  display: grid;
  grid-area: links;
  grid-template-areas: "title title" "rightLinks leftLinks";
  grid-template-rows: 4em;
  gap: 0 2em;
}
footer .links-footer .h5 {
  grid-area: title;
}
footer .links-footer > div a {
  display: list-item;
  margin-right: 1em;
  list-style: disc;
}
footer .links-footer > div:first-child {
  grid-area: rightLinks;
}
footer .links-footer > div:last-child {
  grid-area: leftLinks;
}
footer .contact-footer {
  grid-area: contact;
}
footer .contact-footer #mobile > span {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer #mobile > span > span:nth-of-type(2) {
  flex-basis: auto;
}
footer .contact-footer p {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
}
footer .contact-footer p::before {
  content: "";
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-left: 0.5em;
  background-image: url("/Content/images/img/footerIcon1.png");
  background-repeat: no-repeat;
  background-size: 657%;
  flex-shrink: 0;
}
footer .contact-footer p:nth-of-type(1)::before {
  background-position: 0 0.1em;
}
footer .contact-footer p:nth-of-type(2)::before {
  background-position: -2.1em 0.1em;
  background-size: 533%;
}
footer .contact-footer p:nth-of-type(3)::before {
  background-position: -5.7em 0em;
}
footer .contact-footer p:nth-of-type(4)::before {
  background-position: -8.5em 0.1em;
}
footer .contact-footer p:nth-of-type(5)::before {
  background-position: -11.3em 0.1em;
}
footer .contact-footer .socialmedia-footer {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer .socialmedia-footer a {
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.5em;
  --wid: 3em;
  width: var(--wid);
  height: var(--wid);
  background-image: url("/Content/images/img/HeaderAndFooterIcons.webp");
  background-repeat: no-repeat;
  background-size: 514%;
  background-position: 0 0;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(1) {
  background-position: -181px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(2) {
  background-position: -134px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(3) {
  background-position: -89px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(4) {
  background-position: -43px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(5) {
  background-position: 2px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(6) {
  background-size: cover;
}
footer .enamad-footer {
  grid-area: enamad;
  width: 10em;
  justify-self: left;
  align-self: end;
  margin-top: 1em;
}
footer > p {
  background-color: var(--white);
  color: var(--blue);
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1em;
  grid-area: text;
  border-radius: var(--borderRadius);
  margin-top: 2em;
}
@media (max-width: 992px) {
  footer {
    grid-template-areas: "logo logo logo" "links links links" "contact contact contact" "enamad enamad enamad" "text text text";
  }
}
@media (max-width: 992px) and (min-width: 479px) {
  footer .links-footer {
    grid-template-areas: "title title" "rightLinks rightLinks" "leftLinks leftLinks";
    grid-gap: 0;
  }
  footer .links-footer > div {
    display: flex;
    flex-wrap: wrap;
  }
  footer .links-footer > div a {
    display: list-item;
    margin-right: 1em;
    list-style: disc;
    margin-left: 1.5em;
  }
  footer .links-footer > div:first-child, footer .links-footer > div:last-child {
    grid-column: 1/2;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 4em 2em 2em;
    grid-template-areas: "logo" "links" "contact" "enamad" "text ";
    grid-template-columns: 100%;
  }
  footer .enamad-footer {
    grid-column: 1/2;
    justify-self: right;
  }
}
@media (max-width: 330px) {
  footer .links-footer {
    display: block;
  }
}

/*  instaSide   */
.instaSide {
  background-color: white;
  border-radius: 9px;
  padding: 1em;
  font-size: 16px;
}
.instaSide h2 {
  text-align: center;
  padding-bottom: 0.9em;
  color: #be1622;
  font-size: 1.3em;
}
.instaSide a {
  border: 0.25em solid #be1622;
  background-color: white;
  border-radius: 12px;
  width: 17em;
  display: block;
  margin: auto;
  padding: 0.7em;
  height: 37.7em;
  overflow: hidden;
}
.instaSide a > * {
  padding-bottom: 0.6em;
}
.instaSide a .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}
.instaSide a .header span {
  font-size: 1em;
  font-weight: 700;
}
.instaSide a .header img {
  width: 2.5em;
  border-radius: 50%;
  border: 0.2em solid #be1622;
  padding: 0.1em;
}
.instaSide a > img {
  width: 100%;
  display: block;
}
.instaSide a .options {
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;
}
.instaSide a .options > * {
  font-size: 1em;
  padding-top: 0.2em;
}
.instaSide a > p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
}

.courseGrid .instaSide {
  background: none;
  margin: 0;
  padding: 0;
  font-size: 12.5px;
}
.courseGrid .instaSide h2 {
  font-size: 1.6em;
}
.courseGrid .instaSide a {
  border: 0.3em solid #be1622;
}
.courseGrid .instaSide a .header img {
  width: 3.3em;
}
.courseGrid .instaSide a .header span {
  font-size: 1.3em;
}
.courseGrid .instaSide a .options > * {
  font-size: 1.3em;
}
.courseGrid .instaSide a > p {
  font-size: 0.85em;
}

.filterBar {
  font-size: 1.04em;
  background: white;
  border-radius: 1em;
  padding: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.filterBar > div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24em);
  column-gap: 2em;
  row-gap: 1em;
}
.filterBar > div label {
  color: #42515a;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
}
.filterBar > div input, .filterBar > div .select {
  background: #ebebeb;
  border: 0.1em solid #cdcdcd;
  border-radius: 0.2em;
  margin-right: 0.2em;
  padding: 0.1em 0.8em;
  font-size: 1em;
  color: #858585;
  width: 16em;
}
.filterBar > div .select.active, .filterBar > div .select:hover {
  background: #dbdbdb;
  border-color: rgba(0, 0, 0, 0.1803921569);
}
.filterBar button {
  color: white;
  background: linear-gradient(90deg, #1c43c2 32%, #19cde8 71%);
  font-weight: bold;
  padding: 0.5em 1.8em;
  border-radius: 0.4em;
  font-size: 1.2em;
}
@media (max-width: 480px) {
  .filterBar {
    flex-direction: column;
    gap: 1em;
  }
  .filterBar > div {
    justify-content: center;
  }
  .filterBar button {
    width: 19em;
  }
}

.select {
  --height: 10px;
  display: inline-block;
  position: relative;
  direction: rtl;
  background-color: #E9E9ED;
  border: 0.1em solid #8F8F9D;
  border-radius: 0.25em;
  padding: 0.1em 0.2em;
  padding-left: 1.4em;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  font-size: 1em;
  height: 2.8em;
}
.select::after {
  content: "";
  --thick: 0.37em;
  display: inline-block;
  border: var(--thick) solid black;
  padding: 0.7em;
  border-top: var(--thick) solid transparent;
  border-left: var(--thick) solid transparent;
  transform: translate(0, -0.7em) rotate(45deg);
  font-size: 3px;
  border-radius: 0.5em;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 3em auto 2.3em;
  transition: inherit;
}
.select:hover {
  background-color: #D0D0D7;
}
.select .list {
  opacity: 0;
  visibility: hidden;
  background-color: #F9F9FB;
  border: 0.1em solid #A0A0A0;
  padding: 0;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1411764706);
  border-radius: 0.25em;
  z-index: 100;
  min-width: max-content;
  width: 100%;
  position: absolute;
  right: 0;
  top: 80%;
  max-height: 10px;
  overflow-y: auto;
  transition: opacity 0.2s;
}
.select .list span {
  display: block;
  text-align: right;
  padding: 0.15em 0.4em;
  cursor: pointer;
}
.select .list span.active, .select .list span:hover {
  background-color: #E0E0E6;
}
.select .list::-webkit-scrollbar {
  width: 0.4em;
}
.select .list::-webkit-scrollbar-track {
  background: #d2d2d2;
}
.select .list::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 0.6em;
}
.select > span {
  display: inline-block;
  white-space: nowrap;
  max-width: calc(100% - 0.5em);
  overflow: hidden;
  text-overflow: ellipsis;
}
.select select {
  display: none !important;
}
.select.active::after {
  transform: translate(0, 0.6em) rotate(45deg) scale(-1);
}
.select.active .list {
  opacity: 100;
  visibility: visible;
  max-height: var(--height);
}
.select.bottom .list {
  top: calc(100% + 0.2em);
}
.select.top .list {
  bottom: calc(100% + 0.2em);
  top: unset;
}
@media (max-width: 480px) {
  .select.select .list {
    position: fixed;
    top: 30vh;
    height: 80vh;
    max-height: unset;
    border: unset;
    font-size: 1.2em;
    transition: 0.2s top, 0.2s opacity, 0.2s visibility;
  }
  .select.select .list span {
    padding: 0.5em 0.9em;
    border-bottom: 0.1em solid rgba(128, 128, 128, 0.2588235294);
  }
  .select.select .list::before {
    content: "";
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5215686275);
    height: 20vh;
    width: 100%;
  }
  .select.select.active .list {
    top: 20vh;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row-reverse;
  padding-bottom: 1em;
  margin-top: 2em;
}
.pagination li.page-item {
  width: 3em;
  padding: 0 0.2em;
  text-align: center;
}
.pagination li.page-item.active a, .pagination li.page-item:hover a {
  background-color: var(--blue);
  color: #fff;
}
.pagination li.page-item a {
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--blue);
  color: #0072BB;
  padding: 0.2em 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 900;
}
.pagination li.page-item span {
  color: var(--blue);
}

.courseGrid .sidebarContent {
  margin: 0;
}
.courseGrid .sidebarContent .inputFlex::before {
  width: 115%;
}
.courseGrid .sidebarContent .inputContent {
  font-size: 12px;
}

.sidebarContent {
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  margin-top: 1em;
}
.sidebarContent .inputFlex {
  display: flex;
  flex-direction: column;
  margin: 1em 0.3em;
  gap: 5px;
  position: sticky;
  width: 100%;
  top: 80px;
  padding: 0 1em;
  margin: 0 -1em;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.sidebarContent .inputFlex::before {
  content: "";
  background-color: white;
  width: 107%;
  height: 8em;
  position: relative;
  bottom: 1em;
}
.sidebarContent .inputFlex > label {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 46px;
  border: 1px solid #e94d1b;
  color: #f39200;
  padding: 0.3em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 11px;
  cursor: pointer;
  z-index: 1;
  transition: top 0.3s, bottom 0.3s, background-color 0.1s;
  font-weight: 500;
  height: 2.8em;
}
.sidebarContent .inputFlex > label.active {
  background-color: #f39200;
  color: white;
  top: 46px;
  bottom: 0;
  z-index: 2;
}
.sidebarContent .inputContent {
  display: none;
  font-size: 15px;
}
.sidebarContent .inputContent a {
  cursor: pointer;
}
.sidebarContent .inputContent h3.title {
  color: #2170b7;
  text-align: center;
  font-size: 1.1em;
  padding: 0.9em 0;
  line-height: 1.4em;
}
.sidebarContent .inputContent ol li {
  margin-bottom: 0.4em;
  list-style: decimal outside;
  margin-right: 1em;
}
.sidebarContent .inputContent ol li .fa-arrow-alt-circle-down {
  color: #2170b7;
}
.sidebarContent .inputContent ol li .item {
  line-height: 1.5em;
  margin-left: 0.5em;
}
.sidebarContent .inputContent.i2 li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1em;
  margin-bottom: 1em;
}
.sidebarContent .inputContent.i2 li .course {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 1.2em;
}
.sidebarContent .inputContent.i2 li:first-child {
  margin-top: 1em;
}
.sidebarContent .inputContent.active {
  display: block;
}

#homeProjects {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 2fr));
  justify-items: center;
  gap: 8em 2em;
  padding-bottom: 10em;
  position: relative;
  font-size: 1.3em;
}
#homeProjects a.more {
  position: absolute;
  top: -4em;
  left: 1.7em;
  color: #149bd9;
  font-weight: 800;
}
@media (max-width: 698px) {
  #homeProjects a.more {
    top: auto;
    bottom: 0;
  }
}
#homeProjects a.more i {
  padding-right: 0.5em;
}
@media (max-width: 925px) {
  #homeProjects {
    font-size: 1.4em;
  }
}
@media (max-width: 760px) and (min-width: 639px) {
  #homeProjects {
    grid-template-columns: repeat(auto-fit, minmax(14em, 2fr));
  }
  #homeProjects .prj {
    width: auto;
  }
}

.theGrid .prj {
  font-size: 1.3em;
}

.prj {
  width: 17em;
  height: 17em;
  --radius: 45px;
  border-radius: 0 var(--radius) 0 var(--radius);
  color: white;
  position: relative;
  background-color: #c20000;
}
.prj .wrap {
  border: 0.5em solid #e2e2e2;
  height: 100%;
  --rad: 7em;
  border-radius: 0 var(--rad) 0 var(--rad);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
}
.prj .wrap h3 {
  text-align: center;
}
.prj .wrap span {
  order: 1;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}
.prj .wrap::before {
  content: "سورس کد";
  order: 2;
  font-weight: bold;
}
.prj .wrap > div {
  order: 3;
  background: linear-gradient(to left, #fbee22, rgba(255, 255, 255, 0));
  width: 100%;
  text-align: center;
  padding: 0.5em 0.4em;
  font-size: 1.2em;
  font-weight: 700;
}
.prj p {
  position: absolute;
  top: 100%;
  text-align: justify;
  width: 85%;
  max-height: 7.4em;
  padding: 2em 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  font-size: 0.9em;
  line-height: 1.7em;
  color: #525252;
}

.themeTitle, .themeSubtitle {
  color: #383838;
  --borderlength: 1.5rem;
  font-weight: 600;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_compliment) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  margin-bottom: 1rem;
}
.themeTitle span, .themeSubtitle span {
  color: var(--h_compliment);
}
.themeTitle.center, .themeSubtitle.center {
  text-align: center;
}

.td-content {
  --background: white;
  --a: #fc6542;
  --p: #383838;
  --h: #383838;
  --h_compliment: #1d71b9;
  --h_orange: #C39C19;
  /*---------------MIXINS & FUNCTIONS--------------------------*/
  /*---------------MIXINS & FUNCTIONS--------------------------*/
  /*---------------MIXINS & FUNCTIONS--------------------------*/
  /*---------------MIXINS & FUNCTIONS--------------------------*/
}
.td-content .orange {
  color: orange !important;
}
.td-content .red {
  color: red !important;
}
.td-content .green {
  color: green !important;
}
.td-content .blue {
  color: blue !important;
}
.td-content .yellow {
  color: yellow !important;
}
.td-content .blue-mamad {
  color: #4584b6 !important;
  --h_compliment: #4584b6;
  --colorTheme: #4584b6;
  --colorAlt: #4584b6;
}
.td-content .orange span {
  color: var(--h_orange) !important;
}
.td-content .italic {
  font-style: italic !important;
}
.td-content .underline {
  text-decoration: underline;
}
.td-content a {
  color: var(--h);
}
.td-content a:hover {
  text-decoration: underline;
}
.td-content a:not([href^="#"]):not(.normal) {
  text-decoration: underline;
  color: var(--a);
  text-underline-offset: 6px;
}
.td-content .h2:not(.exception), .td-content h2:not(.exception) {
  color: #383838;
  --borderlength: 1.5rem;
  font-weight: 600;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_compliment) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.td-content .h2:not(.exception) span, .td-content h2:not(.exception) span {
  color: var(--h_compliment);
}
.td-content .h2:not(.exception).center, .td-content h2:not(.exception).center {
  text-align: center;
}
.td-content .h2:not(.exception).orange, .td-content h2:not(.exception).orange {
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_orange) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
}
.td-content .h2:not(.exception).orange span, .td-content h2:not(.exception).orange span {
  color: var(--h_orange);
}
.td-content .h2:not(.exception).noLine, .td-content h2:not(.exception).noLine {
  border: none !important;
}
.td-content .h2:not(.exception).noLine::after, .td-content h2:not(.exception).noLine::after {
  display: none !important;
}
.td-content .h2:not(.exception).center, .td-content h2:not(.exception).center {
  text-align: center;
  border: none;
  position: relative;
  margin-bottom: 2em !important;
}
.td-content .h2:not(.exception).center::after, .td-content h2:not(.exception).center::after {
  content: "";
  display: block;
  height: 1em;
  width: 0.1em;
  background-color: var(--h_compliment);
  position: absolute;
  top: calc(100% + 0.2em);
  left: 0;
  right: 0;
  margin: auto;
}
.td-content .h2:not(.exception).center.noLine, .td-content h2:not(.exception).center.noLine {
  margin-bottom: 1rem;
}
.td-content .h3:not(.exception), .td-content h3:not(.exception) {
  color: #383838;
  --borderlength: 1.5rem;
  font-weight: 600;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_compliment) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
.td-content .h3:not(.exception) span, .td-content h3:not(.exception) span {
  color: var(--h_compliment);
}
.td-content .h3:not(.exception).center, .td-content h3:not(.exception).center {
  text-align: center;
}
.td-content .h3:not(.exception).noLine, .td-content h3:not(.exception).noLine {
  border: none !important;
}
.td-content .h3:not(.exception).noLine::after, .td-content h3:not(.exception).noLine::after {
  display: none !important;
}
.td-content .h3:not(.exception).center.noLine, .td-content h3:not(.exception).center.noLine {
  margin-bottom: 1rem !important;
}
.td-content .h4:not(.exception), .td-content h4:not(.exception) {
  color: #383838;
  --borderlength: 1.5rem;
  font-weight: 600;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_compliment) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.td-content .h4:not(.exception) span, .td-content h4:not(.exception) span {
  color: var(--h_compliment);
}
.td-content .h4:not(.exception).center, .td-content h4:not(.exception).center {
  text-align: center;
}
.td-content .h4:not(.exception).noLine, .td-content h4:not(.exception).noLine {
  border: none !important;
}
.td-content .h4:not(.exception).noLine::after, .td-content h4:not(.exception).noLine::after {
  display: none !important;
}
.td-content .h4:not(.exception).center, .td-content h4:not(.exception).center {
  text-align: center;
  border: none;
  position: relative;
  margin-bottom: 2em !important;
}
.td-content .h4:not(.exception).center::after, .td-content h4:not(.exception).center::after {
  content: "";
  display: block;
  height: 1em;
  width: 0.1em;
  background-color: var(--h_compliment);
  position: absolute;
  top: calc(100% + 0.2em);
  left: 0;
  right: 0;
  margin: auto;
}
.td-content .h4:not(.exception).noLine, .td-content h4:not(.exception).noLine {
  margin-bottom: 1rem !important;
}
.td-content .heighlight {
  color: var(--colorHeighlight) !important;
  font-weight: 500;
}
.td-content .heighlight2 {
  color: var(--colorAlt);
  font-weight: 500;
}
.td-content .body:not(.exception),
.td-content p:not(.exception),
.td-content ol:not(.exception),
.td-content ul:not(.exception) {
  line-height: 1.9rem;
  color: var(--p);
  font-size: 1rem;
  text-align: justify;
}
.td-content pre.exception {
  line-height: 1.9rem;
  color: var(--p);
  font-size: 1rem;
  text-align: justify;
}
.td-content b,
.td-content .bold {
  font-weight: 600 !important;
}
.td-content strong {
  font-weight: inherit;
}
.td-content ul:not(.exception) > li,
.td-content ol:not(.exception) > li {
  /*margin-right: 1.1rem;*/
  list-style-type: none;
}
.td-content ul:not(.exception) > a,
.td-content ol:not(.exception) > a {
  display: list-item;
}
.td-content ul:not(.exception).disk > li, .td-content ul:not(.exception).disk > a,
.td-content ol:not(.exception).disk > li,
.td-content ol:not(.exception).disk > a {
  display: list-item;
  margin-right: 0.9rem;
  list-style-type: disc;
}
.td-content ul:not(.exception).circle > li,
.td-content ol:not(.exception).circle > li {
  list-style-type: circle;
}
.td-content ul:not(.exception) ul, .td-content ul:not(.exception) ol,
.td-content ol:not(.exception) ul,
.td-content ol:not(.exception) ol {
  margin-right: 1em;
}
.td-content ol > li {
  list-style-type: decimal !important;
  margin-right: 1.7rem;
}
.td-content li:last-child {
  margin-bottom: 2em;
}
.td-content img:not(.exception):not(.normal) {
  max-width: 50%;
  max-height: 25rem;
  margin: 2rem auto;
  display: block;
  width: auto;
  transition: 0.2s;
  margin-bottom: 4rem;
}
.td-content img:not(.exception):not(.normal) + span {
  margin-top: -3rem;
}
.td-content img:not(.exception):not(.normal).fullscreen {
  max-width: unset;
  width: 100%;
  max-height: unset;
}
.td-content img:not(.exception):not(.normal):not(.unclickable) {
  cursor: pointer;
}
.td-content img:not(.exception):not(.normal):not(.unclickable):hover,
.td-content img:not(.exception):not(.normal):not(.unclickable) .active {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.44);
}
.td-content img + span {
  display: block;
  text-align: center;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}
.td-content .float-img {
  float: left;
  margin-right: 2em;
}
.td-content .float-img > img {
  max-width: 25em !important;
  object-fit: contain;
}
.td-content video:not(.exception) {
  width: 100%;
  height: auto;
  max-width: 57rem;
  display: block;
  margin: 2rem auto;
  box-shadow: 2px 2px 7px rbga(0, 0, 0, 0.231372549);
  border-radius: 0.5rem;
}
.td-content blockquote {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.3em;
  border-right: 0.4em solid var(--h3);
  font-weight: 700;
  padding: 3em;
  position: relative;
  max-width: 50em;
  margin: auto;
  line-height: 2em;
  text-align: justify;
}
.td-content blockquote::before {
  content: ",,";
  position: absolute;
  top: 0.2em;
  font-size: 2.2em;
  right: 0.8em;
}
@media (max-width: 480px) {
  .td-content blockquote {
    font-size: 0.85rem;
  }
}
.td-content ins {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  background: #f9f9f9;
  display: block;
  border-right: 0.3em solid;
  padding: 1.3em;
  border-image: linear-gradient(#f9f9f9 25%, var(--h3) 25%, var(--h3) 75%, #f9f9f9 75%);
  border-image-slice: 1;
  border-radius: 0.7em;
  margin-block: 2rem;
}
.td-content hr {
  width: 80%;
  height: 1px;
  background-color: #d3d3d3;
  margin: 5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.td-content hr::before {
  content: ",,";
  background: white;
  font-size: 4em;
  padding: 0 0.9em;
  position: relative;
  bottom: 0.2em;
}
.td-content mark {
  color: var(--h);
  font-size: 1rem;
  font-weight: bold;
  background: none;
  max-width: 50%;
  text-align: justify;
}
.td-content mark.left {
  padding-right: 0.5em;
  margin-right: 0.5em;
  float: left;
  border-right: 0.25em solid black;
}
.td-content mark.right {
  padding-left: 0.5em;
  margin-left: 0.5em;
  float: right;
  border-left: 0.25em solid black;
}
.td-content .myTable {
  display: block;
  margin: auto;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 0.4rem;
  overflow: hidden;
  margin-bottom: 3rem;
  width: fit-content;
  overflow-x: auto;
  max-width: 100%;
  font-size: 0.95rem;
  clear: both;
}
.td-content .myTable .tr {
  display: table-row;
}
.td-content .myTable .tr.head {
  background-color: #348edc;
  color: white;
  font-weight: bold;
}
.td-content .myTable .tr .td {
  display: table-cell;
  padding: 0.7rem 1rem;
  text-align: center;
  border: 1px solid #ddd;
}
.td-content .myTable .tr .td.justify {
  text-align: justify;
}
.td-content .myTable .tr:nth-child(2n) {
  background: #f9f9f9;
}
.td-content .myTable.not-center .tr:not(.head) .td {
  text-align: justify;
}
.td-content .myTable.vertical {
  display: flex;
  flex-direction: row;
  width: max-content;
}
.td-content .myTable.vertical .td {
  display: flex;
  flex-direction: column;
}
.td-content .collage {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 5%;
  margin-bottom: 5em;
}
.td-content .collage img {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.515));
  width: 100% !important;
  max-width: unset !important;
  max-height: 35em !important;
  margin-bottom: 0;
}
.td-content .collage img::before {
  content: attr(data-title);
}
.td-content .collage img + span {
  margin-top: 0;
}
.td-content .collage.one {
  grid-template-columns: 1fr;
  gap: 0;
}
.td-content .collage.one img {
  object-fit: contain;
}
.td-content .collage.one-two {
  grid-template-columns: 50% 50%;
}
.td-content .collage.one-two.reverse {
  grid-template-columns: 40% 59%;
}
.td-content .collage.three {
  grid-template-columns: repeat(3, auto);
}
.td-content .collage.four {
  grid-template-columns: repeat(4, auto);
}
.td-content .collage.five {
  grid-template-columns: repeat(5, auto);
}
@media (max-width: 698px) {
  .td-content .collage.one-sm {
    grid-template-columns: 1fr;
  }
  .td-content .collage.two-sm {
    grid-template-columns: repeat(2, auto);
  }
  .td-content .collage.three-sm {
    grid-template-columns: repeat(3, auto);
  }
  .td-content .collage.four-sm {
    grid-template-columns: repeat(4, auto);
  }
  .td-content .collage.five-sm {
    grid-template-columns: repeat(5, auto);
  }
}
.td-content .TipBox,
.td-content .tipBox {
  border: 2px solid #ecae00;
  background-color: #fff2cf;
  border-radius: 5px;
  margin: 3rem 0;
  margin-top: 5rem;
  position: relative;
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  padding-top: 2.5rem;
}
.td-content .TipBox h1, .td-content .TipBox h2, .td-content .TipBox h3, .td-content .TipBox h4,
.td-content .tipBox h1,
.td-content .tipBox h2,
.td-content .tipBox h3,
.td-content .tipBox h4 {
  border: none;
  text-align: center;
}
.td-content .TipBox h1::after, .td-content .TipBox h2::after, .td-content .TipBox h3::after, .td-content .TipBox h4::after,
.td-content .tipBox h1::after,
.td-content .tipBox h2::after,
.td-content .tipBox h3::after,
.td-content .tipBox h4::after {
  display: none;
}
.td-content .TipBox::before,
.td-content .tipBox::before {
  content: "";
  background-image: url("/Content/images/img/qu.png");
  width: 3.8rem;
  height: 3.9rem;
  display: block;
  position: absolute;
  right: 0.2rem;
  top: -2.2rem;
}
.td-content .TipBox span,
.td-content .tipBox span {
  font-size: 1.2rem;
  color: #f09000;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
.td-content .TipBox span img,
.td-content .tipBox span img {
  display: none;
}
.td-content .TipBox p:not(.exception),
.td-content .tipBox p:not(.exception) {
  font-size: 1rem;
}
.td-content .TipBox img[src*=tip],
.td-content .tipBox img[src*=tip] {
  display: none;
}
.td-content .attention {
  background: radial-gradient(silver, #e2e2e2, #fff);
  border: 0.1em solid #cecece;
  padding: 2em;
  border-radius: 1.2em;
}
.td-content .attention span {
  color: var(--h);
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 1.3rem;
}
.td-content ul:not(:last-child),
.td-content ol:not(:last-child),
.td-content p:not(:last-child),
.td-content h1:not(:last-child),
.td-content h2:not(:last-child),
.td-content h3:not(:last-child),
.td-content h4:not(:last-child),
.td-content .title:not(:last-child),
.td-content .subtitle:not(:last-child),
.td-content .h4:not(:last-child),
.td-content .h3:not(:last-child),
.td-content .h2:not(:last-child),
.td-content ins:not(:last-child),
.td-content .attention:not(:last-child),
.td-content blockquote:not(:last-child),
.td-content .body:not(:last-child) {
  margin-bottom: 1rem;
}
.td-content .ltr {
  direction: ltr !important;
}
.td-content .h-auto {
  height: auto !important;
}
.td-content .linkNote + br + span {
  word-wrap: break-word;
}
.td-content .recommend-blog {
  font-size: 1.2em;
  display: flex;
  gap: 2em;
  width: fit-content;
  margin: auto;
  border: 2px dashed red;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  margin-block: 2em;
  color: var(--textColorStrong) !important;
}
.td-content .recommend-blog:hover {
  border-color: #b71724;
  background-color: #fef3f4;
  text-decoration: none;
}
.td-content .recommend-blog .title {
  color: #e31e2e;
}
.td-content .recommend-blog > .img {
  flex-basis: 25%;
  flex-shrink: 0;
}
.td-content .recommend-blog > .img > img {
  width: 100%;
  max-width: unset;
  max-height: 10em;
  margin: unset;
  margin-right: auto;
  display: block;
  box-shadow: none;
  aspect-ratio: unset;
}
.td-content .recommend-blog > span {
  display: flex;
  flex-direction: column;
}
@media (max-width: 698px) {
  .td-content .recommend-blog {
    border: none;
    background-color: #f5f5f5;
    width: 100%;
    padding: 1em;
  }
  .td-content .recommend-blog .title {
    font-size: 1.2em;
  }
  .td-content .recommend-blog .img {
    display: none;
  }
}
@media (max-width: 480px) {
  .td-content .recommend-blog {
    font-size: 1.6em;
  }
  .td-content .recommend-blog .title {
    font-size: 1.2em;
  }
}
.td-content .node {
  --h_compliment: #608b68;
  --colorTheme: #608b68;
  --colorAlt: #608b68;
}
.td-content .micro {
  --h_compliment: #0052cc;
  --colorTheme: #0052cc;
  --colorAlt: #0052cc;
}
.td-content .ddd {
  --h_compliment: #27c3dd;
  --colorTheme: #27c3dd;
  --colorAlt: #27c3dd;
}
.td-content .logic {
  --h_compliment: #515e7a;
  --colorTheme: #515e7a;
  --colorAlt: #515e7a;
}
.td-content .python-project-color {
  --h_compliment: #54BAB9;
  --colorTheme: #54BAB9;
  --colorAlt: #54BAB9;
}
.td-content .csharp-project-color {
  --h_compliment: #f8ad9d;
  --colorTheme: #f8ad9d;
  --colorAlt: #f8ad9d;
}
.td-content .machine-learning-project-color {
  --h_compliment: #31E1F7;
  --colorTheme: #31E1F7;
  --colorAlt: #31E1F7;
}
.td-content .java-project-color {
  --h_compliment: #FFA5A5;
  --colorTheme: #FFA5A5;
  --colorAlt: #FFA5A5;
}
.td-content .web-design-project-color {
  --h_compliment: #f08080;
  --colorTheme: #f08080;
  --colorAlt: #f08080;
}
.td-content .django-project-color {
  --h_compliment: #a0c4ff;
  --colorTheme: #a0c4ff;
  --colorAlt: #a0c4ff;
}
.td-content .default-project-color {
  --h_compliment: #c20000;
  --colorTheme: #c20000;
  --colorAlt: #c20000;
}
.td-content .access-project-color {
  --h_compliment: #006A71;
  --colorTheme: #006A71;
  --colorAlt: #006A71;
}
.td-content .php-project-color {
  --h_compliment: #ffd670;
  --colorTheme: #ffd670;
  --colorAlt: #ffd670;
}
.td-content .orange-color {
  --h_compliment: orange;
  --colorTheme: orange;
  --colorAlt: orange;
}
.td-content .blue-theme-color {
  --h_compliment: #1d71b9;
  --colorTheme: #1d71b9;
  --colorAlt: #1d71b9;
}
.td-content .divTable .h_iframe-aparat_embed_frame, .td-content .divTable video {
  width: 52vw;
}
.td-content .cursor {
  cursor: pointer !important;
}
.td-content .collapsible::before {
  content: "+" !important;
  content: "+" !important;
  /* font-size: 0.9em; */
  color: #007bff !important;
  font-weight: 600;
  font-size: 1.3em;
}
.td-content .collapsible + .collapsibleContent {
  max-height: 0;
  overflow: hidden;
}
.td-content .collapsible + .collapsibleContent.active {
  max-height: var(--maxHeight);
}
.td-content .collapsible.active::before {
  content: "-" !important;
}
.td-content .collapsible.active + .collapsibleContent {
  overflow: visible;
}
.td-content .part {
  background-color: var(--colorTheme);
  border-radius: 0.7em;
  font-size: 1.2em;
  color: var(--colorCompliment);
  padding: 0.5em 0.7em;
  margin-bottom: 0.5em !important;
  border-bottom: none !important;
}
.td-content .part h2:not(.exception),
.td-content .part h3:not(.exception),
.td-content .part h4:not(.exception),
.td-content .part .h2:not(.exception),
.td-content .part .h3:not(.exception),
.td-content .part .h4:not(.exception) {
  margin: 0;
  margin-bottom: 0 !important;
  padding: 0;
  color: inherit;
}
.td-content .box {
  background-color: var(--colorCompliment);
  border: 0.1em solid var(--colorAlt);
  border-radius: 0.7em;
  padding: 1em 2em;
  margin-bottom: 3rem;
  --p: #383838;
}
.td-content .box.project {
  background-color: var(--colorAlt);
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas: "right left";
  gap: 6em;
  padding: 1em 5em;
}
.td-content .box.project * {
  color: var(--colorCompliment) !important;
}
.td-content .box.project .left {
  grid-area: left;
  margin-block: auto;
}
.td-content .box.project .left h4 {
  margin-top: 1em;
}
.td-content .box.project img {
  margin-block: auto;
  grid-area: right;
}
.td-content .box img {
  cursor: unset !important;
  max-width: 100%;
  height: auto;
}
.td-content .box:not(.project) > img {
  height: auto;
}
.td-content .box:not(.project) .block-img {
  width: auto;
  margin: auto;
  height: 300px;
  float: none;
  margin-bottom: 2em;
}
@media (max-width: 698px) {
  .td-content .box:not(.project) {
    padding: 1em 1em;
  }
  .td-content .box:not(.project) > img {
    float: unset;
    margin: 2em auto;
  }
  .td-content .box:not(.project) > img + span {
    margin-top: 0;
  }
  .td-content .box:not(.project) .block-img {
    width: 100%;
    height: auto;
  }
  .td-content .box.project {
    grid-template-columns: auto;
    grid-template-areas: unset;
    gap: 1em;
    padding: 2em;
  }
  .td-content .box.project > img {
    grid-area: unset;
    width: 80%;
    height: auto;
  }
  .td-content .box.project > .left {
    grid-area: unset;
  }
  .td-content .box.project.withLabel::before {
    display: none;
  }
}
@media (max-width: 698px) {
  .td-content .part {
    font-size: 1em;
  }
}
.td-content .red {
  color: red;
}
.td-content .blue {
  color: blue;
}
.td-content .green {
  color: green;
}
.td-content pre:not(.exception) {
  white-space: break-spaces;
  direction: ltr;
  text-align: left;
  background: #1F1F1F;
  color: #ffffff;
  padding: 1em;
  border-radius: 1em;
  margin: 1em 0;
  font-size: 1.1rem;
  position: relative;
  font-family: monospace !important;
}
.td-content pre:not(.exception) > button {
  background: #FFFFFF;
  padding: 0.6em 1em;
  border-radius: 0.6em;
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 12px;
  font-family: yekanbakh;
  direction: rtl;
  transition: 0.2s;
  width: 3.8em;
  white-space: nowrap;
}
.td-content pre:not(.exception) > button:hover {
  background-color: #e8e8e8;
}
.td-content pre:not(.exception) > button.copied {
  width: 5.6em;
  background-color: rgb(67, 159, 67);
  color: white;
  cursor: unset;
}
.td-content .simpleTextImage {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #97B8E1;
  border-radius: 0.8em;
  justify-content: space-between;
  padding: 1.5em 2em 1.2em 1em;
  margin-block: 2em;
  font-size: 16px;
}
.td-content .simpleTextImage > .context {
  align-self: flex-start;
}
.td-content .simpleTextImage > .context > h3 {
  font-size: 1.9em;
  color: #E9E3D5;
}
.td-content .simpleTextImage > .context > h3, .td-content .simpleTextImage > .context > p, .td-content .simpleTextImage > .context a {
  color: #FFFAE7;
  text-decoration: none;
}
.td-content .simpleTextImage > .context p {
  font-size: 1.3em;
  font-weight: 600;
}
.td-content .simpleTextImage > .context p.boldText {
  color: #565656;
}
.td-content .simpleTextImage > .context p.boldText a {
  color: #565656;
}
.td-content .simpleTextImage > img {
  width: 23em;
  flex-shrink: 0;
}
.td-content .collapsibleSection {
  display: flex;
  flex-direction: column;
}
.td-content .collapsibleSection > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 0em !important;
}
.td-content .collapsibleSection > .title::after {
  content: "";
  --wid: .3em;
  width: var(--wid);
  height: var(--wid);
  border-right: 2px solid #383838;
  border-bottom: 2px solid #383838;
  transform: rotate(45deg);
  transition: all 0.3s;
}
.td-content .collapsibleSection > .content {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}
.td-content .collapsibleSection.active > .title {
  margin-bottom: 0.5em !important;
}
.td-content .collapsibleSection.active > .title::after {
  transform: rotate(225deg);
}
.td-content .collapsibleSection.active > .content {
  height: var(--height);
}
.td-content .w-30 {
  width: 30% !important;
}
.td-content .w-50 {
  width: 50% !important;
}
.td-content .w-80 {
  width: 80% !important;
}
.td-content .newAds {
  font-size: 15px;
}
.td-content .tableOfContents {
  width: 100%;
  max-width: 30em;
  margin: auto;
  margin-block: 1.5em;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 16px;
  box-shadow: 0 0 15px #dfdfdf;
}
.td-content .tableOfContents > .title {
  display: flex;
  gap: 1em;
  align-items: center;
  font-weight: 600;
  color: #383838;
}
.td-content .tableOfContents > .title > svg {
  color: rgb(0, 139, 231);
}
.td-content .tableOfContents > .contents {
  display: flex;
  flex-direction: column;
  max-height: 23em;
  overflow: auto;
  padding-left: 1em;
  --sb-size: 6px;
  --sb-track-color: #DFDFDF;
  --sb-thumb-color: #009adc;
}
.td-content .tableOfContents > .contents::-webkit-scrollbar {
  width: var(--sb-size);
}
.td-content .tableOfContents > .contents::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}
.td-content .tableOfContents > .contents::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}
.td-content .tableOfContents > .contents > span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1em;
  color: #64748B;
  padding-block: 0.4em;
  cursor: pointer;
}
.td-content .tableOfContents > .contents > span > span {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
}
.td-content .tableOfContents > .contents > span > span::before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.6s ease-in-out;
}
.td-content .tableOfContents > .contents > span > span:hover {
  background-position: 0;
}
.td-content .tableOfContents > .contents > span > span:hover::before {
  width: 100%;
}
.td-content .tableOfContents > .contents > span:not(:last-child) {
  border-bottom: 1px solid #f1f0f0;
}
.td-content .tableOfContents > .contents > span::before {
  content: "●";
  color: #CBD5E1;
}
.td-content .tableOfContents > .contents .collapsibleContent {
  margin-bottom: 0;
}
.td-content .tableOfContents > .contents .collapsibleContent li {
  color: black;
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  padding-right: 0.5em;
}
.td-content .tableOfContents > .contents .collapsibleContent li:last-child {
  margin-bottom: 0;
}
.td-content .tableOfContents > .contents .collapsibleContent li::before {
  content: "●";
  color: #CBD5E1;
}
.td-content .tableOfContents > .contents .collapsibleContent li:hover {
  color: #54b3d6;
  transition: all 0.4s;
}
.td-content .tableOfContents > .contents .collapsible.active {
  border: none;
}
.td-content .tableOfContents > .contents .collapsible.active + .collapsibleContent {
  border-bottom: 1px solid #f1f0f0;
}
.td-content .tableOfContents.right {
  margin-inline: unset;
  margin-right: 7.5%;
}
@media (max-width: 992px) {
  .td-content .tableOfContents {
    width: 100%;
    font-size: 14px;
  }
  .td-content .tableOfContents.right {
    margin-right: 0;
    margin-inline: auto;
  }
}
@media (max-width: 1200px) {
  .td-content .divTable .h_iframe-aparat_embed_frame, .td-content .divTable video {
    width: 72vw;
    max-width: 100%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .td-content .simpleTextImage {
    flex-direction: column;
    padding: 1.3em;
  }
  .td-content .simpleTextImage > img {
    width: 100%;
    max-width: 36em;
  }
}
@media (max-width: 698px) {
  .td-content .float-img {
    float: unset;
    margin-right: inherit;
  }
  .td-content .float-img > img {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .td-content .simpleTextImage {
    font-size: 14px;
  }
  .td-content p:not(.exception),
  .td-content ol:not(.exception),
  .td-content ul:not(.exception) {
    font-size: 14px;
  }
  .td-content .h2:not(.exception), .td-content h2:not(.exception) {
    font-size: 1.35rem;
  }
  .td-content .h4:not(.exception), .td-content h4:not(.exception) {
    font-size: 1.15rem;
  }
  .td-content .h3:not(.exception), .td-content h3:not(.exception) {
    font-size: 1.25rem;
  }
  .td-content mark {
    max-width: 100%;
    margin: 0 0 1em 0;
  }
  .td-content img {
    width: 100%;
  }
  .td-content img:not(.normal) {
    width: 100%;
    max-width: 100% !important;
  }
}

.mian-col-item {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 0 20px;
  grid-auto-flow: dense;
}
.mian-col-item.hasDetials {
  grid-template-areas: "sideInfo content interaction" "sideBar content interaction" "sideBar content interaction";
}
.mian-col-item.hasDetials .sideBarInfo {
  grid-area: sideInfo;
}
.mian-col-item.hasDetials .content {
  grid-area: content;
}
.mian-col-item.hasDetials .sideBar {
  grid-area: sideBar;
}
.mian-col-item.hasDetials .interaction {
  grid-area: interaction;
}

.section-id {
  padding: 10px;
}

.theGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3em 1em;
}

.tab + a {
  cursor: pointer;
  display: block;
  color: #333;
  font-size: 1.3em;
  flex-grow: 3;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  padding: 5px 10px;
  text-align: right;
}

.tab + a:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}

.in-page-tab .tab + a {
  color: #1d3bbb;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: 1px solid #1d3bbb;
  margin: 0 5px;
  margin-bottom: 10px;
  border-radius: 5px !important;
}

.in-page-tab .tab:checked + a {
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  border: none;
  background: #f09433;
  background: -moz-linear-gradient(90deg, #fe8622 32%, #feab21 71%);
  background: -webkit-linear-gradient(90deg, #fe8622 32%, #feab21 71%);
  background: linear-gradient(90deg, #fe8622 32%, #feab21 71%);
}

.course-Details .video-part {
  display: -webkit-box;
  flex-wrap: wrap;
}

input.tab {
  display: none;
}

.TD-pagination .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row-reverse;
  padding-bottom: 1em;
}

.TD-pagination .pagination li.page-item {
  width: 32px;
  height: 30px;
  padding: 0 1px;
  text-align: center;
}

.TD-pagination .pagination li.page-item a {
  border-radius: 5px;
  text-align: center;
  color: #989898;
  padding: 12px;
  height: 30px;
}

.TD-pagination .pagination li.page-item.active a.page-link {
  border: none;
  height: 30px;
  margin: 0;
  color: #333 !important;
}

@media (max-width: 1200px) {
  .mian-col-item {
    display: flex;
    flex-direction: column-reverse;
  }
  .mian-col-item.reverse-768 {
    display: flex;
    flex-direction: column-reverse;
  }
  .mian-col-item.reverse-768.forFilms .sideInfoBar, .mian-col-item.reverse-768.bookPart .sideInfoBar {
    order: 2;
  }
  .mian-col-item.reverse-768.forFilms .sideBar, .mian-col-item.reverse-768.bookPart .sideBar {
    order: 1;
  }
  .mian-col-item.reverse-768.forFilms .content, .mian-col-item.reverse-768.bookPart .content {
    order: 3;
  }
}
