@charset "UTF-8";
/*---------------MIXINS & FUNCTIONS--------------------------*/
/*---------------MIXINS & FUNCTIONS--------------------------*/
.boxes-one {
  grid-template-columns: repeat(1, 1fr);
}

.boxes-two {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 480px) {
  .boxes-two {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-three {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .boxes-three {
    grid-template-columns: repeat(1, 1fr);
  }
}

.boxes-four {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 698px) {
  .boxes-four {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  padding: 1em;
}

.boxesAds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 595px) {
  .boxesAds {
    grid-column: 1/3;
  }
}
@media (max-width: 992px) {
  .boxesAds.boxes-two {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }
}

.loader {
  font-size: 0.8em;
  --mainColor: rgb(88, 160, 255);
  --backColor: rgb(224, 224, 224);
  --thick: .78em;
  --duration: 1.3s;
  height: 5em;
  width: 5em;
  border: var(--thick) solid var(--backColor);
  border-top: var(--thick) solid var(--mainColor);
  border-radius: 50%;
  animation: spin var(--duration) infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  margin: auto;
  margin-bottom: 1em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-areas: "logo logo logo" "links contact enamad" "links contact enamad" "text text text";
  color: var(--textColorStrong);
  background-color: white;
  padding: 4em 5em 2em;
  margin-top: 1em;
  gap: 1em;
}
footer p,
footer a {
  font-size: 1.2em;
}
footer .h5 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 600;
}
footer .logo-footer {
  grid-area: logo;
  justify-self: right;
}
footer .logo-footer img {
  height: auto;
}
footer .links-footer {
  display: grid;
  grid-area: links;
  grid-template-areas: "title title" "rightLinks leftLinks";
  grid-template-rows: 4em;
  gap: 0 2em;
}
footer .links-footer .h5 {
  grid-area: title;
}
footer .links-footer > div a {
  display: list-item;
  margin-right: 1em;
  list-style: disc;
}
footer .links-footer > div:first-child {
  grid-area: rightLinks;
}
footer .links-footer > div:last-child {
  grid-area: leftLinks;
}
footer .contact-footer {
  grid-area: contact;
}
footer .contact-footer #mobile > span {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer #mobile > span > span:nth-of-type(2) {
  flex-basis: auto;
}
footer .contact-footer p {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
}
footer .contact-footer p::before {
  content: "";
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-left: 0.5em;
  background-image: url("/Content/images/img/footerIcon1.png");
  background-repeat: no-repeat;
  background-size: 657%;
  flex-shrink: 0;
}
footer .contact-footer p:nth-of-type(1)::before {
  background-position: 0 0.1em;
}
footer .contact-footer p:nth-of-type(2)::before {
  background-position: -2.1em 0.1em;
  background-size: 533%;
}
footer .contact-footer p:nth-of-type(3)::before {
  background-position: -5.7em 0em;
}
footer .contact-footer p:nth-of-type(4)::before {
  background-position: -8.5em 0.1em;
}
footer .contact-footer p:nth-of-type(5)::before {
  background-position: -11.3em 0.1em;
}
footer .contact-footer .socialmedia-footer {
  display: flex;
  flex-wrap: wrap;
}
footer .contact-footer .socialmedia-footer a {
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.5em;
  --wid: 3em;
  width: var(--wid);
  height: var(--wid);
  background-image: url("/Content/images/img/HeaderAndFooterIcons.webp");
  background-repeat: no-repeat;
  background-size: 514%;
  background-position: 0 0;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(1) {
  background-position: -181px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(2) {
  background-position: -134px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(3) {
  background-position: -89px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(4) {
  background-position: -43px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(5) {
  background-position: 2px -81px;
}
footer .contact-footer .socialmedia-footer a:nth-of-type(6) {
  background-size: cover;
}
footer .enamad-footer {
  grid-area: enamad;
  width: 10em;
  justify-self: left;
  align-self: end;
  margin-top: 1em;
}
footer > p {
  background-color: var(--white);
  color: var(--blue);
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1em;
  grid-area: text;
  border-radius: var(--borderRadius);
  margin-top: 2em;
}
@media (max-width: 992px) {
  footer {
    grid-template-areas: "logo logo logo" "links links links" "contact contact contact" "enamad enamad enamad" "text text text";
  }
}
@media (max-width: 992px) and (min-width: 479px) {
  footer .links-footer {
    grid-template-areas: "title title" "rightLinks rightLinks" "leftLinks leftLinks";
    grid-gap: 0;
  }
  footer .links-footer > div {
    display: flex;
    flex-wrap: wrap;
  }
  footer .links-footer > div a {
    display: list-item;
    margin-right: 1em;
    list-style: disc;
    margin-left: 1.5em;
  }
  footer .links-footer > div:first-child, footer .links-footer > div:last-child {
    grid-column: 1/2;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 4em 2em 2em;
    grid-template-areas: "logo" "links" "contact" "enamad" "text ";
    grid-template-columns: 100%;
  }
  footer .enamad-footer {
    grid-column: 1/2;
    justify-self: right;
  }
}
@media (max-width: 330px) {
  footer .links-footer {
    display: block;
  }
}

.themeTitle, .themeSubtitle {
  color: #383838;
  --borderlength: 1.5rem;
  font-weight: 600;
  border-bottom: 0.19rem solid transparent;
  border-image: linear-gradient(to right, transparent 0% calc(100% - var(--borderlength)), var(--h_compliment) calc(100% - var(--borderlength)) 100%);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
  text-align: right;
  margin-bottom: 1rem;
}
.themeTitle span, .themeSubtitle span {
  color: var(--h_compliment);
}
.themeTitle.center, .themeSubtitle.center {
  text-align: center;
}

/*  instaSide   */
.instaSide {
  background-color: white;
  border-radius: 9px;
  padding: 1em;
  font-size: 16px;
}
.instaSide h2 {
  text-align: center;
  padding-bottom: 0.9em;
  color: #be1622;
  font-size: 1.3em;
}
.instaSide a {
  border: 0.25em solid #be1622;
  background-color: white;
  border-radius: 12px;
  width: 17em;
  display: block;
  margin: auto;
  padding: 0.7em;
  height: 37.7em;
  overflow: hidden;
}
.instaSide a > * {
  padding-bottom: 0.6em;
}
.instaSide a .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}
.instaSide a .header span {
  font-size: 1em;
  font-weight: 700;
}
.instaSide a .header img {
  width: 2.5em;
  border-radius: 50%;
  border: 0.2em solid #be1622;
  padding: 0.1em;
}
.instaSide a > img {
  width: 100%;
  display: block;
}
.instaSide a .options {
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;
}
.instaSide a .options > * {
  font-size: 1em;
  padding-top: 0.2em;
}
.instaSide a > p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
}

.courseGrid .instaSide {
  background: none;
  margin: 0;
  padding: 0;
  font-size: 12.5px;
}
.courseGrid .instaSide h2 {
  font-size: 1.6em;
}
.courseGrid .instaSide a {
  border: 0.3em solid #be1622;
}
.courseGrid .instaSide a .header img {
  width: 3.3em;
}
.courseGrid .instaSide a .header span {
  font-size: 1.3em;
}
.courseGrid .instaSide a .options > * {
  font-size: 1.3em;
}
.courseGrid .instaSide a > p {
  font-size: 0.85em;
}

.courseGrid .sidebarContent {
  margin: 0;
}
.courseGrid .sidebarContent .inputFlex::before {
  width: 115%;
}
.courseGrid .sidebarContent .inputContent {
  font-size: 12px;
}

.sidebarContent {
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  margin-top: 1em;
}
.sidebarContent .inputFlex {
  display: flex;
  flex-direction: column;
  margin: 1em 0.3em;
  gap: 5px;
  position: sticky;
  width: 100%;
  top: 80px;
  padding: 0 1em;
  margin: 0 -1em;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.sidebarContent .inputFlex::before {
  content: "";
  background-color: white;
  width: 107%;
  height: 8em;
  position: relative;
  bottom: 1em;
}
.sidebarContent .inputFlex > label {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 46px;
  border: 1px solid #e94d1b;
  color: #f39200;
  padding: 0.3em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 11px;
  cursor: pointer;
  z-index: 1;
  transition: top 0.3s, bottom 0.3s, background-color 0.1s;
  font-weight: 500;
  height: 2.8em;
}
.sidebarContent .inputFlex > label.active {
  background-color: #f39200;
  color: white;
  top: 46px;
  bottom: 0;
  z-index: 2;
}
.sidebarContent .inputContent {
  display: none;
  font-size: 15px;
}
.sidebarContent .inputContent a {
  cursor: pointer;
}
.sidebarContent .inputContent h3.title {
  color: #2170b7;
  text-align: center;
  font-size: 1.1em;
  padding: 0.9em 0;
  line-height: 1.4em;
}
.sidebarContent .inputContent ol li {
  margin-bottom: 0.4em;
  list-style: decimal outside;
  margin-right: 1em;
}
.sidebarContent .inputContent ol li .fa-arrow-alt-circle-down {
  color: #2170b7;
}
.sidebarContent .inputContent ol li .item {
  line-height: 1.5em;
  margin-left: 0.5em;
}
.sidebarContent .inputContent.i2 li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1em;
  margin-bottom: 1em;
}
.sidebarContent .inputContent.i2 li .course {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 1.2em;
}
.sidebarContent .inputContent.i2 li:first-child {
  margin-top: 1em;
}
.sidebarContent .inputContent.active {
  display: block;
}

section#comments {
  --radiusBig: 1em;
  --radiusSmall: .7em;
  --shadow: 0px 0px 20px rgb(0 0 0 / 8%);
  --borderColor: #e0e0e0;
  --borderColorLight: #ebebeb;
  --textColorLight: #6f6f6f;
  --textColorSolid: black;
  color: var(--textColorLight);
  font-size: 16px;
  width: 96%;
  margin: auto;
  margin-top: 4em;
  grid-column: 1/3;
}
section#comments button {
  background-color: var(--color);
  border-radius: 0.7em;
  color: white;
  padding: 0.8em;
  --color: #4E7C9D;
}
section#comments .mainTitle {
  --color: #C39C1B;
  text-align: center;
  margin-bottom: 0.9em;
  font-size: 1.6em;
  color: #383838;
}
section#comments .mainTitle span {
  color: var(--color);
}
section#comments .mainTitle::after {
  content: "";
  display: block;
  height: 1em;
  width: 0.1em;
  background-color: var(--color);
  margin: 0.3em auto;
}
section#comments .validationMsg {
  overflow: hidden;
  max-height: 0;
  color: red;
  font-size: 0.9rem;
  display: block;
  transition: 0.2s;
}
section#comments .validationMsg.show {
  max-height: 3em;
}
section#comments .commentReplyForm,
section#comments > div {
  background-color: #FFFFFF;
  border-radius: var(--radiusBig);
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: var(--shadow);
}
.commentReplyForm {
  --color: #4E7C9D;
  --borderColor: #e0e0e0;
  --radiusSmall: .7em;
  font-size: 0.7em;
}
.commentReplyForm > button[type=submit] {
  display: none;
}
.commentReplyForm > *:not(:last-child) {
  margin-bottom: 0.7em;
}
.commentReplyForm p {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--textColorSolid);
}
.commentReplyForm label {
  display: block;
  font-size: 1.4em;
  text-indent: 0.6em;
  color: grey;
}
.commentReplyForm label > div {
  display: flex;
  flex-wrap: wrap;
}
.commentReplyForm label > div > .validationMsg {
  order: 3;
  width: 100%;
  flex-shrink: 0;
}
.commentReplyForm textarea,
.commentReplyForm input {
  display: block;
  border: 0.1em solid var(--borderColor);
  resize: none;
  overflow: hidden;
  border-radius: var(--radiusSmall);
  font-family: inherit;
  color: inherit;
  padding: 1em 1em;
  font-size: 1.5em;
}
.commentReplyForm textarea {
  width: 100%;
  min-height: 10em;
  font-size: 1.5em;
  color: grey;
}
.commentReplyForm textarea.error {
  border-color: red;
}
.commentReplyForm input {
  max-width: unset;
  width: 25%;
  padding: 0.2em 1em;
  font-size: 1.078em;
}
.commentReplyForm button {
  display: block;
  margin-right: auto;
  font-size: 1.1em;
  background-color: var(--color);
  border-radius: 0.7em;
  color: white;
  padding: 0.8em;
  --color: #4E7C9D;
}

section#comments .content,
section#comments .reply {
  padding: 1em 1.6em;
}
section#comments .content p,
section#comments .reply p {
  padding-top: 0.5em;
}
section#comments .content > div,
section#comments .reply > div {
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid var(--borderColorLight);
}
section#comments .content > div > img,
section#comments .reply > div > img {
  --wid: 2.7em;
  object-fit: scale-down;
  width: var(--wid);
  height: var(--wid);
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
}
section#comments .content > div > span,
section#comments .reply > div > span {
  display: block;
}
section#comments .content > div > span:first-of-type,
section#comments .reply > div > span:first-of-type {
  font-weight: 600;
}
section#comments .content > div:not(.reply),
section#comments .reply > div:not(.reply) {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  gap: 1em;
}
section#comments .content > div:not(.reply) > button,
section#comments .reply > div:not(.reply) > button {
  margin-right: auto;
}
section#comments .content > span,
section#comments .reply > span {
  color: var(--textColorSolid);
  font-weight: 700;
  font-size: 1.3em;
  line-height: 2em;
  padding-top: 0.3em;
  display: inline-block;
}
section#comments .content > a,
section#comments .reply > a {
  background-color: white;
  display: block;
  border-radius: 0.6em;
  font-size: 0.8em;
  padding: 0.4em 1em;
  margin-bottom: 1em;
}
section#comments .content button,
section#comments .reply button {
  display: flex;
  gap: 0.7em;
}
section#comments .content button::before,
section#comments .reply button::before {
  content: "";
  display: inline-block;
  --wid: 1.4em;
  width: var(--wid);
  height: var(--wid);
  background-image: url("/Content/images/img/Chat.png");
  background-size: contain;
}
section#comments .content > button,
section#comments .reply > button {
  display: none;
}
section#comments .content.reply,
section#comments .reply.reply {
  font-size: 1em;
  margin-top: 1em;
  background-color: #F2F2F2;
  border-radius: var(--radiusBig);
  padding: 1em 1.5em 0.3em;
  --borderColorLight: white;
}
section#comments .content.reply button,
section#comments .reply.reply button {
  background-color: transparent;
  color: var(--color);
  font-weight: 700;
  gap: 0.2em;
  margin-top: 0;
}
section#comments .content.reply button::before,
section#comments .reply.reply button::before {
  background-image: url("/Content/images/img/Reply.png");
  --wid: 1.3em;
}
section#comments .content.reply.admin,
section#comments .reply.reply.admin {
  background-color: #DCE5EA;
}
section#comments .font-bold a {
  text-decoration: underline;
}
@media (max-width: 698px) {
  section#comments .commentReplyForm > button[type=submit] {
    display: block;
    font-size: 1.4em;
  }
  section#comments .commentReplyForm input {
    width: 100%;
    padding: 0.6em 1em;
  }
  section#comments label > div button[type=submit] {
    display: none;
  }
}
@media (max-width: 480px) {
  section#comments .content {
    font-size: 0.9em;
  }
  section#comments .content > div:not(.reply) > button {
    display: none;
  }
  section#comments .content > button {
    display: flex;
    margin-top: 1em;
  }
}

.intraction {
  text-align: center;
  position: sticky;
  top: 20px;
  align-self: start;
  grid-row: 1/2;
  grid-column: 3/4;
}
.intraction ul {
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 1em 0.8em 0.4em;
  position: relative;
}
.intraction ul li {
  color: rgba(0, 0, 0, 0.5098039216);
  display: block;
  font-size: 0.9em;
}
.intraction ul li:not(:nth-child(4)) {
  margin-bottom: 1.5em;
}
.intraction ul li:nth-child(3) {
  position: relative;
}
.intraction ul li:nth-child(3) i {
  cursor: pointer;
  position: relative;
}
.intraction ul li:nth-child(3) .copied::after {
  content: "کپی شد";
  position: absolute;
  left: 151%;
  top: -23%;
  background-color: #696969;
  color: #fff;
  z-index: 3;
  width: 4em;
  border-radius: 7px;
  padding: 0.5em 0.3em;
  font-family: yekanBakh;
  font-size: 0.7em;
}
.intraction ul li:nth-child(3) .showShare {
  top: -50%;
  transform: translateY(45%);
  left: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.3em 0.5em;
  display: none;
  margin-left: 1em;
  justify-content: space-between;
  align-items: center;
}
.intraction ul li:nth-child(3) .showShare > div {
  display: flex;
}
.intraction ul li:nth-child(3) .showShare > div a {
  margin-left: 1em;
}
.intraction ul li:nth-child(3) .showShare a {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.intraction ul li:nth-child(3) .showShare a.copyUrl i {
  margin-right: 0.3em;
}
.intraction ul li:nth-child(3) .showShare.active {
  display: flex;
}
.intraction ul li a {
  font-size: 1em;
  cursor: pointer;
  line-height: 0.5em;
}
.intraction ul li a.active {
  color: #0072BB;
}
.intraction ul li a.active i {
  font-weight: 600;
}
.intraction ul li a sub {
  display: block;
}
.intraction ul li a i {
  font-size: 1.4em;
}
.intraction ul li.progress-bar {
  position: relative;
  margin: auto;
  height: 5em;
  background-color: rgba(0, 0, 0, 0.09);
  width: 1px;
  margin-top: 10px;
}
.intraction ul li.progress-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  display: inline;
  display: none;
}
.intraction ul li.progress-bar .bar:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  transform: translateX(-1px);
  bottom: 0;
  border-radius: 50%;
}
.intraction ul li.progress-bar .bar,
.intraction ul li.progress-bar .bar:after {
  background-color: #0072BB;
}
.intraction button {
  background-color: transparent;
}

ul.social-weblog-horizontal li:first-child a:hover, ul.social-weblog-horizontal li:first-child a.active {
  color: var(--redColor);
}
ul.social-weblog-horizontal li:nth-child(4) a.active i {
  color: #0072BB;
}
ul.social-weblog-horizontal li a {
  cursor: pointer;
}
ul.social-weblog-horizontal li a.active i {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .intraction {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    top: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.231372549);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.231372549);
    z-index: 3;
  }
  .intraction ul {
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0.8em 0.5em;
  }
  .intraction ul li {
    color: rgba(0, 0, 0, 0.5294117647);
  }
  .intraction ul li.progress-bar {
    display: none;
  }
  .intraction ul li:not(:last-child) {
    margin-bottom: 0;
  }
  .intraction ul li a {
    direction: ltr;
  }
  .intraction ul li a sub {
    display: inline-block;
  }
  .intraction ul li a i {
    font-weight: 600;
  }
  .getUp {
    bottom: 60px;
  }
}
.section-id {
  padding: 10px;
}

.mian-col-item {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 0 20px;
  grid-auto-flow: dense;
}
.mian-col-item.hasDetials {
  grid-template-areas: "sideInfo content interaction" "sideBar content interaction" "sideBar content interaction";
}
.mian-col-item.hasDetials .sideBarInfo {
  grid-area: sideInfo;
}
.mian-col-item.hasDetials .content {
  grid-area: content;
}
.mian-col-item.hasDetials .sideBar {
  grid-area: sideBar;
}
.mian-col-item.hasDetials .interaction {
  grid-area: interaction;
}

.course-Details-dec {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  font-size: 1.2em;
}

.course-Details-dec .course-Details-dec-header {
  background: #02cde7;
  height: 45px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 5px auto;
  padding: 14px 15px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-Details-dec .course-Details-dec-header h5 {
  color: #fff;
  text-align: center;
  font-size: 1.3em;
}

.course-Details-dec ul {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 1em;
}

.course-Details-dec ul .course-Details-dec-row {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 5px;
  height: 45px;
  border-bottom: 1px solid #02cde7;
}

.course-Details-dec ul .dec-prerequisites {
  grid-template-columns: 18% 82%;
}

.course-Details-dec ul .course-Details-dec-row .titr-row {
  font-weight: 600;
  display: grid;
  grid-template-columns: 30px auto;
  font-size: 1em;
}

.course-Details-dec ul .course-Details-dec-row .titr-row i {
  font-size: 20px;
  padding: 5px;
}

.course-Details-dec ul .course-Details-dec-row .titr-row label {
  font-size: 1em;
  margin-bottom: 0;
}

.course-Details-dec ul .course-Details-dec-row .dec-details {
  font-size: 1em;
  opacity: 0.8;
  text-align: left;
  margin-left: 5%;
  font-weight: 100;
  white-space: nowrap;
}

.course-Details-dec ul .course-Details-dec-row {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 5px;
  height: 45px;
  border-bottom: 1px solid #02cde7;
}
.course-Details-dec ul .course-Details-dec-row:last-child {
  border: none;
}

.add-rate {
  padding: 15px 4%;
}

.add-rate .Comment-card {
  background: #f4f4f4;
  box-shadow: none;
  border: none;
  width: 98%;
  margin: 10px auto;
  height: auto;
  font-size: 1.1em;
}

.flex-edu-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8d8d8d;
  padding-bottom: 0em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.div-edu-download {
  margin-bottom: 0.9em;
}

.div-edu-download i {
  font-size: 20px;
}

.green {
  color: #05890f;
}

.div-edu-download .red {
  color: #bb0808;
}

.btn-save-like {
  color: #cf1716;
  background-color: transparent;
  cursor: pointer;
}

.add-rate .commnet-card-footer.grid {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  border: none;
}

.star-rating .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.btn-save-like:hover {
  color: #03a9f4;
}

.stars-more {
  text-align: center;
}

table.list-movie {
  width: 94%;
  margin: 0px auto;
}

.play-list-table .track-part {
  display: flex;
  justify-content: space-around;
  border: 1px solid #cacaca;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px #cacaca;
  padding: 10px 10px;
  margin-bottom: 1em;
}

.play-list-table .track-part.active {
  background: #b1f5fe;
}

.play-list-table .track-part .btn-control {
  display: flex;
  gap: 5px;
}

.play-list-table .track-part .track-name {
  margin-right: 3%;
  margin-top: 3px;
  overflow: hidden;
}

.play-list-table .track-part .btn-control .btn-co {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #979797;
}

.play-list-table .track-part .btn-control .btn-co img {
  padding: 8px;
  width: 100%;
}

.edu-download .add-rate {
  padding: 0 2%;
}

.edu-download {
  background-color: #f4f4f4;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 8px;
  position: relative;
}

.projectImage {
  width: auto;
  max-width: 45%;
  margin: auto;
}

@media (max-width: 1200px) {
  .mian-col-item.reverse-768 {
    display: flex;
    flex-direction: column-reverse;
  }
  .mian-col-item.reverse-768.forFilms .sideInfoBar, .mian-col-item.reverse-768.bookPart .sideInfoBar {
    order: 2;
  }
  .mian-col-item.reverse-768.forFilms .sideBar, .mian-col-item.reverse-768.bookPart .sideBar {
    order: 1;
  }
  .mian-col-item.reverse-768.forFilms .content, .mian-col-item.reverse-768.bookPart .content {
    order: 3;
  }
}
