@use "../../components/_font-sizes.scss" as f;
@use "../../source/_Variables.scss" as v;

#consultModal {
  --bg: #C5EEFF;
  --btn: #295F98;
  background: var(--bg);
  margin: auto;
  padding: 2rem;
  font-size: var(--text-lg);
  width: 85vw;
  display: grid;
  grid-template-columns: 45% 23% 23%;
  grid-template-rows: 5rem 4rem 4rem 4rem;
  gap: 2rem 1rem;
  border-radius: .5rem;
  padding: 2%;
  position: relative;
  color: #363636;

  * {
    @include f.text-size(lg)
  }

  input,button,select {
    color: gray;
    padding-inline: 1rem;
    border-radius: .3rem;
    border: .15rem solid var(--btn);
    background: white;
    width: 100%;
  }
  input,select {
    /* font-size: var(--text-sm); */
    height: 100%;
  }

  .validationMsg {
    color: red;
    font-size: var(--text-md);
    display: none;
    margin-top: .2rem;
    &.show {display: block;}
  }
  .validationError {
    border-color: red;
  }

  .full {
    grid-column: 2/4;
  }
  img {
    grid-row: 1/5;
    height: 100%;
    width: auto;
    margin: auto;
    transform: scale(1.7) translateY(2.2rem);
    transform-origin: bottom;
    z-index: 200;
  }
  i {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    padding: 1rem;
    font-size: var(--text-2xl);
    cursor: pointer;
  }
  p {
    text-align: unset !important;
  }
  button {
    background: var(--btn);
    color: white;
    font-weight: 900;
  }

  @include v.media(v.$tablet) {
    grid-template-columns: auto;
    grid-template-rows: auto 3.5rem 3.5rem 3.5rem 3.5rem;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    .full {
      grid-row: unset;
      grid-column: unset;
    }
    img {
      display: none;
    }
  }
}
